<%# required: question_form, question_form.question %>
<% question = question_form.question %>

<div id="question-modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Pregunta</h4>
      </div>

      <div class="alerts-container">
      </div>

      <%= form_for question_form, as: :question, url: question_form_path(question_form,type: question.class.name),
        remote: true, method: (question.new_record? ? :post : :patch) do |f| %>

        <div class="modal-body">
          <div class="form-group">
            <%= f.check_box :published %>
            <%= f.label :published, "Publicado" %>
          </div>

          <%= render "quizer/questions/#{question_form.class.name.demodulize.underscore}",
            question_form: question_form, form: f %>

          <div class="form-group">
            <%= f.label :explanation %>
            <%= f.text_area :explanation, class: "form-control" %>
          </div>
        </div><!-- .modal-body -->
        <div class="modal-footer">
          <%= f.button "Guardar", class: 'btn btn-primary'  %>
        </div>
      <% end %>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div>
