<div class="new-site">
  <%= render "pages/navigation" %>
  <div class="container login">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1 class="text-center">Ingreso</h1>
        <p>Si eres estudiante de Make it Real, ingresa a la plataforma con tu cuenta de Slack. Si no eres estudiante, te invitamos a que conozcas nuestros programas de <%= link_to "Desarrollador Web Front End", front_end_web_developer_path %> y de <%= link_to "Desarrollador Web Full Stack en Ruby on Rails.", full_stack_web_developer_path %></p>
        <%= form_tag controller: :sessions, action: :create do %>
          <div class="btn-social row">
              <%= link_to '<i class="fa fa-slack"></i> <span class="visible-lg-inline">Ingresar con </span>Slack'.html_safe, '/auth/slack', class: "btn btn-main", id: "sign-in-slack"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
