<div class="container login">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_tag controller: :sessions, action: :create do %>
        <div class="form-group">
          <%= label_tag(:email, "Email") %>
          <%= email_field_tag(:email, nil, class: 'form-control input-lg') %>
        </div>
        <div class="form-group">
          <%= label_tag(:password, "Password") %>
          <%= password_field_tag(:password, nil, class: 'form-control input-lg') %>
        </div>
        <div class="text-right"><%= submit_tag("Ingresar", class: 'btn btn-primary btn-lg btn-block') %></div>
        <%= link_to "Restablecer la contraseña", new_password_resets_path, remote: true %>
      <% end %>
    </div>
  </div>
</div>
