<div class="new-site login-page">
  <%= render "layouts/navbar/pages_dark", hide_login: true %>
  <% flash.each do |type, msg| %>
    <%= render "shared/alert", msg: msg, type: type %>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

        <div class="login">
          <div class="login-body">
            <p>Si eres estudiante presencial de <%= link_to "Make it Real", root_path %> ingresa con tu con tu email y contraseña</p>

            <%= form_tag controller: :sessions, action: :create do %>
              <div class="form-group">
                <%= email_field_tag(:email, nil, class: 'form-control', placeholder: "Email", autofocus: true) %>
              </div>
              <div class="form-group">
                <%= password_field_tag(:password, nil, class: 'form-control', placeholder: "Contraseña") %>
              </div>
              <div class="text-right"><%= submit_tag("Ingresar", class: 'btn btn-primary btn-lg btn-block') %></div>
            <% end %>

            <div class="login-onsite-text text-right">
              <div><%= link_to "Olvidé mi contraseña", new_password_reset_path, remote: true %></div>
              <div>Si eres estudiante online <%= link_to "ingresa aquí", login_path %></div>
            </div>
          </div>
          <div class="login-footer">
            <p class="small">¿Aún no eres estudiante? Conoce <a href="/#anchor">nuestros programas</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
