<div class="container login">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_for :password_reset, url: password_reset_path(token: @password_reset.token), method: :patch do |f| %>
        <h1>Restablecer Contrase単a</h1>
        <%= render 'shared/flash_messages_form', object: @password_reset  %>
        <%= f.hidden_field :token %>
        <div class="form-group">
          <%= f.label :password, "Contrase単a"  %>
          <%= f.password_field :password, class: 'form-control input-lg' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmar contrase単a" %>
          <%= f.password_field :password_confirmation, class: 'form-control input-lg' %>
        </div>

        <div class="text-right"><%= f.submit("Cambiar Contrase単a", class: 'btn btn-primary btn-lg btn-block') %></div>
      <% end %>
    </div>
  </div>
</div>
