<p>Hola<%= @user.first_name? ? " #{@user.first_name}" : "" %>,</p>

<p>El maker <%= link_to @maker.email, user_profile_url(@maker.nickname) %> ha publicado una solución al proyecto <strong><%= @project.name %></strong>:</p>

<p><strong>Resumen:</strong></p>
<blockquote><%= @solution.summary %></blockquote>

<p><strong>Repositorio:</strong> <a href="https://github.com/<%= @solution.repository %>" target="_blank">https://github.com/<%= @solution.repository %></a></p>
<p><strong>URL:</strong> <a href="<%= @solution.url %>" target="_blank"><%= @solution.url %></a></p>

<div class="button-wrapper">
  <%= link_to "Ir a la solución en la plataforma", subject_project_project_solution_url(@project.subject, @project, @solution), class: "button" %>
</div>

<p>Te deseo un muy buen día,</p>

<p class="signature">
  <strong>Plataforma de Aprendizaje</strong><br>
  <strong>makeitreal.camp</strong>
</p>
