<div class="summary-email" style="max-width: 600px;width: 100%">
  <div class="logo" style="text-align: center">
    <a href="http://www.makeitreal.camp" target="_blank" class="logo-email" style="color: #ff4300;text-decoration: none;">
      <img src="https://s3.amazonaws.com/makeitreal/email-assets/logoMirEmail.png" alt="Make it Real" style="width:162px;">
    </a>
  </div>
  <p class="text-center" style="text-align: center">Hola<%= @user.first_name? ? " #{@user.first_name}" : "" %>, Te traemos un resumen de tu semana en Make it Real:</p>
  <div class="nivel-actual text-center" style="text-align: center;margin: 15px 0">
    <div class="level-image-container">
      <span class="txt-bold" style="font-weight: bold">Tu nivel actual</span><br>
      <%= image_tag @user.level.image_url, {:style => 'margin: 10px 0; width: 95px;'} %>
    </div>
  </div>

  <table class="summary-table" style="width: 100%;border-collapse: collapse;border-spacing: 0">
    <tbody>
      <tr>
        <td class="text-left" style="border: 1px solid #ddd;padding: 10px;text-align: left">Retos resueltos</td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right"><%= @solved_challenges.count %></td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right">
          <% if @solved_challenges.empty? %>
            :(
          <% else %>
            <p>Algunos de los retos que solucionaste:</p>
            <% @solved_challenges.limit(3).each do |c| %>
              <p><%= link_to c.name_for_notification, c.url_for_notification %></p>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="text-left" style="border: 1px solid #ddd;padding: 10px;text-align: left">Recursos completados</td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right"><%= @completed_resources.count %></td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right">
          <% if @completed_resources.empty? %>
            :(
          <% else %>
            <p>Algunos de los recursos que completaste:</p>
            <% @completed_resources.limit(3).each do |r| %>
              <p><%= link_to r.name_for_notification, r.url_for_notification %></p>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="text-left" style="border: 1px solid #ddd;padding: 10px;text-align: left">Proyectos terminados</td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right"><%= @finished_projects.count %></td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right">
          <% if @finished_projects.empty? %>
            :(
          <% else %>
            <p>Algunos de los proyectos que terminaste:</p>
            <% @finished_projects.limit(3).each do |p| %>
              <% project_solution = @user.project_solutions.find_by_project_id(p.id) %>
              <p><%= link_to project_solution.name_for_notification, project_solution.url_for_notification %></p>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="text-left" style="border: 1px solid #ddd;padding: 10px;text-align: left">Medallas recibidas</td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right"><%= @received_badges.count %></td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right">
          <% if @received_badges.empty? %>
            :(
          <% else %>
            <p>Algunas de las medallas que recibiste:</p>
            <% @received_badges.limit(3).each do |b| %>
              <img class="badge" src="<%= b.image_url%>" alt="<%= b.name%>" />
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="text-left" style="border: 1px solid #ddd;padding: 10px;text-align: left">Puntos recibidos</td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right"><%= @received_points.count %></td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right">
          <% if @received_points.empty? %>
            :(
          <% else %>
            :D
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="text-left" style="border: 1px solid #ddd;padding: 10px;text-align: left">Puntos para avanzar al siguiente nivel</td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right"><%= @user.next_level.required_points %></td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right">
            :D
        </td>
      </tr>

      <tr>
        <td class="text-left" style="border: 1px solid #ddd;padding: 10px;text-align: left">Notificaciones sin leer</td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right"><%= @unread_notifications.count %></td>
        <td style="border: 1px solid #ddd;padding: 10px;text-align: right">
          <%= link_to "Revisar notificaciones", root_url, {:style => 'color: #ff4300'} %>
        </td>
      </tr>

    </tbody>
  </table>


  <p class="text-center" style="text-align: center">Saludos,</p>
  <p class="signature text-center" style="text-align: center">
    <span class="txt-bold" style="font-weight: bold">Equipo Make it Real</span><br>
    <a href="http://www.makeitreal.camp" target="_blank" style="color: #ff4300;text-decoration: none">makeitreal.camp</a>
  </p>
  <div class="mir-icon" style="text-align: center;margin-top: 15px">
    <img src="https://s3.amazonaws.com/makeitreal/email-assets/iconMirEmail.png" alt="Make it Real" style="width:26px;">
  </div>
</div>
