<link rel="stylesheet" href="user_mailer.css" >

<div class="summary-email">
  <p>Hola<%= @user.first_name? ? " #{@user.first_name}" : "" %>,</p>

  <p>Te traemos un resumen de tu semana en Make it Real:</p>

  <table class="summary-table">
    <tbody>
      <tr>
        <td>Retos resueltos</td>
        <td><%= @solved_challenges.count %></td>
        <td>
          <% if @solved_challenges.empty? %>
            :(
          <% else %>
            <p>Algunos de los retos que solucionaste:</p>
            <% @solved_challenges.limit(3).each do |c| %>
              <p><%= link_to c.name_for_notification, c.url_for_notification %></p>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>Recursos completados</td>
        <td><%= @completed_resources.count %></td>
        <td>
          <% if @completed_resources.empty? %>
            :(
          <% else %>
            <p>Algunos de los recursos que completaste:</p>
            <% @completed_resources.limit(3).each do |r| %>
              <p><%= link_to r.name_for_notification, r.url_for_notification %></p>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>Proyectos terminados</td>
        <td><%= @finished_projects.count %></td>
        <td>
          <% if @finished_projects.empty? %>
            :(
          <% else %>
            <p>Algunos de los proyectos que terminaste:</p>
            <% @finished_projects.limit(3).each do |p| %>
              <% project_solution = @user.project_solutions.find_by_project_id(p.id) %>
              <p><%= link_to project_solution.name_for_notification, project_solution.url_for_notification %></p>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>Medallas recibidas</td>
        <td><%= @received_badges.count %></td>
        <td>
          <% if @received_badges.empty? %>
            :(
          <% else %>
            <p>Algunas de las medallas que recibiste:</p>
            <% @received_badges.limit(3).each do |b| %>
              <img class="badge" src="<%= b.image_url%>" alt="<%= b.name%>" />
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>Puntos recibidos</td>
        <td><%= @received_points.count %></td>
        <td>
          <% if @received_points.empty? %>
            :(
          <% else %>
            :D
          <% end %>
        </td>
      </tr>

      <tr>
        <td>Notificaciones sin leer</td>
        <td><%= @unread_notifications.count %></td>
        <td>
          <%= link_to "Revisar notificaciones", root_url %>
        </td>
      </tr>

    </tbody>
  </table>


  <p>Saludos,</p>

  <p class="signature">
    Equipo Make it Real<br>
    makeitreal.camp
  </p>
</div>
