<article class="discussion-entry" id="<%= comment.id %>">

  <div class="discussion-entry-inner">
    <div class="discussion-icon">
      <img src="<%= comment.user.avatar_url %>" class="img-circle img-responsive" />
    </div>

    <div class="discussion-label">
      <h2>
        <strong>
          <% if current_user.is_admin? %>
            <%= link_to comment.user.first_name, admin_user_path(comment.user) %>
          <% else %>
            <%= comment.user.first_name %>
          <% end %>
        </strong>
          <span class="date">
            <%= distance_of_time_in_words_to_now(comment.created_at) %>
          </span>
      </h2>

      <%= button_delete(comment) if current_user.is_admin? %>

      <p><%= markdown comment.text %></p>
    </div>
  </div>

</article>
