<%# required: commentable %>
<div class="discussion">
  <%= form_tag '#', remote: true, class: "comment-form" do |f| %>
    <div class="media">
      <div class="media-left">
        <img src="<%= Gravatar.new("#{current_user.email}").image_url %>"
          class="img-circle media-object comment-form-avatar"/>
      </div>
      <div class="media-body" class="comment-input-wrapper">
        <%= text_area_tag(:text, nil ,id: "comment-input",class: "form-control", required: true, autofocus: true,
          placeholder: [
            "¿Qué aprendiste de este challenge?",
            "¿Qué fue lo más retador de este challenge?",
            "¿Qué fue lo que más te gustó de este challenge?",
            "¿Qué fue lo más divertido de este challenge?"
            ].shuffle.first
        ) %>
      </div>
      <button class="btn btn-primary pull-right btn-send-comment hidden" type="submit">
        Comentar
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  <% end %>
  <div class="comments">
  </div>
</div>

<script type="x/template" id="comment-template">
  <article class="discussion-entry">

    <div class="discussion-entry-inner">
      <div class="discussion-icon">
        <img src="{{= avatar_url }}" class="img-circle img-responsive" />
      </div>

      <div class="discussion-label">
        <h2><strong>{{= author }}</strong> <span class="date">hace {{= moment(date).fromNow({locale: "es"}) }}</span></h2>
        <p>{{= text.replace(/\n\r?/g, '<br />') }}</p>
      </div>
    </div>

  </article>
</script>

<script>
  (function() {
    var commentsView = new CommentsView(
      "<%= generate_comments_path(commentable) %>",
      {first_name: "<%=current_user.first_name%>",avatar_url:"<%= current_user.avatar_url%>"}
    );

    $(document).on("page:before-change", function() {
      commentsView.remove();
    });
  })();
</script>
