<article class="comment" id="comment-<%= comment.id %>">
  <div class="comment-header">
    <div class="comment-user">
      <img src="<%= comment.user.avatar_url %>" class="img-rounded img-responsive" />
      <div>
        <div class="comment-name"><%= comment.user.first_name %></div>
        <div class="comment-date">Hace <%= distance_of_time_in_words_to_now(comment.created_at) %></div>
      </div>
    </div>
  </div>

  <div class="comment-body">
    <%= form_tag comment_path(comment), method: :put, remote: true, class: "edit-comment" do   %>
      <%= text_area_tag :text, comment.text, id: "comment-input", class: "form-control", rows: 4, placeholder: "Texto"  %>

      <div class="text-right actions" style="margin-top: 10px;">
        <%= link_to "Cancelar", cancel_edit_comment_path(comment), class: "btn btn-default btn-cancel", remote: true %>
        <%= submit_tag "Actualizar", class: "btn btn-success", id: "btn-update" %>
      </div>
    <% end %>
  </div>
</article>
