<form id="application-form" action="/application/top" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :top_invitation_id, top_invitation.id %>
  <div class="modal-body">
    <div class="application-1">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" id="first-name" name="applicant[first_name]" value="<%= applicant.first_name%>" class="form-control" placeholder="Nombres">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" id="last-name" name="applicant[last_name]" value="<%= applicant.last_name%>" class="form-control" placeholder="Apellidos">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="birthday">Fecha de nacimiento</label>
            <input type="text" id="birthday" name="applicant[birthday]" value="<%= applicant.birthday %>" class="form-control" placeholder="dd/mm/aaaa" data-datetimepicker="true">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="gender">Me identifico como <%= applicant.gender %></label>
            <%= select_tag "applicant[gender]", options_for_select([["Hombre", "male"], ["Mujer", "female"], ["LGTBQ+", "LGTBQ+"], ["Otro", "other"]], applicant.gender), include_blank: "Selecciona", class: "form-control", id: "gender" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="country">País de residencia</label>
            <%= select_tag "applicant[country]", countries_options(applicant.country), class: "form-control", id: "country" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" id="mobile-wrapper">
            <label for="mobile">Teléfono</label>
            <div class="input-group">
              <span class="input-group-addon" id="mobile-code">+00</span>
              <input type="tel" class="form-control" id="mobile" name="applicant[mobile]" value="<%= applicant.mobile %>" placeholder="Número móvil">
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="linkedin">LinkedIn URL</label>
            <input type="text" id="linkedin" name="applicant[url]" value="<%= applicant.url %>" class="form-control">
          </div>
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="format">Modalidad</label>
            <select id="format" class="form-control" name="applicant[format]">
              <option value="">Selecciona</option>
              <option value="format-partial">Tiempo parcial</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row" id="fulltime-scheme">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="payment-method-fulltime">Esquema de pago</label>
            <select id="payment-method-fulltime" class="form-control" name="applicant[payment_method]">
              <option value="">Selecciona</option>
              <option value="scheme-3"></option>
              <option value="scheme-1"></option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" id="partime-scheme" style="display: none;">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="payment-method-partime">Esquema de pago</label>
            <select id="payment-method-partime" class="form-control" name="applicant[payment_method_2]" >
              <option value="">Selecciona</option>
              <option value="scheme-3"></option>
              <option value="scheme-2"></option>
              <option value="scheme-1"></option>
            </select>
          </div>
        </div>
      </div>
      <div id="can-work" style="display: none;">
        <small><strong>Esquema de pago válido sólo para nacionales/residentes de Colombia, México, Perú, Costa Rica o Chile. Si no cumples con el requisito, selecciona otra opción</strong></small>
      </div>
    </div>
    

    <div class="application-2" style="display: none;">
      <p style="margin-bottom: 20px;">Por favor responde las siguientes preguntas con el mayor detalle posible:</p>
      <div class="form-group">
        <label for="goal">¿Por qué estás interesado(a) en el programa?</label>
        <textarea id="goal" name="applicant[goal]" class="form-control" rows="3" placeholder="¿Cuál es tu motivación? ¿Cuáles son tus objetivos?"></textarea>
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="experience">¿Cuál es tu nivel actual de conocimiento en programación?</label>
        <textarea id="experience" name="applicant[experience]" class="form-control" rows="3" placeholder="Cuéntanos cuál es tu profesión, cursos que hayas completado, conocimientos previos, proyectos personales, etc."></textarea>
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="additional">¿Hay algo más que debamos saber de ti?</label>
        <textarea id="additional" name="applicant[additional]" class="form-control" rows="3" placeholder="Un hobby, una anécdota o un logro personal"></textarea>
        <span class="help-block"></span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default back">&lt;&lt; Atrás</button>
    <button type="button" class="btn btn-primary btn-lg application-step-btn">Siguiente</button>
    <button type="button" class="btn btn-primary btn-lg submit">Enviar</button>
  </div>
</form>