<form id="application-form" action="/application/top" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :top_invitation_id, top_invitation.id %>
  <div class="modal-body">
    <div class="application-1">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" id="first-name" name="applicant[first_name]" value="<%= applicant.first_name%>" class="form-control" placeholder="Nombres">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" id="last-name" name="applicant[last_name]" value="<%= applicant.last_name%>" class="form-control" placeholder="Apellidos">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="birthday">Fecha de nacimiento</label>
            <input type="text" id="birthday" name="applicant[birthday]" value="<%= applicant.birthday %>" class="form-control" placeholder="dd/mm/aaaa" data-datetimepicker="true">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="gender">Me identifico como <%= applicant.gender %></label>
            <%= select_tag "applicant[gender]", options_for_select([["Hombre", "male"], ["Mujer", "female"], ["LGTBQ+", "LGTBQ+"], ["Otro", "other"]], applicant.gender), include_blank: "Selecciona", class: "form-control", id: "gender" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="country">País de residencia</label>
            <%= select_tag "applicant[country]", countries_options(applicant.country), class: "form-control", id: "country" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" id="mobile-wrapper">
            <label for="mobile">Teléfono</label>
            <div class="input-group">
              <span class="input-group-addon" id="mobile-code">+00</span>
              <input type="tel" class="form-control" id="mobile" name="applicant[mobile]" value="<%= applicant.mobile %>" placeholder="Número móvil">
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="linkedin">LinkedIn URL</label>
            <input type="text" id="linkedin" name="applicant[url]" value="<%= applicant.url %>" class="form-control">
          </div>
        </div>
      </div>
      <hr>
    </div>
    

    <div class="application-2" style="display: none;">
      <p style="margin-bottom: 20px;">Por favor responde las siguientes preguntas con el mayor detalle posible, <strong>de tus respuestas depende que continúes en el proceso</strong>:</p>
      <div class="form-group">
        <label for="goal">¿Por qué estás interesado(a) en el programa?</label>
        <textarea id="goal" name="applicant[goal]" class="form-control" rows="3" placeholder="¿Cuál es tu motivación? ¿Cuáles son tus objetivos?"></textarea>
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="experience">¿Cuál es tu nivel actual de conocimiento en programación?</label>
        <textarea id="experience" name="applicant[experience]" class="form-control" rows="3" placeholder="Cuéntanos cuál es tu profesión, cursos que hayas completado, conocimientos previos, proyectos personales, etc."></textarea>
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="studies">¿Cuál es tu nivel de estudios máximo completado?</label>
        <select id="studies" class="form-control" name="applicant[studies]">
          <option value="Ninguno">Ninguno</option>
          <option value="Secundaria/bachillerato/preparatoria">Secundaria/bachillerato/preparatoria</option>
          <option value="técnico/terciario">técnico/terciario</option>
          <option value="Carrera universitaria">Carrera universitaria</option>
          <option value="postgrado">postgrado</option>
        </select>
      </div>
      <div class="form-group">
        <label for="working">¿Actualmente trabajas?</label>
        <select id="working" class="form-control" name="applicant[working]">
          <option value="Si, trabajo Full-Time">Si, trabajo Full-Time</option>
          <option value="Si, trabajo Part Time">Si, trabajo Part Time</option>
          <option value="No estoy trabajando">No estoy trabajando</option>
        </select>
      </div>
      <div class="form-group">
        <label for="additional">¿Hay algo más que debamos saber de ti?</label>
        <textarea id="additional" name="applicant[additional]" class="form-control" rows="3" placeholder="Un hobby, una anécdota o un logro personal"></textarea>
        <span class="help-block"></span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default back">&lt;&lt; Atrás</button>
    <button type="button" class="btn btn-primary btn-lg application-step-btn">Siguiente</button>
    <button type="button" class="btn btn-primary btn-lg submit">Enviar</button>
  </div>
</form>
