<table class="table">
  <thead>
    <tr>
      <th class="text-center">Pos. #</th>
      <th>Estudiante</th>
      <% if users %>
        <th class="text-center">Puntos Totales</th>
      <% else %>
        <th class="text-center">Puntos Mes Actual</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if users %>
      <% count = 1 %>
      <% users.each do |user| %>
        <tr>
          <td class="text-center"><strong><%= count %></strong></td>
          <td class="user-info">
            <span class="name"><%= link_to full_name(user), admin_user_path(user) %></span>
            <span class="mail"><%= user.email %></span>
          </td>
          <td class="text-center">
            <span class="total_points"><strong><%= user.current_points %></strong></span>
          </td>
        </tr>
        <% count+=1 %>
      <% end %>
    <% else %>
      <% count = 1 %>
      <% most_active_user_month(@users).each do |user| %>
        <tr>
          <td class="text-center"><strong><%= count %></strong></td>
          <td class="user-info">
            <span class="name"><%= link_to full_name(user[:user]), admin_user_path(user[:user]) %></span>
            <span class="mail"><%= user[:user].email %></span>
          </td>
          <td class="text-center">
            <span class="total_points"><%= user[:month_points] %></span>
          </td>
        </tr>
        <% count+=1 %>
     <% end %>
    <% end %>
  </tbody>
</table>
