<!-- Modal Cambiar Estado-->
<div class="modal fade" id="change_state" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cambiar estado</h5>
      </div>
      <div class="modal-body">
        <%= form_tag ("/admin/applicant_activities") do%>
            <%= hidden_field_tag :applicant_id, @topApplicant.id%>
            <%= hidden_field_tag :comment_type, 0%>
               <%= select_tag :status, options_for_select(TopApplicant.statuses.keys.to_a), class: "form-control form-control-lg",id:"top_aplication_state_select" %>
               <%= text_area_tag :comment,nil, class:"form-control input-lg", placeholder:"Ingresa un comentario", id: "top_application_comment_text" %>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"> Cancelar
            </button>
            <%= submit_tag "Cambiar estado", class: "btn btn-large btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>


<!-- Modal Envíar Email-->
<div class="modal fade" id="send_email" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Envíar Correo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag ("/admin/applicant_activities") do%>
          <%= hidden_field_tag :applicant_id, @topApplicant.id%>
          <%= hidden_field_tag :comment_type, 2%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      <%end%>
    </div>
  </div>
</div>
