<%# required: notification, notification.data["response_id"] %>
<% comment = Comment.find_by_id(notification.data["response_id"]) %>

<div class="row">
  <div class="col-xs-3">
    <img class="img-responsive" src="<%= comment.user.avatar_url %>" alt="<%= comment.user.first_name %>" />
  </div>

  <div class="col-xs-9">
    <%= link_to comment.commentable.to_path, class: "comment-link" do %>
      <strong><%= comment.user.first_name || comment.user.nickname %></strong>
      &nbsp;ha respondido a tu comentario en
      <strong><%= comment.commentable.to_s %></strong>
    <% end %>
  </div>
</div>
