<div class="container course-form-page">
  <div class="row">
    <%= form_for @user do |f| %>
      <div class="col-sm-10 col-sm-offset-1">
        <%= render 'shared/flash_messages_form', object: @user %>
        <h1>Editar Perfil</h1>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :email, "Correo Electronico" %>
              <%= f.text_field :email, class: 'form-control input-lg', placeholder: 'email', disabled: true %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :first_name, "Primer Nombre" %>
              <%= f.text_field :first_name, class: "form-control input-lg" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :birthday %>
              <%= f.date_field(:birthday , class: "form-control input-lg") %>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :mobile_number %>
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="basic-addon1">+57</span>
                <%= f.telephone_field :mobile_number, class: 'form-control', placeholder: 'Mobile Phone' %>
              </div>
              <span>(p.e. 3002111111)</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.check_box :progress_email %>
              <%= f.label :progress_email, "Deseas recibir via email la información de su progreso mensual" %>
            </div>
          </div>
        </div>

        <div class="actions text-right">
          <%= link_to "Cancelar", root_path, class: "btn btn-default" %>
          <%= f.submit("Actualizar Perfil", class: "btn btn-primary") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
