<div class="container signup">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Crear tu cuenta</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= render 'shared/flash_messages_form', object: @user  %>
      <%= form_for @user, url: signup_path do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control input-lg' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control input-lg' %>
        </div>

        <div class="text-right"><%= f.submit "¡Empezar ahora!", class: 'btn btn-primary btn-lg btn-block' %></div>

        <div class="btn-social row">
          <div class="col-xs-6">
            <%= link_to '<i class="fa fa-github"></i> <span class="visible-lg-inline">Ingresa con </span>Github'. html_safe, '/auth/github', class: "btn btn-default btn-lg" %>
          </div>
          <div class="col-xs-6">
            <%= link_to '<i class="fa fa-facebook-square"></i> <span class="visible-lg-inline">Ingresa con </span>Facebook'.html_safe, '/auth/facebook', class: "btn btn-info btn-lg", id: "sign-in-facebook" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>