<p>Hola <%= @charge.first_name %>,</p>

<p>Gracias por tu interés en el curso de <strong>Express y MongoDB</strong>. Las siguientes son las instrucciones de pago para activar tu cuenta:</p>

<ol>
  <li>Realiza una consignación o transferencia a la Cuenta de Ahorros número <strong>379-284940-56</strong> de Bancolombia a nombre de La Nueva Educación SAS (Nit 900.752.738-8) por valor de <%= @charge.currency %> <%= number_to_currency @charge.amount, precision: 0 %>.</li>
  <li>Responde este correo adjuntando el comprobante de pago o envíalo a <a href="mailto:info@makeitreal.camp">info@makeitreal.camp</a> con el siguiente código de referencia: <strong><%= @charge.uid %></strong>.</li>
</ol>

<p>Puedes consultar el estado de tu pago <a href="<%= ENV['HOSTNAME'] %>/billing/charges/<%= @charge.uid %>">haciendo click acá</a>.</p>

<p>Si tienes alguna pregunta o inquietud no dudes en comunicarte con nosotros respondiendo este correo. </p>

<p class="signature">
  <strong>Diana Vanegas</strong><br>
  <strong>makeitreal.camp</strong>
</p>
