<%# required: msg %>
<%# optional: type %>
<% random = SecureRandom.hex(4)%>
<div id="alert-<%= random %>" class='alert fade in <%= alert_classes(type) if defined? type %>'>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= msg.html_safe %>
  <script type="text/javascript">
    setTimeout(function(){
      $("#alert-<%=random%>").addClass("dismiss-alert");
    },5000);
    setTimeout(function(){
      $("#alert-<%=random%>").remove();
    },6000);
  </script>
</div>
