<div class="show-email">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><%=@template.title%></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2" id="show-subject-email">
          <h3>Asunto:</h3> <p class="show-subject"><%=@template.subject%></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3>Mensaje:</h3>
          <p class="show-body"><%=@template.body%></p>
        </div>
      </div>
      <%=link_to "editar", admin_email_templates_path, class: "btn-show-email btn btn-primary"%>
      <%=link_to "Volver", admin_email_templates_path, class: "btn-show-email btn btn-primary"%>
  </div>
</div>