<div id="new-section-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= @section.new_record? ? "Nueva Sección" : "Editar Sección"  %></h4>
      </div>

        <div class="alert alert-danger" style="display:none" role="alert">
      </div>

      <%= form_for [@resource.course,@resource,@section], remote: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control'  %>

            <%= hidden_field_tag :index, @index, class: 'form-control'  %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div>
