<div class="list-group lessons" id="section_<%= section.id %>">
  <div href="#" class="list-group-item resource-section-title">
    <%= render partial: 'sections/section_title', locals: { section: section, i: i }  %>
  </div>
  <% if current_user.has_access_to?(resource) %>
    <% section.lessons.each_with_index do |lesson, j| %>
      <div class="lesson" id="lesson_<%=lesson.id %>" data-sortable="true" data-resource-id="<%= lesson.id %>">
        <% if current_user.is_admin? %>
          <div class="row">
            <div class="col-lg-10">
              <%= link_to(course_resource_section_lesson_path(resource.course,resource,section,lesson), class: "list-group-item") do %>
                <%=" Lección #{j} - #{lesson.name}" %>
                <span class="pull-right lesson-status glyphicon glyphicon-ok <%= 'completed' if current_user.has_completed_lesson?(lesson)%> "></span>
              <% end %>
            </div>
            <%# actions edit and remove lesson %>
            <div class="col-lg-2 lesson-actions">
              <%= link_to '<span class="glyphicon glyphicon-pencil action action-edit"></span>'.html_safe, edit_lesson_path(lesson) %>
              <%= link_to '<span class="glyphicon glyphicon-remove action action-remove"></span>'.html_safe,lesson_path(lesson),  remote: true, data:{ confirm: "Are you sure you want to delete this?"}, method: :delete %>
            </div>
          </div>
        <% else %>
          <%= link_to(course_resource_section_lesson_path(resource.course,resource,section,lesson), class: "list-group-item") do %>
            <%=" Lección #{j} - #{lesson.name}" %>
            <span class="pull-right lesson-status glyphicon glyphicon-ok <%= 'completed' if current_user.has_completed_lesson?(lesson)%> "></span>
          <% end %>
        <% end %>
      </div>
    <% end %>

  <% else %>

    <% section.lessons.each_with_index do |lesson, j| %>
      <% if lesson.free_preview? %>
        <%= link_to(course_resource_section_lesson_path(resource.course,resource,section,lesson),
          class: "list-group-item") do %>
          <%="Lección #{j} - #{lesson.name}"%>
          <span class="label-free">¡Gratis!</span>
        <% end %>
      <% else %>
        <div class="list-group-item disabled">
          <%="Lección #{j} - #{lesson.name}"%>
          <span class="glyphicon glyphicon-lock pull-right"></span>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

