<div class="section section-white section-companies">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h2>EMPRESAS ALIADAS</h2>
        <p class="subhead">Empresas a las que podrás aplicar cuando termines el programa, empresas que han creado nuestros alumnos y portales de trabajo especializados</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-3 col-md-offset-1 text-center">
        <a href="http://prodigious.com/" target="_blank"><%= image_tag "prodigious-logo.png" %></a>
      </div>

      <div class="col-sm-4 text-center">
        <a href="http://monoku.com/" target="_blank"><%= image_tag "monoku-logo.png", height: 50 %></a>
      </div>

      <div class="col-sm-4 col-md-3 text-center">
        <a href="http://kommit.co/" target="_blank"><%= image_tag "kommit-logo.jpg", height: 50 %></a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-3 col-md-offset-1 text-center">
        <a href="http://koombea.com/" target="_blank"><%= image_tag "koombea-logo.png", height: 45 %></a>
      </div>

      <div class="col-sm-4 text-center">
        <a href="http://kaizendevs.com/" target="_blank"><%= image_tag "kaizen-devs-logo2.png", height: 50 %></a>
      </div>

      <div class="col-sm-4 col-md-3 text-center">
        <a href="http://quincena.me/" target="_blank"><%= image_tag "quincename-logo.png" %></a>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-4 col-md-3 col-md-offset-1 text-center">
        <a href="http://rubyonrocks.com/" target="_blank"><%= image_tag "rubyonrocks-logo.png" %></a>
      </div>

      <div class="col-sm-4 text-center">
        <a href="http://trabajoen.co/" target="_blank"><%= image_tag "trabajoen-logo.png", height: 50 %></a>
      </div>

      <div class="col-sm-4 col-md-3 text-center">
        <a href="http://dreamjobs.com.co/" target="_blank"><%= image_tag "dreamjobs-logo.png", height: 50 %></a>
      </div>
    </div>

    <div class="row" style="margin-top: 100px;">
      <div class="col-md-8 col-md-offset-2 text-center">
        <p>¿Interesado en contratar a nuestros egresados? Escríbenos a <a href="mailto:info@makeitreal.camp">info@makeitreal.camp</a></p>
      </div>
    </div>
  </div>
</div><!--/feature-three -->
