<div class="companies owl-carousel">
  <div class="company">
    <a href="http://toptal.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/toptal-logo.png" %></a>
  </div>
  <div class="company">
    <a href="http://cabify.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/cabify-logo.jpg" %></a>
  </div>
  <div class="company">
    <a href="http://lahaus.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/lahaus-logo.png" %></a>
  </div>
  <div class="company">
    <a href="http://hugeinc.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/huge-logo.png" %></a>
  </div>
  <div class="company">
    <a href="http://prodigious.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/prodigious-logo.png" %></a>
  </div>
  <div class="company">
    <a href="http://globant.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/globant-logo.jpg" %></a>
  </div>
  <div class="company">
    <a href="http://fluvip.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/fluvip-logo.png" %></a>
  </div>
  <div class="company">
    <a href="http://nominapp.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/nominapp-logo.png" %></a>
  </div>
  <div class="company">
    <a href="https://www.salonomi.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/salonomi-logo.png" %></a>
  </div>
  <div class="company">
    <a href="https://www.foonkiemonkey.co.uk/?ref=makeitreal" target="_blank"><%= image_tag "companies/foonkie-monkey.png" %></a>
  </div>
  <div class="company">
    <a href="http://parrolabs.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/parrolabs-logo.jpg" %></a>
  </div>
  <div class="company">
    <a href="https://www.lean-tech.io/?ref=makeitreal" target="_blank"><%= image_tag "companies/leantech-logo.png" %></a>
  </div>
  <div class="company">
    <a href="http://kommit.co/?ref=makeitreal" target="_blank"><%= image_tag "companies/kommit-logo.png" %></a>
  </div>
  <div class="company">
    <a href="http://yuxiglobal.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/yuxi-logo.png" %></a>
  </div>
  <div class="company">
    <a href="http://koombea.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/koombea-logo.png" %></a>
  </div>
  <div class="company">
    <a href="http://ayenda.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/ayenda-logo.png" %></a>
  </div>
  <div class="company">
    <a href="https://zemoga.com/?ref=makeitreal" target="_blank"><%= image_tag "companies/zemoga-logo.png" %></a>
  </div>
</div>
