<div class="section section-white section-companies">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h2>TRABAJA EN LAS MEJORES EMPRESAS</h2>
        <p class="subhead">Ayudamos a nuestros egresados a encontrar las mejores oportunidades laborales. Conoce algunas de las empresas en donde trabajan actualmente.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://toptal.com/" target="_blank"><%= image_tag "companies/toptal-logo.png", height: 45 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://cabify.com/" target="_blank"><%= image_tag "companies/cabify-logo.jpg", height: 50 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://auth0.com/" target="_blank"><%= image_tag "companies/auth0-logo.png", height: 50 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://hugeinc.com/" target="_blank"><%= image_tag "companies/huge-logo.png", height: 50 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://prodigious.com/" target="_blank"><%= image_tag "companies/prodigious-logo.png", height: 50 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://globant.com/" target="_blank"><%= image_tag "companies/globant-logo.jpg", height: 50 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://fluvip.com/" target="_blank"><%= image_tag "companies/fluvip-logo.png", height: 50 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://lahaus.com/" target="_blank"><%= image_tag "companies/lahaus-logo.svg", height: 50 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://nominapp.com/" target="_blank"><%= image_tag "companies/nominapp-logo.png", height: 50 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://parrolabs.com/" target="_blank"><%= image_tag "companies/parrolabs-logo.jpg", height: 50 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://convertloop.co/" target="_blank"><%= image_tag "companies/convertloop-logo.png", height: 50 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://kommit.co/" target="_blank"><%= image_tag "companies/kommit-logo.jpg", height: 50 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://yuxiglobal.com/" target="_blank"><%= image_tag "companies/yuxi-logo.jpg", height: 60 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://koombea.com/" target="_blank"><%= image_tag "companies/koombea-logo.png", height: 45 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://bandit.io/" target="_blank"><%= image_tag "companies/bandit-logo.png", height: 50 %></a>
      </div>

      <div class="col-xs-6 col-sm-3 text-center">
        <a href="http://seamos.co/" target="_blank"><%= image_tag "companies/seamos-logo.png", height: 50 %></a>
      </div>
    </div>
  </div>
</div><!--/feature-three -->
