<div class="section section-white feature-three">
  <div class="row">
    <div class="col-md-12">
      <h2>EMPRESAS ALIADAS</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-sm-offset-1 text-center">
      <a href="http://prodigious.com/" target="_blank"><%= image_tag "prodigious-logo.png" %></a>
    </div>

    <div class="col-sm-4 text-center">
      <a href="http://monoku.co/" target="_blank"><%= image_tag "monoku-logo.png", height: 50 %></a>
    </div>

    <div class="col-sm-3 text-center">
      <a href="http://kommit.co/" target="_blank"><%= image_tag "kommit-logo.jpg", height: 50 %></a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-2 text-center">
      <a href="http://kaizendevs.co/" target="_blank"><%= image_tag "kaizen-devs-logo.png" %></a>
    </div>

    <div class="col-sm-4 text-center">
      <a href="http://quincena.me/" target="_blank"><%= image_tag "quincename-logo.png" %></a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-2 text-center">
      <a href="http://trabajoen.co/" target="_blank"><%= image_tag "trabajoen-logo.png", height: 50 %></a>
    </div>

    <div class="col-sm-4 text-center">
      <a href="http://dreamjobs.com.co/" target="_blank"><%= image_tag "dreamjobs-logo.png", height: 50 %></a>
    </div>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-md-8 col-md-offset-2">
      <p>¿Interesado en contratar a nuestros egresados? Escríbenos a <a href="mailto:info@makeitreal.camp">info@makeitreal.camp</a></p>
    </div>
  </div>

</div><!--/feature-three -->
