<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="profile-image text-center">
      <%= image_tag "people/carlos-goyeneche.jpg" %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="profile">
      <h3>Carlos Goyeneche</h3>
      <p>Desarrollador entusiasta siempre en busqueda de las últimas tecnologías, actualmente Senior Software Engineer en <a href="https://corporate.discovery.com/?ref=makeitreal" target="_blank">Discovery Inc</a>. Happy coding!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="profile-image text-center">
      <%= image_tag "people/gustavo-morales.jpg" %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="profile">
      <h3>Gustavo Morales</h3>
      <p>Ingeniero de Sistemas, docente y escritor con más de 10 años de experiencia, actualmente trabajando en <a href="https://www.treasuredata.com/?ref=makeitreal" target="_blank">Treasure Data</a>.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="profile-image text-center">
      <%= image_tag "people/link-strifer.jpg" %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="profile">
      <h3>Link Strifer</h3>
      <p>Autodidacta que quería hacer guías de videojuegos y termino trabajando en varias multi-nacionales como Software Engineer, acualmente en <a href="https://www.hugeinc.com/?ref=makeitreal" target="_blank">Huge</a>.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="profile-image text-center">
      <%= image_tag "people/jesus-estrada.jpg" %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="profile">
      <h3>Jesús Estrada</h3>
      <p>Ingeniero de Sistemas y docente, actualmente Frontend Developer en <a href="https://www.zemoga.com/?ref=makeitreal" target="_blank">Zemoga, Inc</a>.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="profile-image text-center">
      <%= image_tag "people/cristian-moreno-gray.jpg" %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="profile">
      <h3>Cristian Moreno</h3>
      <p>JavaScript Developer y community builder. Co-organizador y speaker del <a href="https://www.meetup.com/MedellinJS/" target="_blank">Meetup MedellinJS</a>, Frontend Developer en <a href="https://mattersupply.co/?ref=makeitreal" target="_blank">Matter Supply Co</a>.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="profile-image text-center">
      <%= image_tag "people/shymmy-garcia.jpg" %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="profile">
      <h3>Shymmy García</h3>
      <p>Apasionado por la tecnología y el desarrollo de software. Senior Developer y Tech Lead en <a href="https://globant.com/?ref=makeitreal" target="_blank">Globant</a>.</p>
    </div>
  </div>
</div>
