<header>
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag('logo-white.png', width: 180, alt: "Logo Make it Real"), root_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Programas <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="<%= 'active' if params[:action] == 'front_end_on_site' %>">
                <%= link_to front_end_on_site_path do %>
                  <span class="icon-menu">
                    <svg id="icon-mini-frontend" data-name="icon-mini-frontend" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 152.73 117.05"><title>icon-mini-frontend</title><path class="icon-mini-frontend" d="M763,448.2H697.15v-49H763v49Zm-64.83-1H762v-47H698.15v47Z" transform="translate(-686.33 -389.78)"/><path class="icon-mini-frontend" d="M772.79,456.61H687.33V390.78h85.47v65.83Zm-84.47-1h83.47V391.78H688.33v63.83Z" transform="translate(-686.33 -389.78)"/><path class="icon-mini-frontend" d="M838.06,480.61H784.56V414.78h53.49v65.83Zm-52.49-1h51.49V415.78H785.56v63.83Z" transform="translate(-686.33 -389.78)"/><path class="icon-mini-frontend" d="M829.9,472.3H792.72V423.09H829.9V472.3Zm-36.18-1H828.9V424.09H793.72V471.3Z" transform="translate(-686.33 -389.78)"/><path class="icon-mini-frontend" d="M776.06,505.84H748.88V466.55h27.18v39.29Zm-26.18-1h25.18V467.55H749.88v37.29Z" transform="translate(-686.33 -389.78)"/><path class="icon-mini-frontend" d="M771.28,499.74H753.66V472.36h17.62v27.39Zm-16.62-1h15.62V473.36H754.66v25.39Z" transform="translate(-686.33 -389.78)"/></svg>
                  </span>
                  <span class="text-menu">Front End Web Developer (Presencial)</span>
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li class="<%= 'active' if params[:action] == 'full_stack_online' %>">
                <%= link_to full_stack_online_path do %>
                  <span class="icon-menu">
                    <svg id="icon-mini-fullstack" data-name="icon-mini-fullstack" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.75 117.21"><title>icon-mini-fullstack</title><path class="icon-mini-fullstack" d="M1036,474H950.68V388.7H1036V474Zm-84.31-1H1035V389.7H951.68V473Z" transform="translate(-949.68 -387.7)"/><path class="icon-mini-fullstack" d="M1054.32,488.68H969V403.37h85.31v85.31Zm-84.31-1h83.31V404.37H970v83.31Z" transform="translate(-949.68 -387.7)"/><path class="icon-mini-fullstack" d="M1071.42,503.92H986.11V418.61h85.31v85.31Zm-84.31-1h83.31V419.61H987.11v83.31Z" transform="translate(-949.68 -387.7)"/></svg>
                  </span>
                  <span class="text-menu">Full Stack Web Developer (Online)</span>
                <% end %>
              </li>
              <li class="<%= 'active' if params[:action] == 'front_end_online' %>">
                <%= link_to front_end_online_path do %>
                  <span class="icon-menu">
                    <svg id="icon-mini-frontend" data-name="icon-mini-frontend" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 152.73 117.05"><title>icon-mini-frontend</title><path class="icon-mini-frontend" d="M763,448.2H697.15v-49H763v49Zm-64.83-1H762v-47H698.15v47Z" transform="translate(-686.33 -389.78)"/><path class="icon-mini-frontend" d="M772.79,456.61H687.33V390.78h85.47v65.83Zm-84.47-1h83.47V391.78H688.33v63.83Z" transform="translate(-686.33 -389.78)"/><path class="icon-mini-frontend" d="M838.06,480.61H784.56V414.78h53.49v65.83Zm-52.49-1h51.49V415.78H785.56v63.83Z" transform="translate(-686.33 -389.78)"/><path class="icon-mini-frontend" d="M829.9,472.3H792.72V423.09H829.9V472.3Zm-36.18-1H828.9V424.09H793.72V471.3Z" transform="translate(-686.33 -389.78)"/><path class="icon-mini-frontend" d="M776.06,505.84H748.88V466.55h27.18v39.29Zm-26.18-1h25.18V467.55H749.88v37.29Z" transform="translate(-686.33 -389.78)"/><path class="icon-mini-frontend" d="M771.28,499.74H753.66V472.36h17.62v27.39Zm-16.62-1h15.62V473.36H754.66v25.39Z" transform="translate(-686.33 -389.78)"/></svg>
                  </span>
                  <span class="text-menu">Front End Web Developer (Online)</span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="<%= 'active' if params[:action] == 'makers' %>"><%= link_to "Alumnos", makers_path %></li>
          <li class="<%= 'active' if params[:action] == 'faq' %>"><%= link_to "FAQ", faq_path %></li>
          <li><a href="http://blog.makeitreal.camp/">Blog</a></li>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Ingresar", login_path %></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
</header>
