<div class="top-program">
  <%= render "layouts/navbar/pages_white", hide_login: true %>

  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6 intro-info">
          <h1>Aspirantes TOP</h1>
          <p>Curso gratuito para personas que deseen ingresar a nuestro <%= link_to "Programa TOP", "http://makeitreal.camp/" %> Full Stack.</p>
          <button type="button" class="pbtn pbtn-primary apply-now-btn">¡Aplica Ahora!</button>
        </div><!--/tagline-program -->

        <div class="col-md-6 intro-img">
          <%= image_tag "image-header-fundamentos.png", srcset: { "image-header-fundamentos@2x.png" => "2x", "image-header-fundamentos@3x.png" => "3x" } %>
        </div>

      </div><!--/row -->
    </div><!--/container -->
  </div><!--/program-intro -->


  <section class="section section-faq">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Preguntas frecuentes</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="question">
            <h3>¿Qué es el curso Aspirantes TOP?</h3>
            <p>El curso <strong>Aspirantes Top</strong> es un curso <strong>gratuito</strong> de 4 semanas en horario de <strong>Lunes, Miércoles y Viernes</strong> de <strong>6:00 p.m. a 8:00 p.m. (Col/Perú)</strong> en donde aprenderás y/o practicarás las bases del desarrollo Web: <strong>Git, HTML, CSS, JavaScript y JS en el Navegador.</strong></p>
          </div>

          <div class="question">
            <h3>¿Cuándo inicia el curso Aspirantes TOP?</h3>
            <p>El curso gratuito de Aspirantes TOP inicia el 3 de mayo y termina el viernes 29 de mayo.</p>
          </div>

          <div class="question">
            <h3>¿El curso Aspirantes TOP tiene costo?</h3>
            <p>No, este curso es gratuito pero es requisito para ingresar al <%= link_to "Programa TOP", "http://makeitreal.camp/" %>.</p>
          </div>

          <div class="question">
            <h3>¿Qué temas se aprenden en el curso Aspirante TOP?</h3>
            <p>En este curso aprenderás y practicarás las bases del desarrollo Web: <strong>Git, HTML, CSS, JavaScript y JS en el Navegador.</strong></p>
          </div>

          <div class="question">
            <h3>¿Cuánto tiempo dura en curso Aspirantes TOP?</h3>
            <p>Este curso tiene una duración de 4 semanas.</p>
          </div>

          <div class="question">
            <h3>¿Debo asistir a todas las clases virtuales del curso Aspirantes TOP?</h3>
            <p>Si tu objetivo es ingresar al <%= link_to "Programa TOP", "http://makeitreal.camp/" %> deberás asistir al menos el 80% de las clases y entregar los ejercicios que se asignan.</p>
          </div>

          <div class="question">
            <h3>¿Hay un examen de finalización del curso Aspirantes TOP? </h3>
            <p>No. Sin embargo, si tu objetivo es ingresar al <%= link_to "Programa TOP", "http://makeitreal.camp/" %> deberás superar la entrevista técnica, que validará los conocimientos adquiridos en el curso de Aspirantes TOP.</p>
          </div>

          <div class="question">
            <h3>¿Cómo sé si aprobé el curso Aspirantes TOP?</h3>
            <p>El curso de Aspirantes TOP es parte del proceso de admisión para el <%= link_to "Programa TOP", "http://makeitreal.camp/" %>. Deberás asistir al menos el 80% de las clases y superar la entrevista técnica.</p>
          </div>

          <div class="question">
            <h3>¿Qué pasa si no apruebo el curso Aspirantes TOP?</h3>
            <p>Deberás realizarlo nuevamente en la siguiente convocatoria.</p>
          </div>

          
        </div>
        <div class="col-sm-6">
          <div class="question">
            <h3>¿Me entregarán un certificado al final del curso?</h3>
            <p>No. Aunque existen industrias donde las certificaciones son importantes, en desarrollo Web una certificación no te va a ayudar a encontrar un empleo. En Make It Real buscamos personas que estén más interesadas en aprender y crear, que en una certificación.</p>
          </div>
          <div class="question">
            <h3>¿Qué es el Programa TOP?</h3>
            <p>Es nuestro programa estrella ⭐, donde cientos de estudiantes han encontrado un mejor empleo en desarrollo web y/o móvil. Para más información ingresa a nuestra página del <%= link_to "Programa TOP", "http://makeitreal.camp/" %>.</p>
          </div>

          <div class="question">
            <h3>¿Cómo funciona el proceso de admisión para el Programa TOP?</h3>
            <p>Tenemos diferentes pasos para aplicar a nuestro programa donde debes hacer varias pruebas, de perfilación, técnica y demostrar el conocimiento básico de las tecnologías que necesita la industria. <%= link_to "Acá", "http://makeitreal.camp/" %> te dejamos más información.</p>
          </div>

          <div class="question">
            <h3>¿En qué se diferencia el curso Aspirantes TOP del Programa TOP? ¿Son lo mismo?</h3>
            <p>No son lo mismo. El curso de <strong>Aspirantes TOP</strong> es un curso gratuito que te enseña los fundamentos del desarrollo Web y es prerequisito para ingresar al <%= link_to "Programa TOP", "http://makeitreal.camp/" %>.</p>
          </div>

          <div class="question">
            <h3>¿El Programa TOP es gratis?</h3>
            <p>No, es sin costo hasta que encuentres un empleo. <%= link_to "Acá", "http://makeitreal.camp/" %> te dejamos toda la información.</p>
          </div>

          <div class="question">
            <h3>Yo ya hice un proceso de aplicación con ustedes en el pasado. ¿Debo hacer el curso Aspirantes TOP?</h3>
            <p>Si fuiste aceptad@ en alguna de las dos últimas convocatorias no necesitas realizar el curso. Sin embargo, lo puedes realizar.</p>
          </div>

          <div class="question">
            <h3>¿Cuáles son los requisitos para asistir al curso de Aspirantes TOP?</h3>
            <p>Contar con un computador personal y conexión a Internet.</p>
          </div>

          <div class="question">
            <h3>Ya hice un curso de preparación/nivelación con ustedes. ¿Debo hacer el curso Aspirantes TOP?</h3>
            <p>Si, ya que nuestro curso está enfocado en pair programming y retos que deberás realizar para poder aspirar a ingresar al <%= link_to "Programa TOP", "http://makeitreal.camp/" %>.</p>
          </div>

          <div class="question">
            <h3>¿Dónde puedo resolver otras dudas?</h3>
            <p>Puedes escribirnos a <a href="mailto:admisiones@makeitreal.camp">admisiones@makeitreal.camp</a> y con gusto te las resolveremos.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

<div class="section section-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="text-center">
          <button type="button" class="pbtn pbtn-primary apply-now-btn">Aplica Ahora</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <%= render "footer" %>

  <div class="modal fade" id="application-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Formulario de aplicación</h4>
        </div>

        <div class="modal-wrapper">
          <div class="show-application-proccess-step">
            <div class="modal-body">
              <div class="roadmap">
                <div class="roadmap-item">
                  <div class="circle">1</div>
                  <div class="item-description">
                    <h4>Aplica</h4>
                    <p>Cuéntanos en detalle acerca de ti y las razones por las que quieres convertirte en Full Stack Developer.</p>
                  </div>
                </div>
                <div class="roadmap-item">
                  <div class="circle">2</div>
                  <div class="item-description">
                    <h4>Prepárate</h4>
                    <p>Si tienes el perfil, te invitaremos al curso gratuito de <strong>Aspirantes TOP</strong>, donde pondrás a prueba tu capacidad de aprendizaje para participar en el Programa TOP.</p>
                    <small>No se requiere de conocimientos previos. *</small>
                  </div>
                </div>
                <div class="roadmap-item">
                  <div class="circle">3</div>
                  <div class="item-description">
                    <h4>Entrena</h4>
                    <p>Si superas el curso de Aspirantes TOP, <strong>iniciarás tu entrenamiento</strong> para acelerar tu carrera como Full Stack Developer de la mano de los mentores técnicos, de habilidades blandas e inglés.</p>
                  </div>
                </div>
                <div class="roadmap-item">
                  <div class="circle">4</div>
                  <div class="item-description">
                    <h4>Empléate</h4>
                    <p>Al terminar tu acompañamiento técnico, encuentra tu mejor empleo con el apoyo de expertos de la industria en colocacion laboral y habilidades blandas.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary btn-lg app-next-steps">Siguiente</button>
            </div>
          </div>
            
          <%= form_for TopInvitation.new, html: { class: "enter-email-step", style: "display:none" }, remote: true do |f| %>
            <div class="modal-body">
              <p style="margin-bottom: 20px;">Para empezar ingresa tu email:</p>
              <div class="form-group">
                <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
              </div>
              <div class="checkbox" style="margin-top: 50px;">
                <label>
                  <input type="checkbox" id="terms" name="applicant[accepted_terms]"> Autorizo el uso de mis datos de acuerdo a la <a href="<%= privacy_policy_path %>">Política de Tratamiento de Información</a>
                </label>
              </div>
            </div>
            
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-lg send-email-btn">Siguiente</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div><!--/new-site -->

<script type="text/javascript">
  $(document).on("turbolinks:load", function() {
    new TopProgramView();
  });
</script>
