<%= render "data_science_online_header", image_path: 'home02.png' %>

<div class="new-site program data-science-online">
  <%= render "layouts/navbar/pages_white", hide_login: true %>
  <%= render "pages/header_register", btn_text: "¡Recibe la info!" %>

  <div class="program-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6 tagline-program">
          <h1><small>Online Edition</small>DATA SCIENCE</h1>
          <p>En este programa aprenderás a extraer, visualizar y analizar información con Python y algoritmos de clasificación, predicción y recomendación.</p>
          <button type="button" class="btn btn-primary btn-register">¡Recibe toda la Info!</button>
        </div><!--/tagline-program -->

        <div class="col-md-6">
          <div class="medellin-info">
            <div class="medellin-info-body">
              <div class="medellin-info-date">
                 <div>May 11, 2020</div>
                 <div class="info-date-label">Inicio Clases</div>
              </div>
              <div class="medellin-info-date">
                 <div>4 meses</div>
                 <div class="info-date-label">Duración</div>
              </div>
              <div class="medellin-info-schedule">
                <div class="schedule-data">
                  6pm a 9pm
                  <span class="schedule-label">Lunes, Miércoles y Viernes</span>
                </div>
              </div>

              <div class="medellin-info-location" style="color: #005e9f; font-weight: bold;">
                ONLINE
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "data_science_online_audience" %>

  <%= render "data_science_online_curriculum" %>

  <a name="mentors"></a>
  <div class="section section-white section-bordered section-mentors">
    <div class="container">
      <h2>Conoce a tus mentores</h2>

      <div class="row">
        <div class="col-sm-6">
          <div class="profile-image text-center">
            <%= image_tag "people/daniel-morales.jpg", class: "img-circle"%>
          </div>
          <div class="profile">
            <h3>Daniel Morales</h3>
            <p class="text-center">Apasionado del emprendimiento y la programación. Mentor en <a href="/">Make it Real</a>. Co-fundador y Data Scientist en <a href="https://datasource.ai/?ref=makeitreal" target="_blank">DataSource</a>.</p>
          </div>
        </div>
        <div class="col-sm-6 clearfix">
          <div class="profile-image text-center">
            <%= image_tag "people/german-escobar.png", class: "img-circle" %>
          </div>

          <div class="profile">
            <h3>Germán Escobar</h3>
            <p class="text-center">Programador y emprendedor. Co-fundador de <a href="https://masiv.com/?ref=makeitreal" target="_blank">Elibom (ahora Masivian)</a> y fundador de <a href="/" target="_blank">Make it Real</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "data_science_students" %>

  <%= render "data_science_online_faqs" %>

  <%= render "full_stack_onsite_magnet", btn_text: "¡Recibe toda la info!" %>

  <%= render "footer" %>

  <%= render "full_stack_onsite_registration", action: "/data-science-online" %>
</div>
