<%= render "og_header",
      title: "Programa de Data Science con Python",
      description: "En este programa aprenderás a aprovechar la gran cantidad de datos que generamos hoy para visualizar, clasificar y predecir información.",
      image_path: 'home02.png' %>

<div class="data-science">
  <%= render "layouts/navbar/pages_white", hide_login: true %>
  <%= render "pages/header_register", btn_text: "¡Recibe la info!" %>

  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6 intro-info">
          <h1>Data Science</h1>
          <p>Aprende a extraer, visualizar y analizar información con Python y algoritmos de machine learning.</p>
          <button type="button" class="pbtn pbtn-primary btn-register">¡Recibe toda la Info!</button>
        </div><!--/tagline-program -->

        <div class="col-md-6">
          <div class="program-info-box">
            <div class="info-box-group">
               <div>Jun 21, 2021</div>
               <div class="info-box-label">Inicio Clases</div>
            </div>
            <div class="info-box-group">
               <div>24 semanas</div>
               <div class="info-box-label">Duración</div>
            </div>
            <div class="info-box-group">
              <div>6pm a 9pm</div>
              <div class="info-box-label">Martes y Jueves</div>
            </div>

            <div class="info-box-group info-box-location">
              REMOTO (Videollamada)
              <div class="info-box-label">Ubicación</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "data_science_online_audience" %>

  <%= render "data_science_students" %>

  <%= render "data_science_online_curriculum" %>

  <a name="mentors"></a>
  <div class="section section-white section-mentors">
    <div class="container">
      <h2>Nuestros Mentores</h2>

      <div class="mentors-wrapper owl-carousel">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="profile-image text-center">
              <%= image_tag "people/daniel-morales.jpg" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="profile">
              <h3>Daniel Morales</h3>
              <p>Apasionado del emprendimiento y la programación. Mentor en <a href="/">Make it Real</a>. Co-fundador y Data Scientist en <a href="https://datasource.ai/?ref=makeitreal" target="_blank">DataSource</a>.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="profile-image text-center">
              <%= image_tag "people/german-escobar.png" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="profile">
              <h3>Germán Escobar</h3>
              <p>Programador y emprendedor. Co-fundador de <a href="https://masiv.com/?ref=makeitreal" target="_blank">Elibom (ahora Masivian)</a> y fundador de <a href="/" target="_blank">Make it Real</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "data_science_online_faqs" %>

  <%= render "footer" %>

  <%= render "program_registration", action: "/data-science-online" %>
</div>

<script type="text/javascript">
  (function() {
    var courseView = new CourseView({ el: '.data-science' });

    $(document).on("turbolinks:request-start", function() {
      courseView.remove();
    });
  })();
</script>
