<% content_for :head do %>
  <meta property="og:title" content="Make it Real ELITE" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Un programa inmersivo y completamente personalizado para alcanzar el siguiente nivel en desarrollo de software" />
  <meta property="og:image" content="<%= image_url('elite-hero.jpg') %>" />
<% end %>

<div class="online-program">
  <div class="elite">
    <%= render "layouts/navbar/pages_transparent" %>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 program-header">
          <h1 class="text-center"><%= image_tag "elite-icon.svg", height: 45, style: "margin-top: -9px; margin-right: 5px;" %> ELITE</h1>
          <div class="text-center program-description">Un programa inmersivo y completamente personalizado para alcanzar el siguiente nivel en desarrollo de software</div>
          <div class="text-center program-icons">
            <i class="icon icon-docker"></i>
            <i class="icon icon-reactjs"></i>
            <i class="icon icon-aws"></i>
            <i class="icon icon-javascript" style="font-size: 38px;"></i>
            <i class="icon icon-redis"></i>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary btn-lg apply-now-btn">MÁS INFORMACIÓN</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-white">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div>
            <h2>¿A quién está dirigido?</h2>
            <p class="lead">Personas con mínimo 6 meses de experiencia en desarrollo de software, que manejen un Inglés intermedio y desean profundizar en temas de ciencias de la computación, machine learning, blockchain y devops, entre otros.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-how-it-works">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div>
            <h2>¿Cómo funciona?</h2>
            <p class="lead">El programa se divide en tres fases:</p>
            <div class="works-item">
              <span class="icon icon-gears works-icon"></span>
              <div>
                <h3>Creación del currículum</h3>
                <p>Antes de iniciar el entrenamiento se definen los temas que se van a ver y el equipo de Make it Real crea un curriculum personalizado incluyendo contenido, ejercicios y proyectos.</p>
              </div>
            </div>
            <div class="works-item">
              <span class="glyphicon glyphicon-th works-icon"></span>
              <div>
                <h3>Entrenamiento</h3>
                <p>El estudiante se reune semanalmente con el mentor por dos horas para recibir retroalimentación de su trabajo, solucionar dudas y definir el trabajo de la siguiente semana. Durante la semana mantienen comunicación por chat.</p>
              </div>
            </div>
            <div class="works-item">
              <span class="icon icon-target works-icon"></span>
              <div>
                <h3>Post-programa</h3>
                <p>El estudiante se prepara para las entrevistas y aplica a los mejores empleos.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-dark section-mentor">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Conoce al mentor</h2>
          <div class="mentor-details">
            <%= image_tag "people/german.png", class: "img-circle" %>
            <div>
              <h3>Germán Escobar</h3>
              <p>Fundador y CEO de <strong>Make it Real</strong>. Cofundador de elibom.com. Más de 20 años de experiencia en diseño, desarrollo e implementación de soluciones digitales.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-white section-details">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-5 col-md-offset-1">
          <div class="text-center">
            <div class="detail-wrapper">
              <div class="detail-label">DURACIÓN</div>
              <div class="detail-value">12 semanas</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-5">
          <div class="text-center">
            <div class="detail-wrapper">
              <div class="detail-label">DEDICACIÓN MÍNIMA</div>
              <div class="detail-value">40 horas/semana</div>
            </div>
          </div>
        </div>
        <!--
        <div class="col-sm-4 col-md-3">
          <div class="detail-wrapper">
            <div class="detail-label">PRECIO</div>
            <div class="detail-value">COP$12'900,000</div>
            <div class="detail-exp">* Impuestos incluídos.</div>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>

  <section class="section section-quote">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <p class="quote">&quot;Con la guía de Germán pude desarrollar proyectos que creía imposibles, y que me han abierto oportunidades increíbles. Incluso he podido contribuir al core de Node.js y a Express&quot;</p>
          <div class="quote-details">
            <%= image_tag "people/alejandro-estrada.jpg", class: "img-circle" %>
            <div>
              <div class="quote-name">Alejandro Estrada</div>
              <div class="quote-company">Fullstack Developer en Payfully</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-white section-faq">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>Preguntas frecuentes</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3>¿Cuál es la modalidad?</h3>
          <p>El programa se ofrece en modalidad online, tiempo completo. Las dos horas semanales con el mentor pueden ser presenciales o a través de videollamada.</p>

          <h3>¿Cuáles son los requisitos para aplicar?</h3>
          <ul>
            <li>Tener al menos 6 meses de experiencia en desarrollo Web.</li>
            <li>Manejar un nivel intermedio de Inglés.</li>
            <li>Disponer del tiempo para dedicar al programa.</li>
            <li>Contar con computador personal y conexión a Internet.</li>
          </ul>
          <p style="font-size: 16px; margin-top: 15px;">* Nos reservamos el derecho de admisión. La razón es que queremos seleccionar a las personas que puedan aprovechar al máximo el programa.</p>

          <h3>¿Cuándo inicia?</h3>
          <p>Depende de tu disponibilidad y la del mentor. Una vez seas aceptado(a) se programa una fecha de inicio pero ten en cuenta que puede ser varios meses después.</p>

          <h3>¿Existe alguna forma de financiación?</h3>
          <p>En este momento no contamos con ninguna forma de financiación para este programa.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-dark medellin-magnet">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <p class="lead" style="margin-bottom: 40px;">¿Quieres cambiar tu futuro?</p>
          <button class="btn btn-primary btn-register">APLICA AHORA</a>
        </div>
      </div>
    </div>
  </section>

  <%= render "footer" %>
</div>
