<!DOCTYPE html>
<html class="expand" lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<head>

  <title><%= @title || "Make it Real - Transformando la educación" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Language" content="<%= I18n.locale.to_s %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Open+Sans+Condensed:300,700|Karla:400,700' rel='stylesheet' type='text/css'>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render "utils/google_analytics" %>
  <%= render "utils/ab_testing_optimizely" %>
  <%= render "utils/crazyegg" %>
  <%= render "utils/support_chat" %>

  <%= yield :head %>
</head>


<body class="expand">
  <div class="new_site">
    <header>
      <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag('logoNavMir.png'), root_path, class: "navbar-brand" %>
          </div>
          <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li><a href="#">Nuestro Programa</a></li>
              <li class="active"><a href="#">Preguntas Frecuentes</a></li>
              <li><a href="#">Blog</a></li>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Ingresar</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </nav>
    </header>



    <div class="pitch faq">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2><span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="45" height="61" viewBox="0 0 45 61">
                <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAA9CAMAAAAOEhAzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAATlBMVEUAAAD/////////////////////////////////////////////////////////RgD/RgD/RgD/RgD/RgD/RgD/RgD/RgD/////RgAAAACjiGzUAAAAF3RSTlMAZnciuxHuRIjMM92ZVapUcA7AIKjgHOQ5ed8AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAABWklEQVRIx+3Vy3aEIAwAUF4KKjh90///0i4mkQQIeLpts3LkwkQSVGlDQ1XBR61ymcZS6ZWN+kp7jm0e6ioVPdaO6zDWmettonems6CPrZO452NkbUgxUm3gXptJgnWohjEj6mzb2vhW+wNmFbw/76w9DdmFpjauow2MbUXDfNPT2BNNbXxPX8+EeMHpXX1W9UnYOl0N23pWtQl9jRtW1Sb1NfYQNhb8XAQNl5rV5lCCxibiLSVpz+oTr3/qa9zg58GHvrGSxuIlctxXJepA6pPK7gv6qh6fKWjaWK50jaDxyfZSGzXQ8br2JClJl8Yy5K6kS7XPkrao8URYvFiGGpbUljaBqPEEwJEOYw0DG9RGjzVu85X/WLMX9KEm2lAdZzpRbWZ6oXqfafqpwXfFQMei3VyTT6SZa/L59XONJyKXd7Ovp//H7+Pxcj9e1dv3/Xj/I/rj8358/QCd/5PAWPoF3wAAAABJRU5ErkJggg==" width="45" height="61"/>
              </svg>
            </span>
            Preguntas Frecuentes</h2>
          </div>
        </div><!--/row -->
      </div><!--/container -->
    </div><!--/pitch faq -->


    <div class="container-fluid"> 
      <div class="row">
        <div class="container">
          <div class="faqs">
            <div class="col-md-8 col-md-offset-2">
              <section class="question">
                <h3>¿Qué hace a Make it Real diferente?</h3>
                <p>Make it Real es un programa muy estructurado, apoyado de mentores y una comunidad de estudiantes que trabajan de la mano, pero con la flexibilidad horaria y la dedicación que más te convenga.</p>
                <p>Hemos diseñado cuidadosamente el programa para que aprendas las habilidades que se requieren para convertirte en Desarrollador Web y puedas construir y desplegar aplicaciones complejas y robustas.</p>
              </section><!--/question -->

              <section class="question">
                <h3>¿Cuánto tiempo debo dedicar?</h3>
                <p>Lo mínimo que debes dedicar para completarlo en un año es 15 a 20 horas por semana. Sin embargo, si le dedicas 80 horas a la semana podrías completarlo en 3 meses o antes. Tu decides.</p>
              </section><!--/question -->

              <section class="question">
                <h3>¿Me van a ayudar a encontrar empleo?</h3>
                <p>Es posible que publiquemos algunas ofertas para los alumnos más avanzados pero no hay ninguna garantía. Es cierto que la demanda de programadores sigue creciendo, así que entre más duro trabajes por crear tu portafolio, más probable es que consiguas un empleo.</p>
              </section><!--/question -->

              <section class="question">
                <h3>¿Por qué están haciendo esto?</h3>
                <p>Porque creemos que el sistema de educación formal no se ha adaptado a las necesidades del mundo actual. Queremos mostrar que existen mejores formas de aprender a programar que ingresar a una universidad y que los títulos no son la única forma de conseguir trabajo.</p>
                <p>Pero nuestra mayor motivación es que más gente aprenda a programar y mejore su calidad de vida. La programación nos permite trabajar desde donde queramos y en la mayoría de casos en horarios flexibles. Eso abre muchas posibilidades para viajar, compartir en familia, y lo más importante: intentar mejorar el mundo.</p>
              </section><!--/question -->

              <section class="question">
                <h3>¿Por qué un programa virtual y no presencial?</h3>
                <p>Son varias las razones así que hemos escrito un <a href="">post completo</a> explicándolas.</p>
              </section><!--/question -->

              <section class="question">
                <h3>¿Cómo sé si este programa es para mi?</h3>
                <p>Si sientes que el programa no es para ti y te retiras en los primeros 15 días, recibirás un reembolso completo. Si cancelas después, recibirás un reembolso parcial según tu avance en la plataforma. Cero riesgo.</p>
              </section><!--/question -->

              <section class="question">
                <h3>¿Cuáles son los requerimientos?</h3>
                <p>Lo único que necesitas es un computador (con cualquier sistema operativo) y una buena conexión a Internet para ver los videos. Una advertencia: la mayoría de recursos están en Inglés. Es preferible si al menos lo entiendes escrito. Pero si no, no te preocupes, puedes usar un traductor si es necesario y buscar otros recursos por tu cuenta.</p>
              </section><!--/question -->

              <section class="question">
                <h3>¿Qué pasa si no lo completo durante el año?</h3>
                <p>El objetivo es que lo completes. Pero si por alguna razón no lo puedes hacer deberás pagar mensualmente para mantener activa la plataforma. Aún no hemos definido el costo.</p>
                <p>Nuestra recomendación es que pienses bien si le puedes dedicar el tiempo antes de tomar la decisión.</p>
              </section><!--/question -->

              <section class="question">
                <h3>¿Por qué Ruby on Rails?</h3>
                <p>Por varias razones. La primera es que no importa con qué tecnología aprendas, el mundo de la programación se mueve muy rápido y en algunos años la mayoría de tecnologías actuales serán obsoletas. El objetivo del programa es que aprendas a aprender.</p>
                <p>Seleccionamos Ruby on Rails porque es un framework muy expresivo, fácil de aprender y con una gran comunidad de desarrolladores en el mundo.</p>
                <p>No tenemos nada en contra de otros lenguajes y frameworks de programación, pero creemos que Rails tiene el balance perfecto entre madurez y facilidad de aprendizaje. Además, una vez que aprendas Rails, tus conocimientos pueden ser rápidamente transferidos a otros frameworks de programación similares en otros lenguajes como Django (Python), Laravel (PHP) o Express.js (Node.js).</p>
              </section><!--/question -->
            </div>
          </div><!--/pitch faqs -->
        </div>

        


        
      

        <div class="apply-now">
          <div class="top-container">
            <div class="col-md-6 col-md-offset-3">
              <h3>¿Cuánto cuesta el programa?</h3>
              <div class="price before">COP$2'800,000</div>
              <div class="price now">COP$2'290,000</div>
              <div class="price-caption">* El descuento aplica hasta el 30 de Septiembre de 2015. Solo disponible en Colombia. Precio en Pesos Colombianos</div>
              <h4>¿Qué recibo?</h4>
              <ul>
                <li>Acceso de por vida a Slack (chat) para interactuar con alumnos y mentores. La comunidad estará ahí para apoyarte cuando encuentres un empleo o estés desarrollando tu idea de negocio.</li>
                <li>Acceso por un año a la plataforma (retos, cursos, charlas, y material adicional).</li>
              </ul>
            </div>

            <div class="col-md-4 col-md-offset-4">
              <button class="btn btn-main">¡Aplica ahora!</button>
            </div>

          </div>

          <div class="icon-mir">
            <%= image_tag("bgIconMir.png", class: "img-responsive") %>
          </div>
        </div><!--/apply-now -->


        <footer>
          <div class="col-md-12 logo-footer">
            <%= image_tag("logoFooterMir.png") %>
          </div>
          <div class="col-md-4 col-md-offset-2">
            <h4>Acerca de nosotros</h4>
            <div class="row">
              <div class="col-md-6">
                <ul class="site-links">
                  <li><a href="">Nuestro Porgrama</a></li>
                  <li><a href="">Preguntas Frecuentes</a></li>
                  <li><a href="">Blog</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="site-links">
                  <li><a href="">Política de Privacidad</a></li>
                  <li><a href="">Términos de Servicio</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <h4>Únete a nuestra comunidad</h4>
            <ul class="social-icons">
              <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="63" height="63" viewBox="0 0 49.652 49.652"><path d="M24.826 0c-13.689 0-24.826 11.137-24.826 24.826 0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826 0-13.689-11.136-24.826-24.826-24.826zm6.174 25.7h-4.039v14.396h-5.985v-14.396h-2.845v-5.088h2.845v-3.291c0-2.357 1.12-6.04 6.04-6.04l4.435.017v4.939h-3.219c-.524 0-1.269.262-1.269 1.386v2.99h4.56l-.523 5.087z"/></svg></a></li>
              <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="63" height="63" viewBox="0 0 49.652 49.652"><path d="M21.5 28.94l-.499-.34c-.503-.154-1.037-.234-1.584-.241h-.066c-2.514 0-4.718 1.521-4.718 3.257 0 1.89 1.889 3.367 4.299 3.367 3.179 0 4.79-1.098 4.79-3.258 0-.204-.024-.416-.075-.629-.215-.838-.984-1.361-2.147-2.156zM19.719 22.352h.002c.601 0 1.108-.237 1.501-.687.616-.702.889-1.854.727-3.077-.285-2.186-1.848-4.006-3.479-4.053l-.065-.002c-.577 0-1.092.238-1.483.686-.607.693-.864 1.791-.705 3.012.286 2.184 1.882 4.071 3.479 4.121h.023zM24.826 0c-13.689 0-24.826 11.137-24.826 24.826 0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826 0-13.689-11.136-24.826-24.826-24.826zm-2.862 36.915c-.938.271-1.953.408-3.018.408-1.186 0-2.326-.136-3.389-.405-2.057-.519-3.577-1.503-4.287-2.771-.306-.548-.461-1.132-.461-1.737 0-.623.149-1.255.443-1.881 1.127-2.402 4.098-4.018 7.389-4.018h.094c-.267-.471-.396-.959-.396-1.472 0-.255.034-.515.102-.78-3.452-.078-6.035-2.606-6.035-5.939 0-2.353 1.881-4.646 4.571-5.572.805-.278 1.626-.42 2.433-.42h7.382c.251 0 .474.163.552.402.078.238-.008.5-.211.647l-1.651 1.195c-.099.07-.218.108-.341.108h-.591c.763.915 1.21 2.22 1.21 3.685 0 1.617-.818 3.146-2.307 4.311-1.15.896-1.195 1.143-1.195 1.654.014.281.815 1.198 1.699 1.823 2.059 1.456 2.825 2.885 2.825 5.269-.001 2.491-1.892 4.643-4.818 5.493zm16.671-12.662c0 .32-.261.58-.58.58h-4.195v4.197c0 .32-.261.58-.578.58h-1.195c-.322 0-.582-.26-.582-.58v-4.197h-4.192c-.32 0-.58-.258-.58-.58v-1.193c0-.32.26-.582.58-.582h4.192v-4.193c0-.321.26-.58.582-.58h1.195c.317 0 .578.259.578.58v4.193h4.194c.319 0 .58.26.58.58v1.195z"/></svg></a></li>
              <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="63" height="63" viewBox="0 0 49.652 49.652"><path d="M24.826 0c-13.689 0-24.826 11.137-24.826 24.826 0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826 0-13.689-11.136-24.826-24.826-24.826zm11.075 19.144c.011.246.017.494.017.742 0 7.551-5.746 16.255-16.259 16.255-3.227 0-6.231-.943-8.759-2.565.447.053.902.08 1.363.08 2.678 0 5.141-.914 7.097-2.446-2.5-.046-4.611-1.698-5.338-3.969.348.066.707.103 1.074.103.521 0 1.027-.068 1.506-.199-2.614-.524-4.583-2.833-4.583-5.603l.001-.072c.77.427 1.651.685 2.587.714-1.532-1.023-2.541-2.773-2.541-4.755 0-1.048.281-2.03.773-2.874 2.817 3.458 7.029 5.732 11.777 5.972-.098-.419-.147-.854-.147-1.303 0-3.155 2.558-5.714 5.713-5.714 1.644 0 3.127.694 4.171 1.804 1.303-.256 2.523-.73 3.63-1.387-.43 1.335-1.333 2.454-2.516 3.162 1.157-.138 2.261-.444 3.282-.899-.762 1.144-1.731 2.151-2.848 2.954z"/></svg></a></li>
              <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="63" height="63" viewBox="0 0 49.652 49.652"><path d="M24.825 29.796c2.739 0 4.972-2.229 4.972-4.97 0-1.082-.354-2.081-.94-2.897-.903-1.252-2.371-2.073-4.029-2.073-1.659 0-3.126.82-4.031 2.072-.588.816-.939 1.815-.94 2.897-.003 2.741 2.228 4.971 4.968 4.971zM35.678 18.746v-4.7860000000000005l-.623.002-4.164.013.016 4.787zM24.826 0c-13.689 0-24.826 11.137-24.826 24.826 0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826 0-13.689-11.136-24.826-24.826-24.826zm14.119 21.929v11.56c0 3.011-2.448 5.458-5.457 5.458h-17.324c-3.01 0-5.457-2.447-5.457-5.458v-17.324c0-3.01 2.447-5.457 5.457-5.457h17.323c3.01 0 5.458 2.447 5.458 5.457v5.764zM32.549 24.826c0 4.257-3.464 7.723-7.723 7.723s-7.722-3.466-7.722-7.723c0-1.024.204-2.003.568-2.897h-4.215v11.56c0 1.494 1.213 2.704 2.706 2.704h17.323c1.491 0 2.706-1.21 2.706-2.704v-11.56h-4.217c.367.894.574 1.873.574 2.897z"/></svg></a></li>
              <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="63" height="63" viewBox="0 0 97.75 97.75"><path d="M25.676 52.482h3.875v20.973h3.666v-20.973h3.947v-3.435h-11.488zM56.674 55.046c-1.212 0-2.343.662-3.406 1.972v-7.972h-3.295v24.409h3.295v-1.762c1.103 1.361 2.233 2.013 3.406 2.013 1.311 0 2.193-.69 2.633-2.044.221-.771.334-1.982.334-3.665v-7.242c0-1.722-.113-2.924-.334-3.655-.439-1.364-1.323-2.054-2.633-2.054zm-.33 13.209c0 1.644-.482 2.454-1.434 2.454-.541 0-1.092-.259-1.643-.811v-11.084c.551-.545 1.102-.803 1.643-.803.951 0 1.434.842 1.434 2.482v7.762zM43.824 69.167c-.731 1.033-1.422 1.542-2.084 1.542-.44 0-.691-.259-.771-.771-.03-.106-.03-.508-.03-1.28v-13.39h-3.296v14.379c0 1.285.111 2.153.291 2.705.331.922 1.063 1.354 2.123 1.354 1.213 0 2.457-.732 3.767-2.234v1.984h3.298v-18.188h-3.298v13.899zM46.653 38.466c1.073 0 1.588-.851 1.588-2.551v-7.731c0-1.701-.515-2.548-1.588-2.548-1.074 0-1.59.848-1.59 2.548v7.731c0 1.701.516 2.551 1.59 2.551zM48.875 0c-26.993 0-48.875 21.882-48.875 48.875s21.882 48.875 48.875 48.875 48.875-21.882 48.875-48.875-21.882-48.875-48.875-48.875zm5.436 22.86h3.321v13.532c0 .781 0 1.186.04 1.295.073.516.335.78.781.78.666 0 1.365-.516 2.104-1.559v-14.048h3.33v18.379h-3.33v-2.004c-1.326 1.52-2.59 2.257-3.805 2.257-1.072 0-1.812-.435-2.146-1.365-.184-.557-.295-1.436-.295-2.733v-14.534zm-12.578 5.993c0-1.965.334-3.401 1.042-4.33.921-1.257 2.218-1.885 3.878-1.885 1.668 0 2.964.628 3.885 1.885.698.928 1.032 2.365 1.032 4.33v6.436c0 1.954-.334 3.403-1.032 4.322-.921 1.254-2.217 1.881-3.885 1.881-1.66 0-2.957-.627-3.878-1.881-.708-.919-1.042-2.369-1.042-4.322v-6.436zm-8.906-12.277l2.622 9.685 2.519-9.685h3.735l-4.443 14.675v9.989h-3.692v-9.989c-.335-1.77-1.074-4.363-2.259-7.803l-2.367-6.872h3.885zm42.359 58.485c-.668 2.899-3.039 5.039-5.894 5.358-6.763.755-13.604.759-20.42.755-6.813.004-13.658 0-20.419-.755-2.855-.319-5.227-2.458-5.893-5.358-.951-4.129-.951-8.638-.951-12.89s.012-8.76.962-12.89c.667-2.9 3.037-5.04 5.892-5.358 6.762-.755 13.606-.759 20.421-.755 6.813-.004 13.657 0 20.419.755 2.855.319 5.227 2.458 5.896 5.358.948 4.13.942 8.638.942 12.89s-.004 8.761-.955 12.89zM67.17 55.046c-1.686 0-2.995.619-3.947 1.864-.699.92-1.018 2.342-1.018 4.285v6.371c0 1.933.357 3.365 1.059 4.276.951 1.242 2.264 1.863 3.988 1.863 1.721 0 3.072-.651 3.984-1.972.4-.584.66-1.245.77-1.975.031-.33.07-1.061.07-2.124v-.479h-3.361c0 1.32-.043 2.053-.072 2.232-.188.881-.662 1.321-1.473 1.321-1.132 0-1.686-.84-1.686-2.522v-3.226h6.592v-3.767c0-1.943-.329-3.365-1.02-4.285-.921-1.242-2.232-1.862-3.886-1.862zm1.612 7.172h-3.296v-1.683c0-1.682.553-2.523 1.654-2.523 1.09 0 1.642.842 1.642 2.523v1.683z"/></svg></a></li>
            </ul>
          </div>

          <div class="col-md-12 copyright-container">
            <div class="copyright">
              © Todos los derechos reservados. Make it Real es una marca de <a href="">La Nueva Educación.</a>
            </div>
            <div class="icon-mir-footer">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="30" height="40" viewBox="0 0 30 40">
                <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAoCAMAAADezbogAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAATlBMVEUAAAAjICAjICAjICAjICAjICAjICAjICAjICAjICAjICAjICAjICAjICAjICD/RgD/RgD/RgD/RgD/RgD/RgD/RgD/RgAjICD/RgAAAAD/NUQRAAAAF3RSTlMARMyZdxHdqu67iDNVZiI44HBAgDzweO12ytAAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAA50lEQVQ4y83SSxKDIAwA0KAoImD/tfc/aYeQIATGTTfNghl9SkgCqJ1igBwjv9OQeT946LFinfYea2YleY6LYdbxaSk5ZluYbXyw5eZrXBwxblWxj0tI6hCqo+FhxyK1qljNR2OwKVAzvpuQ45dWcMiNwTyrYJcbg6f0gmHBLflkk2TDU4kFzyBZc2OoRMGKkitqkGD+C3fZWqachoYjmX6babSSU70b1y85dctz9yTjBbQrl9/wyNfKdjlUd7Lhjdl3GaeSx96ySTpAn9P1oyvXskscSv7juFxP4gb3z0k8fuTn6yTeXw/bPgiGMSluAAAAAElFTkSuQmCC" width="30" height="40"/>
              </svg>
            </div>
          </div>
        </footer>
        
      </div><!--/row -->
    </div><!--/contianer-fluid -->



  </div><!--/new_site -->
</body>
</html>



