<%= render "full_stack_onsite_header", image_path: "full-stack-medellin.cover.jpg" %>

<div class="new-site program full-stack-onsite medellin">
  <%= render "layouts/navbar/pages_white", hide_login: true %>
  <%= render "pages/header_register" %>

  <div class="program-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6 tagline-program">
          <h1><small>Medellín Edition</small>Front End Web Developer</h1>
          <p>En este curso presencial <strong>de 9 semanas</strong> aprenderás a crear aplicaciones Web con HTML5, CSS3, JavaScript, jQuery, Firebase, React y Redux.</p>
        </div><!--/tagline-program -->

        <div class="col-md-6">
          <div class="medellin-info">
            <div class="medellin-info-title">Fecha Inicio</div>

            <div class="medellin-info-body">
              <div class="medellin-info-date">
                 Jun 18, 2018
              </div>
              <div class="medellin-info-schedule">
                <div class="schedule-data">
                  6pm a 9pm
                  <span class="schedule-label">Lunes a Viernes</span>
                </div>
              </div>

              <div class="medellin-info-location">
                Medellín, Colombia
                <div class="address">Cll 7d # 43c - 134</div>
              </div>

              <button type="button" class="btn btn-primary btn-register">¡Regístrate!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "front_end_onsite_audience" %>

  <%= render "front_end_onsite_curriculum" %>

  <a name="mentors"></a>
  <div class="section section-white section-bordered section-mentors">
    <div class="container">
      <h2>Conoce a tus mentores</h2>

      <div class="row">
        <div class="col-sm-6 clearfix">
          <div class="profile-image text-center">
            <%= image_tag "people/german-escobar.png", class: "img-circle" %>
          </div>

          <div class="profile">
            <h3>Germán Escobar <small>Curriculum Developer</small></h3>
            <p class="text-center">Programador y emprendedor con una <a href="http://germanescobar.com/2014/06/02/la-nueva-educacion/" target="_blank">visión particular de la educación</a>. Co-fundador de <a href="http://elibom.com/?utm_source=full-stack-medellin&utm_medium=web&utm_campaign=Make%20it%20Real" target="_blank">elibom.com</a> y fundador de <a href="http://www.makeitreal.camp/?utm_source=aprende-desarrollo-web&utm_medium=web&utm_campaign=inbound" target="_blank">makeitreal.camp</a>.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="profile-image text-center">
            <%= image_tag "people/sebastian-zapata-square.png", class: "img-circle"%>
          </div>
          <div class="profile">
            <h3>Sebastián Zapata <small>Mentor</small></h3>
            <p class="text-center">Co-fundador de <a href="https://www.kaizendevs.com" target="_blank">Kaizen Devs</a>, finalista del <a href="https://app.zentrifuga.com/events/1/" target="_blank">Reto Fincluimos 2016</a> con <a href="http://www.harvestdata.co/" target="_blank">Harvest Data</a> y ganador del <a href="http://angelhack.com/" target="_blank">AngelHack Bogotá 2016</a> con <a href="https://www.slashbox.co/" target="_blank">Slashbox</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="location"></a>
  <div class="section section-transparent section-location nodoastorga">
    <div class="location-data">
      <div class="container">
        <a href="https://nodo.space/?utm_source=front-end-medellin&utm_medium=web&utm_campaign=make-it-real" target="_blank">NODO Coworking - Astorga</a>
        <div class="location-dir">Cll 7d # 43c - 134, Medellín, Antioquia - <a href="https://www.google.com.co/maps/place/NODO+Coworking+-+Astorga/@6.208536,-75.5712229,17z/data=!4m12!1m6!3m5!1s0x8e44282ad3055b19:0xc79fa2d4c3232f1b!2sNODO+Coworking+-+Astorga!8m2!3d6.2094639!4d-75.5741626!3m4!1s0x8e44282ad3055b19:0xc79fa2d4c3232f1b!8m2!3d6.2094639!4d-75.5741626?hl=en" target="_blank">Google Maps</a></div>
      </div>
    </div>
  </div>

  <%= render "full_stack_onsite_students" %>

  <%= render "front_end_onsite_faqs" %>

  <%= render "full_stack_onsite_magnet" %>

  <%= render "footer" %>

  <%= render "full_stack_onsite_registration", action: "/front-end-medellin" %>
</div>
