<% content_for :head do %>
  <meta property="og:title" content="Conoce nuestro Bootcamp presencial de Front End Web Development" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="En este Bootcamp intensivo de 17 semanas (8 online, 9 presenciales) aprenderás a crear y mantener aplicaciones Web con HTML, CSS, JavaScript, AngularJS y React, entre otros." />
  <meta property="og:image" content="<%= image_url('front-end-bootcamp.jpg') %>" />
<% end %>

<div class="new-site program front-end-bootcamp">
  <%= render "layouts/navbar/pages_white", hide_login: true, show_apply: true, url: @typeform_url %>
  <%= render "pages/header_apply", url: @typeform_url %>

  <div class="program-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6 tagline-program">
          <h1>Front End Web Developer Bootcamp</h1>
          <p>En este Bootcamp intensivo de <strong>17 semanas (8 online, 9 presenciales)</strong> aprenderás a crear y mantener aplicaciones Web con HTML, CSS, JavaScript, AngularJS y React, entre otros.</p>
        </div><!--/tagline-program -->

        <div class="col-md-6">
          <div class="bootcamp-info">
            <div class="bootcamp-info-title">Próxima Fecha de Inicio</div>

            <div class="bootcamp-info-body">
              <p>Conviértete en un creador digital</p>

              <div class="bootcamp-info-item">
                <span class="glyphicon glyphicon-calendar"></span>
                <div class="bootcamp-info-date">
                  Julio
                  <span class="location-label">2016</span>
                </div>
              </div>

              <div class="bootcamp-info-item">
                <span class="glyphicon glyphicon-map-marker"></span>
                <div class="bootcamp-info-location">
                  Bogotá
                  <span class="location-label">Colombia</span>
                </div>
              </div>

              <a href="<%= @typeform_url %>" class="btn btn-primary">¡Aplica Ahora!</a>
            </div>
          </div>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/program-intro -->

  <div class="section section-white section-pitch">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Aprende haciendo</h3>
          <p>Hoy se valora más lo que has creado que los títulos y las certificaciones, tu portafolio será tu nueva carta de presentación.</p>
        </div>
        <div class="col-sm-4">
          <h3>Mentores experimentados</h3>
          <p>Soluciona tus dudas, recibe apoyo cuando lo necesites y acelera tu aprendizaje con mentorías 1-a-1 en los temas que más se te dificulten.</p>
        </div>
        <div class="col-sm-4">
          <h3>Alcanza tus metas</h3>
          <p>Encuentra el empleo de tus sueños o haz realidad tus ideas de negocio. El post-programa te prepara para esta nueva fase de tu vida.</p>
        </div>
      </div>
    </div>
  </div><!--/pitch -->

  <div class="section section-bordered bootcamp-target">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>¿A quién está dirigido?</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p class="subhead">Buscamos personas recursivas y motivadas que deseen convertirse en Front End Web Developers.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5 hidden-xs hidden-sm">
          <div class="bootcamp-quote">
            <p>"Después de 10 años en mercadeo decidí cambiar de profesión. El camino puede ser duro pero con la experiencia de los mentores y la comunidad de alumnos de Make it Real se puede!"</p>

            <div class="clearfix">
              <div class="bootcamp-quote-img"><%= image_tag "people/christophe-gray.png", width: 90, class: "img-circle" %></div>
              <div class="bootcamp-quote-person">
                <a href="http://chrisestanol.com/" target="_blank" class="bootcamp-quote-person-name">Christophe Estanol</a>
                <span>Web Developer</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-7 bootcamp-target-details">
          <p class="bootcamp-target-details-intro">Nuestro programa es ideal para personas que:</p>

          <ul>
            <li>Quieren cambiar de carrera.</li>
            <li>Estudiaron Ingeniería de Sistemas, o alguna carrera similar (Electrónica, Mecatrónica, etc.), y desean avanzar su carrera.</li>
            <li>Emprendedores digitales que quieren hacer sus ideas realidad.</li>
          </ul>

          <p class="bootcamp-target-details-alt">¿No tienes el tiempo para hacer un Bootcamp presencial? Conoce <%= link_to "nuestros programas online", root_path %>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-white learnings-program" style="background: white;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 program-title text-center">
          <h2>Lo que aprenderás</h2>
          <p class="subhead">Te enseñaremos las tecnologías y habilidades necesarias para convertirte en un profesional competente o emprendedor exitoso.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon icon-html5"></span>
              <h4>HTML5 y CSS3</h4>
            </div>
            <p>Crea sitios y aplicaciones que se adaptan a la pantalla de diferentes dispositivos.</p>
          </div>
        </div><!--/technology -->

        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon icon-bootstrap"></span>
              <h4>Bootstrap</h4>
            </div>
            <p>Aprende a utilizar y personalizar Bootstrap para agilizar el desarrollo.</p>
          </div>
        </div><!--/technology -->

        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon icon-github"></span>
              <h4>Git y Github</h4>
            </div>
            <p>Maneja los cambios de tu código y colabora con otros programadores.</p>
          </div>
        </div><!--/technology -->

        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon alt icon-uniF148"></span>
              <h4>JavaScript</h4>
            </div>
            <p>Aprende en profundidad el lenguaje más popular y versatil del mundo.</p>
          </div>
        </div><!--/technology -->

        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon alt icon-jquery"></span>
              <h4>jQuery y AJAX</h4>
            </div>
            <p>Aprende a manipular el DOM y hacer llamados a servidores remotos.</p>
          </div>
        </div><!--/technology -->


        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon alt icon-angular-alt"></span>
              <h4>AngularJS</h4>
            </div>
            <p>El framework JavaScript más popular para crear aplicaciones dinámicas en el navegador.</p>
          </div>
        </div><!--/technology -->

        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon alt icon-reactjs"></span>
              <h4>ReactJS</h4>
            </div>
            <p>El framework JavaScript de mayor crecimiento para crear aplicaciones dinámicas en el navegador.</p>
          </div>
        </div><!--/technology -->

        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon glyphicon glyphicon-phone"></span>
              <h4>Apps Móviles</h4>
            </div>
            <p>Aprende a desarrollar aplicaciones móviles utilizando Ionic y React Native.</p>
          </div>
        </div><!--/technology -->

        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon icon-gears"></span>
              <h4>REST API's</h4>
            </div>
            <p>Aprende a consumir e integrar API's de servicios como Spotify y Firebase, entre otros.</p>
          </div>
        </div><!--/technology -->

        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon icon-nodejs"></span>
              <h4>Backend</h4>
            </div>
            <p>Aprende las bases de Node.js, Express, MongoDB y Meteor.</p>
          </div>
        </div><!--/technology -->

        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon icon-code"></span>
              <h4>Herramientas web</h4>
            </div>
            <p>Utiliza herramientas como Gulp, Sass, Markdown, NPM y Bower, entre otras.</p>
          </div>
        </div><!--/technology -->

        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon glyphicon glyphicon-flash"></span>
              <h4>Otros temas</h4>
            </div>
            <p>Crea aplicaciones con geolocalización, gráficos y tiempo real con Web Sockets.</p>
          </div>
        </div><!--/technology -->

        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon icon-tree"></span>
              <h4>Scrum</h4>
            </div>
            <p>Aprende a prototipar, implementar y desplegar una aplicación de forma iterativa.</p>
          </div>
        </div><!--/technology -->

        <div class="col-sm-6 col-md-4">
          <div class="technology">
            <div class="title-container">
              <span class="icon icon-console"></span>
              <h4>Testing</h4>
            </div>
            <p>Crea aplicaciones fáciles de mantener con pruebas automatizadas.</p>
          </div>
        </div><!--/technology -->
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/learnings-program -->

  <div class="section section-bordered bootcamp-phases">
    <h2>LAS TRES FASES DEL BOOTCAMP</h2>

    <div class="container">
      <div class="row">
        <div class="col-md-4 bootcamp-phases-phase">
          <header>
            <span class="number">1</span>
            <h3><small>8 semanas</small>Fase Online</h3>
          </header>
          <p>Trabajarás en nuestra plataforma de aprendizaje de la mano de un mentor.</p>
          <p>Aprenderás (o reforzarás) HTML5, CSS3, Responsive Design, Bootstrap, Git y Github, JavaScript, jQuery y AJAX, y las bases de AngularJS y React. </p>
          <p>El tiempo requerido para esta fase es de 2 a 6 horas diarias (incluyendo fines de semana) dependiendo de tus conocimientos previos.</p>
        </div>
        <div class="col-md-4 bootcamp-phases-phase">
          <header>
            <span class="number">2</span>
            <h3><small>9 semanas</small>Fase Presencial</h3>
          </header>
          <p>Trabajarás diariamente en parejas solucionando retos y proyectos cada vez más complejos en AngularJS, React y React Native, utilizando Gulp, Webpack, NPM, Bower y Firebase, entre otros. </p>
          <p>Aprenderás las bases de Node.js, Express.js y MongoDB.</p>
          <p>En las dos últimas semanas construirás tu proyecto personal, pero antes prepárate para el Hackathon de dos días!</p>
        </div>
        <div class="col-md-4 bootcamp-phases-phase">
          <header>
            <span class="number">3</span>
            <h3><small>6 meses</small>Post-Bootcamp</h3>
          </header>
          <p>Prepara tu portafolio, realiza las entrevistas de prueba y encuentra el empleo de tus sueños.</p>
          <p>Sigue recibiendo ayuda de tus mentores y compañeros en esta nueva etapa de tu vida.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="section section-white section-bordered bootcamp-faq">
    <div class="container">
      <h2>Preguntas frecuentes</h2>

      <div class="row">
        <div class="col-sm-6">
          <section class="question">
            <h3>¿Por qué existe Make it Real?</h3>
            <p>Por dos razones principalmente. Por un lado existe una desconexión entre la academia y la industria. Las empresas no están encontrando las personas con los conocimientos que necesitan, pero muchos profesionales siguen sin empleo.</p>
            <p>La segunda razón es que, desafortunadamente, la mayoría de la educación está mal implementada. La clase magistral y las calificaciones son obsoletas. Creemos que es el momento de repensar la educación.</p>
          </section><!--/question -->

          <section class="question">
            <h3>¿Qué hace un desarrollador Front End?</h3>
            <p>Es la persona que se encarga de convertir un diseño en código que entiendan los navegadores usando HTML, CSS, y JavaScript.</p>
            <p>Este es quizá el rol con más demanda en la actualidad y el que más rápido está evolucionando. La razón es que las empresas buscan que sus sitios y aplicaciones se adapten a diferentes pantallas, tengan animaciones, se actualicen sin necesidad de refrescar la página, reaccionen rápidamente al usuario, etc. Muchas funcionalidades que antes se hacían en el servidor (por el back-end) ahora se hacen en el navegador y son responsabilidad del front-end.</p>
          </section><!--/question -->

          <section class="question">
            <h3>¿Cuáles son los requisitos?</h3>
            <p>Para el Bootcamp necesitas:</p>
            <ul>
              <li>Un computador personal, preferiblemente con sistema operativo OS X (Mac) o Linux.</li>
              <li>Disponibilidad de tiempo parcial para la fase online (de 2 a 6 horas dependiendo de tus conocimientos previos).</li>
              <li>Disponibilidad de tiempo completo para la fase presencial de 9 semanas.</li>
              <li>Tener conocimiento de Inglés intermedio.</li>
              <li>Haber comenzado a aprender por tu cuenta.</li>
              <li>Y muchas ganas de aprender!</li>
            </ul>
          </section><!--/question -->
        </div>

        <div class="col-sm-6">
          <section class="question">
            <h3>¿Cómo es el proceso de selección?</h3>
            <p>El primer paso es llenar el formulario de aplicación. Recibirás una respuesta en las siguientes 24 horas hábiles. Si eres preseleccionado(a) coordinaremos una entrevista vía Skype y en una semana aproximadamente recibirás una respuesta definitiva.</p>
          </section><!--/question -->

          <section class="question">
            <h3>¿Puedo aplicar si nunca he programado?</h3>
            <p>Si, pero en ese caso debes disponer de tiempo completo en la fase online y empezar desde ahora! Te recomendamos <a href="http://aprendedesarrolloweb.com/?utm_source=faq&utm_medium=web&utm_campaign=Make%20it%20Real" target="_blank">este curso completamente gratis</a> que hemos creado para que descubras si este mundo realmente te interesa.</p>
          </section><!--/question -->

          <section class="question">
            <h3>¿Me ayudarán a encontrar empleo después del Bootcamp?</h3>
            <p>Si, tenemos alianzas con empresas interesadas en contratar a aquellas personas que completen el Bootcamp. El 95% de nuestros estudiantes ha encontrado empleo, o está emprendiendo, después de terminar alguno de nuestros programas.</p>
          </section><!--/question -->

          <section class="question">
            <h3>¿Voy a aprender algo de backend?</h3>
            <p>Si. Aunque el Bootcamp está enfocado en Front End, vas a adquirir un conocimiento básico en tecnologías como Node.js y MongoDB.</p>
          </section><!--/question -->
        </div>
      </div>
    </div>
  </section>

  <%= render "pages/companies" %>
  <%= render "pages/main_quote" %>

  <section class="section section-white bootcamp-pricing">
    <div class="container">
      <div class="row program-title">
        <div class="col-sm-10 col-sm-offset-1">
          <h2>PRECIO</h2>
          <p class="subhead">95% de nuestros alumnos encuentran empleo dentro de los primeros 4 meses después de terminar el programa con un salario inicial promedio de $2'920,000 COP al mes</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-sm-offset-1 text-center">
          <div class="price">$6'496,000 *</div>
          <div class="price-details">
            * Precios en <strong>pesos colombianos</strong>. Recibimos todos los medios de pago. Impuestos incluidos.
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <div class="price-financing">
            <strong>¿No cuentas con todo el dinero?</strong> Aplica igual. Tenemos planes de financiación de hasta el 70% para que empieces a pagar 2 meses después de terminar el bootcamp, si eres aceptado(a).
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="section section-dark bootcamp-magnet">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <p class="intro-text">¿Quieres cambiar tu futuro?</p>
          <p class="subhead">No te prometemos que será fácil, pero te prometemos que valdrá la pena!</p>
          <a href="<%= @typeform_url %>" class="btn btn-primary">¡Aplica Ahora!</a>
        </div>
      </div>
    </div>
  </section>
  <%= render "footer" %>
</div>
