<div class="new_site">
  <%= render "navigation" %>

  <div class="program-intro full-stack">
    <div class="container">
      <div class="row">
        <div class="col-md-6 tagline-program">
          <h1>Desarrollador Web Full Stack en Ruby on Rails</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, nesciunt?</p>
          <a href="" class="btn-cta">¡Aplica ahora!</a>
        </div><!--/tagline-program -->

        <div class="col-md-6 bullets-program">
          <ul>
            <li>
              <div class="icon-bullet-program">
                <%= image_tag("icon-interna-aplicaciones.png") %>
              </div>
              <div class="content-bullet-program">
                <h2>Crea aplicaciones reales</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis harum laboriosam tempora!</p>
              </div>
            </li>
            <li>
              <div class="icon-bullet-program">
                <%= image_tag("icon-interna-mentores.png") %>
              </div>
              <div class="content-bullet-program">
                <h2>Mentores Experimentados</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis harum laboriosam tempora!</p>
              </div>
            </li>
            <li>
              <div class="icon-bullet-program">
                <%= image_tag("icon-interna-horario.png") %>
              </div>
              <div class="content-bullet-program">
                <h2>Horario Flexible</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis harum laboriosam tempora!</p>
              </div>
            </li>
          </ul>
        </div><!--/bullets-program -->

      </div><!--/row -->
    </div><!--/container -->
  </div><!--/program-intro -->


  <div class="feature-program data-program">
    <div class="container">
      <div class="row">

      <div class="col-md-12 title-program">
        <h3>Incluye</h3>
      </div>

      <div class="col-md-3">
        <div class="each-data-program">
          <span class="data-number">+200</span>
          <p>Retos autoevaluado para que aprendas mientras los</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="each-data-program">
          <span class="data-number">110</span>
          <p>Videos que te guiarán en la construcción de aplicaciones, no videos aburridos</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="each-data-program">
          <span class="data-number">10</span>
          <p>Proyectos evaluados y retroalimentados por mentores experimentados.</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="each-data-program">
          <span class="data-number">10 - 15</span>
          <p>Horas de dedicación semanal mínimas durante un año</p>
        </div>
      </div>
        
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/data-program -->



  <div class="feature-program target-program">
    <div class="container">
      <div class="row">
        <div class="col-md-12 title-program text-center">
          <h3>¿A quién está dirigido?</h3>
          <p class="subhead">Avanza tu carrera con un programa estructurado y guiado por mentores</p>
        </div>

        <div class="col-md-4 each-target-program">
          <div class="row">
            <div class="col-md-3"><%= image_tag("people/02sebas.png", class:"img-responsive") %></div>
            <div class="col-md-9 target-profile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel debitis similique recusandae molestiae totam pariatur deleniti optio autem animi ad!</div>
          </div>
        </div>

        <div class="col-md-4 each-target-program">
          <div class="row">
            <div class="col-md-3"><%= image_tag("people/02sorel.png", class:"img-responsive") %></div>
            <div class="col-md-9 target-profile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel debitis similique recusandae molestiae totam pariatur deleniti optio autem animi ad!</div>
          </div>
        </div>

        <div class="col-md-4 each-target-program">
          <div class="row">
            <div class="col-md-3"><%= image_tag("people/02luis-hurtado.png", class:"img-responsive") %></div>
            <div class="col-md-9 target-profile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel debitis similique recusandae molestiae totam pariatur deleniti optio autem animi ad!</div>
          </div>
        </div>
        
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/target-program -->


  <div class="feature-program mentories-program">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 title-program text-center">
          <h3>Mentorías uno a uno</h3>
          <p class="subhead">Al ingresar a Make it Real te asignamos un mentor principal el cuál estará pendiente de tu progreso y listo para solucionar tus dudas para que puedas aprovechar al máximo nuestro programa.</p>
        </div>
        
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/mentories-program -->


  <div class="feature-program learnings-program">
    <div class="container">
      <div class="row">

      <div class="col-md-8 col-md-offset-2 title-program text-center">
        <h3>Lo que aprenderás en el programa</h3>
        <p class="subhead">Te enseñaremos las tecnologías y habilidades necesarias para convertirte en un profesional o emprendedor exitoso.</p>
      </div>

      <div class="col-md-4 each-learning-program text-center">
        <div class="learning-icon">
          <%= image_tag("icon-interna-learn-autonomy.png") %>
        </div>
        <h4>Autonomía</h4>
      </div><!--/each-learning-program -->

      <div class="col-md-4 each-learning-program text-center">
        <div class="learning-icon">
          <%= image_tag("icon-interna-learn-problem-solving.png") %>
        </div>
        <h4>Solución de problemas</h4>
      </div><!--/each-learning-program -->

      <div class="col-md-4 each-learning-program text-center">
        <div class="learning-icon">
          <%= image_tag("icon-interna-learn-comms.png") %>
        </div>
        <h4>Comunicación</h4>
      </div><!--/each-learning-program -->
        
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/learnings-program -->


  <div class="feature-program applications-program">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-md-offset-2 title-program text-center">
          <h3>Construye aplicaciones reales</h3>
          <p class="subhead">Estas son algunas de las aplicaciones que construirás durante el programa</p>
        </div>

        <div class="col-md-4 each-application-program text-center">
          <div class="image-application-program">
            imagen
          </div>
          <h4>Aplicación uno</h4>
        </div>

        <div class="col-md-4 each-application-program text-center">
          <div class="image-application-program">
            imagen
          </div>
          <h4>Aplicación dos</h4>
        </div>

        <div class="col-md-4 each-application-program text-center">
          <div class="image-application-program">
            imagen
          </div>
          <h4>Aplicación tres</h4>
        </div>

        <div class="col-md-4 each-application-program text-center">
          <div class="image-application-program">
            imagen
          </div>
          <h4>Aplicación cuatro</h4>
        </div>

        <div class="col-md-4 each-application-program text-center">
          <div class="image-application-program">
            imagen
          </div>
          <h4>Aplicación cinco</h4>
        </div>

        <div class="col-md-4 each-application-program text-center">
          <div class="image-application-program">
            imagen
          </div>
          <h4>Aplicación seis</h4>
        </div>

      </div><!--/row -->
    </div><!--/container -->
  </div><!--/applicationss-program -->


  <div class="feature-program project-program">
    <div class="container">
      <div class="row">

        <div class="col-md-12 title-program text-center">
          <h3>Tu proyecto personal</h3>
          <p class="subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, voluptate rem, molestiae dolorum totam suscipit laudantium magnam illo nihil id ab eius. Repellendus, sequi, provident.</p>
          <a href="">Conoce los proyectos de nuestros makers</a>
        </div>
        
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/project-program -->


  <div class="feature-program price-program">
    <div class="container">
      <div class="row">
        

        <div class="col-md-12 title-program">
          <h3>Precio</h3>
        </div>



      </div><!--/row -->
    </div><!--/container -->
  </div><!--/price-program -->





 


  


  <div class="container-fluid">
    <div class="row">
      <%= render "cta_enroll" %>
      <%= render "footer" %>
    </div>
  </div>

</div><!--/new_site -->
