<%= render "full_stack_js_onsite_header", image_path: "01interna-programa.jpg" %>

<div class="new-site program full-stack-onsite online">
  <%= render "layouts/navbar/pages_white", hide_login: true, show_apply: false %>
  <%= render "pages/header_start_now" %>

  <div class="program-intro full-stack">
    <div class="container">
      <div class="row">
        <div class="col-md-6 tagline-program">
          <h1><small>Online Edition</small>Full Stack JS Web Developer</h1>
          <p>En este programa aprenderás a crear aplicaciones Web con HTML, CSS, Bootstrap, JavaScript, Node.js, MongoDB, React y GraphQL.</p>
          <div class="icons">
            <span class="icon icon-git"></span>
            <span class="icon icon-html5"></span>
            <span class="icon icon-css3"></span>
            <span class="icon icon-node-dot-js"></span>
            <span class="icon icon-mongodb"></span>
            <span class="icon icon-reactjs"></span>
            <span class="icon icon-graphql"></span>
          </div>
        </div><!--/tagline-program -->

        <div class="col-md-6">
          <div class="medellin-info">
            <div class="medellin-info-body">
              <div class="medellin-info-date">
                 <div>Por definir</div>
                 <div class="info-date-label">Inicio</div>
              </div>
              <div class="medellin-info-date">
                 <div>7 meses</div>
                 <div class="info-date-label">Duración</div>
              </div>
              <div class="medellin-info-schedule">
                <div class="schedule-data">
                  6pm a 9pm
                  <span class="schedule-label">Martes y Jueves</span>
                </div>
              </div>

              <div class="medellin-info-location">
                Remoto (videollamada)
              </div>

              <button type="button" class="btn btn-primary btn-register">¡Regístrate!</button>
            </div>
          </div>
        </div>

      </div><!--/row -->
    </div><!--/container -->
  </div><!--/program-intro -->

  <%= render "full_stack_onsite_audience" %>

  <%= render "full_stack_online_curriculum" %>

  <a name="mentors"></a>
  <div class="section section-white section-bordered section-mentors">
    <div class="container">
      <h2>Conoce a tus mentores</h2>

      <div class="row">
        <div class="col-sm-6 clearfix">
          <div class="profile-image text-center">
            <%= image_tag "people/german-escobar.png", class: "img-circle" %>
          </div>

          <div class="profile">
            <h3>Germán Escobar <small>Curriculum Developer</small></h3>
            <p class="text-center">Programador y emprendedor. Fundador de <a href="http://www.makeitreal.camp/" target="_blank">Make it Real</a> y co-fundador de <a href="http://masiv.com/?ref=makeitreal" target="_blank">Elibom (ahora Masivian)</a>.</p>
          </div>
        </div>
        <div class="col-sm-6 clearfix">
          <div class="profile-image text-center">
            <%= image_tag "people/carlos-goyeneche.jpg", class: "img-circle" %>
          </div>

          <div class="profile">
            <h3>Carlos Goyeneche <small>Mentor</small></h3>
            <p class="text-center">Desarrollador entusiasta siempre en busqueda de las últimas tecnologías, actualmente Senior Software Engineer en <a href="https://corporate.discovery.com/?ref=makeitreal" target="_blank">Discovery Inc</a>. Happy coding!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "full_stack_onsite_students" %>

  <%= render "nodejs_onsite_faqs" %>

  <%= render "full_stack_onsite_magnet" %>

  <%= render "footer" %>

  <%= render "full_stack_onsite_registration", action: "/full-stack-online" %>

</div>
