<% content_for :head do %>
  <meta property="og:title" content="Conviérte en Web Developer en 12 semanas" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="En este programa aprenderás a trabajar con todos los componentes de una aplicación: la base de datos, código en el servidor y código en el navegador." />
  <meta property="og:image" content="<%= image_url('full-stack-medellin.cover.jpg') %>" />
<% end %>

<div class="new-site program full-stack-medellin">
  <%= render "layouts/navbar/pages_white", hide_login: true, show_apply: false, url: @typeform_url %>
  <%= render "pages/header_register", url: @typeform_url %>

  <div class="program-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6 tagline-program">
          <h1><small>Medellín Edition</small>Full Stack Web Developer</h1>
          <p>En este curso presencial <strong>de 12 semanas</strong> aprenderás a trabajar con todos los componentes de una aplicación Web: la base de datos, código en el servidor (Ruby on Rails) y código en el navegador (HTML, CSS, JavaScript)</p>
        </div><!--/tagline-program -->

        <div class="col-md-6">
          <div class="medellin-info">
            <div class="medellin-info-title">Fecha Inicio</div>

            <div class="medellin-info-body">
              <div class="medellin-info-date">
                 Septiembre 20, 2016
              </div>
              <div class="medellin-info-schedule">
                <div class="schedule-data">
                  6pm a 9pm
                  <span class="schedule-label">Martes a Viernes</span>
                </div>
                <div class="schedule-data">
                  9am a 12m
                  <span class="schedule-label">Sábados</span>
                </div>
              </div>

              <div class="medellin-info-location">
                <span class="glyphicon glyphicon-map-marker"></span>
                Medellín, Colombia
              </div>

              <button type="button" class="btn btn-primary btn-register">¡Regístrate!</button>
            </div>
          </div>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/program-intro -->

  <div class="section learnings-program">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 program-title text-center">
          <h2>Lo que aprenderás</h2>
          <p class="subhead">Conoce y domina las tecnologías y habilidades necesarias para convertirte en un desarrollador Web Full Stack profesional</p>
        </div>
      </div>

      <div class="row technologies">
        <div class="col-sm-6">
          <div class="program-module">
            <div class="module-title">
              <span class="icon icon-html5"></span>
              <h4><small>Módulo 1</small> HTML5 y CSS3</h4>
            </div>
            <div class="module-body">
              <p>Crea sitios y aplicaciones que se adaptan a la pantalla de diferentes dispositivos.</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>Sintaxis y elementos de HTML</li>
                    <li>Sintaxis de CSS (reglas, selectores, propiedades)</li>
                    <li>Box model</li>
                    <li>Embeber media, video y audio</li>
                    <li>Display</li>
                    <li>Técnicas de posicionamiento</li>
                    <li>Selectores avanzados de CSS</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>Nuevas características de HTML5 y CSS3</li>
                    <li>Cascada, especificidad y herencia</li>
                    <li>Responsive design (media queries, mobile first)</li>
                    <li>Flexbox</li>
                    <li>Mejores prácticas</li>
                    <li>Sass</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="program-module">
            <div class="module-title">
              <span class="icon alt icon-bootstrap"></span>
              <h4><small>Módulo 2</small> Bootstrap</h4>
            </div>
            <div class="module-body">
              <p>Aprende a utilizar y personalizar Bootstrap para agilizar el desarrollo.</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>Introducción</li>
                    <li>Tipografía y formato a elementos HTML (tablas, formularios, etc.)</li>
                    <li>Componentes</li>
                    <li>Alineación</li>
                    <li>Manejo de la grilla</li>
                    <li>Mobile first</li>
                    <li>Personalización</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="program-module">
            <div class="module-title">
              <span class="icon icon-github"></span>
              <h4><small>Módulo 3</small> Git y Github</h4>
            </div>
            <div class="module-body">
              <p>Maneja los cambios de tu código y colabora con otros programadores.</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>Creación de repositorios</li>
                    <li>Commits</li>
                    <li>Ramas y etiquetas (tags)</li>
                    <li>El espacio de trabajo (estados de los archivos)</li>
                    <li>Repositorios remotos</li>
                    <li>Merging</li>
                    <li>Github (forking, pull requests, issues, etc.)</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>La estructura del repositorio</li>
                    <li>Tracking branches y remote tracking branches</li>
                    <li>Rebasing y stashing</li>
                    <li>Reflog</li>
                    <li>Flujos de trabajo en equipo</li>
                    <li>Reescribir la historia (amend, reset, rebase -i)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="program-module">
            <div class="module-title">
              <span class="icon icon-uniF120" ></span>
              <h4><small>Módulo 4</small> Ruby</h4>
            </div>
            <div class="module-body">
              <p>Aprende en profundidad este lenguaje de programación enfocado en la simplicidad y la productividad.</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>Variables, tipos de datos y operadores</li>
                    <li>Arreglos, condicionales y iteradores</li>
                    <li>Métodos</li>
                    <li>Recursividad</li>
                    <li>Colecciones</li>
                    <li>Bloques</li>
                    <li>Expresiones regulares</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>Programación orientada a objetos</li>
                    <li>Módulos</li>
                    <li>Duck typing y monkey patching</li>
                    <li>Metaprogramming</li>
                    <li>Testing</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="program-module">
            <div class="module-title">
              <span class="icon icon-gears"></span>
              <h4><small>Módulo 5</small> HTTP y Sinatra</h4>
            </div>
            <div class="module-body">
              <p>Domina el protocolo HTTP y conoce Sinatra, una librería de Ruby que te preparará para iniciar con Rails.</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>Fundamentos de HTTP</li>
                    <li>Modelo cliente servidor</li>
                    <li>Instalación de Sinatra</li>
                    <li>Rutas</li>
                    <li>Rutas con variables</li>
                    <li>El hash params</li>
                    <li>El query string</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>Verbos y respuestas HTTP</li>
                    <li>Generación de vistas con ERB</li>
                    <li>Cookies y sesiones HTTP</li>
                    <li>Encabezados HTTP</li>
                    <li>Manejo del Caché</li>
                    <li>Arquitectura REST</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="program-module">
            <div class="module-title">
              <span class="icon icon-uniF13B" ></span>
              <h4><small>Módulo 6</small> Ruby on Rails I</h4>
            </div>
            <div class="module-body">
              <p>Aprende en profundidad este framework Web ideal para crear aplicaciones que interactúan con Bases de Datos.</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>Introducción a Bases de Datos</li>
                    <li>El patrón MVC</li>
                    <li>Active Record</li>
                    <li>Migraciones</li>
                    <li>Asociaciones</li>
                    <li>El enrutador y controladores</li>
                    <li>Validación de modelos</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>Vistas y formularios</li>
                    <li>Registro y autenticación de usuarios</li>
                    <li>El Asset Pipeline</li>
                    <li>Generadores</li>
                    <li>Despliegue en Heroku</li>
                    <li>Action Mailer</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="program-module">
            <div class="module-title">
              <span class="icon icon-uniF148" style="font-size: 56px;"></span>
              <h4><small>Módulo 7</small> JavaScript</h4>
            </div>
            <div class="module-body">
              <p>Aprende en profundidad el lenguaje más popular y versatil del mundo.</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>Historia y características</li>
                    <li>Variables, tipos de datos y operadores</li>
                    <li>Condicionales y iteradores</li>
                    <li>Funciones</li>
                    <li>Recursividad</li>
                    <li>Expresiones regulares</li>
                    <li>Objetos y prototipos</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>This, call, apply y bind</li>
                    <li>Hoisting</li>
                    <li>Scope</li>
                    <li>Closures</li>
                    <li>Programación funcional</li>
                    <li>ECMAScript 2015</li>
                    <li>Testing</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="program-module">
            <div class="module-title">
              <span class="icon icon-jquery"></span>
              <h4><small>Módulo 8</small> JQuery y AJAX</h4>
            </div>
            <div class="module-body">
              <p>Aprende a crear aplicaciones dinámicas y en tiempo real sobre el navegador.</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>El DOM (Document Object Model)</li>
                    <li>Selección y manipulación de elementos</li>
                    <li>Eventos</li>
                    <li>Developer Tools</li>
                    <li>Cookies y Local Storage</li>
                    <li>Plugins de jQuery</li>
                    <li>El protocolo HTTP</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>Formatos de intercambio de información (XML y JSON)</li>
                    <li>Llamados AJAX</li>
                    <li>Promesas</li>
                    <li>Web Sockets</li>
                    <li>CORS y JSONP</li>
                    <li>REST API's y Firebase</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="program-module">
            <div class="module-title">
              <span class="icon icon-uniF13B" ></span>
              <h4><small>Módulo 9</small> Ruby on Rails II</h4>
            </div>
            <div class="module-body">
              <p>Profundiza en los temas más avanzados de Rails y crea aplicaciones robustas.</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>Creación de un API REST</li>
                    <li>Background Jobs</li>
                    <li>Web Sockets</li>
                    <li>Gráficas</li>
                    <li>Geolocalización</li>
                    <li>JavaScript con Rails</li>
                    <li>Despliegue en Heroku</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>Despliegue en AWS</li>
                    <li>Testing</li>
                    <li>Scrum</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "faqs_medellin" %>

  <section class="section section-dark medellin-magnet">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <p class="intro-text">¿Quieres cambiar tu futuro?</p>
          <p class="subhead">Regístrate ahora y asegura tu cupo en esta edición. Te garantizamos la educación de la más alta calidad! </p>
          <button class="btn btn-primary btn-register">¡REGÍSTRATE!</a>
        </div>
      </div>
    </div>
  </section>
  <%= render "footer" %>

  <div class="modal fade" id="registration-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="
          " class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Formulario de Registro</h4>
        </div>
        <form id="form-start-now" action="/full-stack-medellin" method="post">
          <div class="modal-body">
            <p>Regístrate para recibir toda la información y precios:  </p>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" id="first-name" name="first-name" class="form-control" placeholder="Nombre">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" id="last-name" name="last-name" class="form-control" placeholder="Apellido">
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="email" id="email" name="email" class="form-control" placeholder="Email">
            </div>

            <div class="form-group" id="mobile-wrapper">
              <div class="input-group">
                <span class="input-group-addon" id="mobile-code">+57</span>
                <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Celular">
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Registrarme</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

<script type="text/javascript">
  $(document).on("ready page:load", window.initMedellinProgramPage);
  $(document).on("ready page:load", function() {
    $('.btn-register').on('click', function(e) {
      e.preventDefault();

      $('#registration-modal').modal().on('shown.bs.modal', function (e) {
        $('#first-name').focus();
      });
    });
  });
  $(document).on("page:before-change", function() {
    $(document).off("ready page:load", window.initMedellinProgramPage);
  });
</script>
