<%= render "full_stack_onsite_header", image_path: 'bogota-colombia-big.jpg' %>

<div class="new-site program full-stack-onsite bogota">
  <%= render "layouts/navbar/pages_white", hide_login: true %>
  <%= render "pages/header_register", btn_text: "¡Recibe la info!" %>

  <div class="program-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6 tagline-program">
          <h1><small>Bogotá Edition</small>Full Stack Web Developer</h1>
          <p>En este programa aprenderás a crear aplicaciones Web con HTML, CSS, Bootstrap, JavaScript y Ruby on Rails.</p>
          <div class="icons">
            <span class="icon icon-html5"></span>
            <span class="icon icon-css3"></span>
            <span class="icon alt icon-bootstrap"></span>
            <span class="icon icon-github"></span>
            <span class="icon icon-uniF120"></span>
            <span class="icon icon-uniF13B"></span>
            <span class="icon icon-uniF148"></span>
            <span class="icon icon-jquery"></span>
          </div>
        </div><!--/tagline-program -->

        <div class="col-md-6">
          <div class="medellin-info">
            <div class="medellin-info-title">Fecha Inicio</div>

            <div class="medellin-info-body">
              <div class="medellin-info-date">
                 Feb 25, 2019
              </div>
              <div class="medellin-info-schedule">
                <div class="schedule-data">
                  6pm a 9pm
                  <span class="schedule-label">Lunes a Viernes</span>
                </div>
              </div>

              <div class="medellin-info-location">
                Bogotá, Colombia
                <div class="address">Cra 15 # 91 - 30 Piso 4</div>
              </div>

              <button type="button" class="btn btn-primary btn-register">¡Recibe toda la Info!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "full_stack_onsite_audience" %>

  <%= render "full_stack_onsite_curriculum" %>

  <a name="mentors"></a>
  <div class="section section-white section-bordered section-mentors">
    <div class="container">
      <h2>Conoce a tus mentores</h2>

      <div class="row">
        <div class="col-sm-6 clearfix">
          <div class="profile-image text-center">
            <%= image_tag "people/german-escobar.png", class: "img-circle" %>
          </div>

          <div class="profile">
            <h3>Germán Escobar <small>Curriculum Developer</small></h3>
            <p class="text-center">Programador y emprendedor con una <a href="http://germanescobar.com/2014/06/02/la-nueva-educacion/" target="_blank">visión particular de la educación</a>. Co-fundador de <a href="http://elibom.com/?utm_source=full-stack-medellin&utm_medium=web&utm_campaign=Make%20it%20Real" target="_blank">elibom.com</a> y fundador de <a href="http://www.makeitreal.camp/?utm_source=aprende-desarrollo-web&utm_medium=web&utm_campaign=inbound" target="_blank">makeitreal.camp</a>.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="profile-image text-center">
            <%= image_tag "people/juan-gomez-gray.jpg", class: "img-circle"%>
          </div>
          <div class="profile">
            <h3>Juan Gomez <small>Mentor</small></h3>
            <p class="text-center">Apasionado del emprendimiento y la programación. Mentor líder de los programas online y presenciales de <a href="/">Make it Real</a>. Creador de <a href="http://www.tunaranja.co/" target="_blank">Tu Naranja</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="location"></a>
  <div class="section section-transparent section-location spacio">
    <div class="location-data">
      <div class="container">
        <a href="http://www.spacio.co/?utm_source=full-stack-bogota&utm_medium=web&utm_campaign=make-it-real" target="_blank">Spacio</a>
        <div class="location-dir">Cra 15 # 91 - 30 Piso 4, Bogotá - <a href="https://www.google.com.co/maps/@4.6757941,-74.0530608,17z?hl=en" target="_blank">Google Maps</a></div>
      </div>
    </div>
  </div>

  <%= render "full_stack_onsite_students" %>

  <%= render "full_stack_onsite_faqs" %>

  <%= render "full_stack_onsite_magnet", btn_text: "¡Recibe toda la info!" %>

  <%= render "footer" %>

  <%= render "full_stack_onsite_registration", action: "/full-stack-bogota" %>
</div>
