<% content_for :head do %>
  <meta property="og:title" content="Conviértete en Web Developer" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Avanza de novato a experto con programas prácticos y el apoyo de mentores experimentados" />
  <meta property="og:image" content="<%= image_url('home.jpg') %>" />
  <meta name="facebook-domain-verification" content="znv1akkpe3ly22jq7joz1oq3fozx04" />
<% end %>

<div class="home">
  <div class="intro">
    <%= render "layouts/navbar/pages_white" %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 intro-info">
          <h1>La educación del futuro</h1>
          <p>Acelera tu aprendizaje con programas personalizados en desarrollo Web, móvil y Data Science</p>
          <a href="javascript:;" class="pbtn pbtn-primary scroll">Ver Programas</a>
        </div>
        <div class="col-md-6 intro-img">
          <%= image_tag "image-banner.jpg", srcset: { "image-banner@2x.jpg" => "2x", "image-banner@3x.jpg" => "3x" } %>
        </div>
      </div>
    </div>
  </div>

  <section class="section section-pitch">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <%= render "pages/companies2" %>

          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6">
              <div class="title">
                <h2>Lo que nos hace diferentes</h2>
              </div>
            </div>
          </div>

          <div class="features">
            <div class="row">
              <div class="col-sm-4">
                <div class="feature">
                  <%= image_tag "feature-1.svg" %>
                  <div class="feature-title">Aprende haciendo</div>
                  <p>Tu portafolio será tu nueva carta de presentación.</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="feature">
                  <%= image_tag "feature-2.svg" %>
                  <div class="feature-title">Personalizado</div>
                  <p>Te garantizamos la educación de la más alta calidad.</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="feature">
                  <%= image_tag "feature-3.svg" %>
                  <div class="feature-title">Alcanza tus metas</div>
                  <p>Encuentra el empleo de tus sueños o haz realidad tus ideas de negocio.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="section section-white section-philosophy">
    <h2 class="title">Nuestra filosofía</h2>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="content">
            <p>Hoy las empresas valoran más lo que sabes y lo que has creado, que tus títulos y certificados.</p>
            <p>Además, uno no aprende a programar viendo videos. Por eso te ofrecemos programas estructurados, personalizados, prácticos y retadores que te ayudarán a acelerar tu aprendizaje y alcanzar tus metas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="programs" class="section section-programs">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 program-1">
          <div class="program">
            <h3 class="title">Desarrollo Web y móvil</h3>
            <p>Aprende a crear aplicaciones con HTML, CSS, JavaScript, Node.js, MongoDB, React y React Native</p>
            <%= image_tag "image-desarrollo.png", srcset: { "image-desarrollo@2x.png" => "2x", "image-desarrollo@3x.png" => "3x" } %>
            <%= link_to "Ver Programas", web_mobile_programs_path, class: "btn-programs" %>
          </div>
        </div>
        <div class="col-sm-6 program-2">
          <div class="program">
            <h3 class="title">Data Science</h3>
            <p>Aprende a analizar información con Python y utilizar algoritmos de machine learning.</p>
            <%= image_tag "image-data-science.png", srcset: { "image-data-science@2x.png" => "2x", "image-data-science@3x.png" => "3x" } %>
            <%= link_to "Ver Programa", data_science_online_path, class: "btn-programs" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="mentors"></a>
  <div class="section section-white section-mentors">
    <div class="container">
      <h2>Nuestros Mentores</h2>

      <div class="mentors-wrapper owl-carousel">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="profile-image text-center">
              <%= image_tag "people/simon-hoyos.png" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="profile">
              <h3>Simón Hoyos</h3>
              <p>Apasionado por JavaScript y su ecosistema, co-organizador y speaker del <a href="https://www.meetup.com/React-Medellin/" target="_blank">Meetup React Medellín</a>.</p>
            </div>
          </div>
        </div>

        <%= render "pages/full_stack_js_mentors" %>

        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="profile-image text-center">
              <%= image_tag "people/daniel-morales.jpg" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="profile">
              <h3>Daniel Morales</h3>
              <p>Apasionado del emprendimiento y la programación. Mentor en <a href="/">Make it Real</a>. Co-fundador y Data Scientist en <a href="https://datasource.ai/?ref=makeitreal" target="_blank">DataSource</a>.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="profile-image text-center">
              <%= image_tag "people/german-escobar.png" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="profile">
              <h3>Germán Escobar</h3>
              <p>Programador y emprendedor. Co-fundador de <a href="https://masiv.com/?ref=makeitreal" target="_blank">Elibom (ahora Masivian)</a> y fundador de <a href="/" target="_blank">Make it Real</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "pages/main_quote" %>
  <%= render "pages/capture_email", light_bg: true %>
  <%= render "footer" %>
</div>

<script>
  var ready = function() {
    // scroll para bajar en la intro
    $(".home .intro").on("click", ".scroll", function() {
      $("html,body").animate({
        scrollTop: $("#programs").offset().top
      }, "slow");
    });
  };
  $(document).ready(ready);
  $(document).on("turbolinks:load", ready);
</script>
