<% content_for :head do %>
  <meta property="og:title" content="Conviértete en Web Developer" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Avanza de novato a experto con programas prácticos y el apoyo de mentores experimentados" />
  <meta property="og:image" content="<%= image_url('home.jpg') %>" />
<% end %>

<div class="new-site home">
  <div class="intro">
    <%= render "layouts/navbar/pages_transparent" %>
    <div class="container tagline-wrapper">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="tagline">Conviértete en <br>Web Developer</h1>
          <h2 class="tagline-support">Programas online y presenciales de la más alta calidad con la guía y el apoyo de mentores experimentados</h2>
        </div>

        <a href="javascript:;" class="know-more scroll">Ver programas</a>
      </div>
    </div>
  </div>

  <section class="section section-white section-pitch">
    <div class="stripe"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="feature">
                <%= fa_icon "paint-brush", class: "fa-3x icon" %>
                <h3>Aprende haciendo</h3>
                <p>Hoy se valora más lo que has creado que los títulos y las certificaciones, tu portafolio será tu nueva carta de presentación.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="feature">
                <%= fa_icon "road", class: "fa-3x icon" %>
                <h3>Mentorías 1 a 1</h3>
                <p>Soluciona tus dudas, recibe apoyo cuando lo necesites y acelera tu aprendizaje con sesiones 1-a-1 con mentores experimentados.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="feature">
                <%= fa_icon "rocket", class: "fa-3x icon" %>
                <h3>Alcanza tus metas</h3>
                <p>Encuentra el empleo de tus sueños o haz realidad tus ideas de negocio. El post-programa te prepara para esta nueva fase de tu vida.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="programs" class="programs">
    <div class="program program-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-md-8 col-lg-7 col-lg-offset-1">
            <h2><%= image_tag "top-icon.svg", height: 28, style: "margin-top: -9px; margin-right: 5px;" %> TOP</h2>
            <p class="description">Un programa sin costo hasta que encuentres un empleo</p>

            <div class="features">
              <div class="row">
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Formato</div>
                    <div class="program-value">Online apoyado de mentores</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Cierre Aplicaciones</div>
                    <div class="program-value">Abr 3, 2020</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Duración</div>
                    <div class="program-value">12 semanas</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Dedicación</div>
                    <div class="program-value">Tiempo completo (+40 horas/semana)</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="program-action">
              <%= link_to "Más Información", top_path, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="program program-full-stack-online">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-md-8 col-lg-7 col-sm-offset-2 col-md-offset-4">
            <h2><%= image_tag "full-stack-white.png", height: 38, style: "margin-top: -5px;" %> Full Stack Online</h2>
            <p class="description">Conviértete en Full Stack Web Developer a tu propio ritmo</p>

            <div class="features">
              <div class="row">
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Formato</div>
                    <div class="program-value">Online apoyado de mentores</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Fecha de Inicio</div>
                    <div class="program-value">Flexible</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Duración</div>
                    <div class="program-value">Máximo 1 año</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Dedicación</div>
                    <div class="program-value">Mínimo 15 horas por semana</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="program-action">
              <%= link_to "Más Información", full_stack_online_path, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="program program-full-stack-onsite">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-10 col-lg-offset-1">
            <h2><%= image_tag "full-stack-white.png", height: 38, style: "margin-top: -5px;" %> Full Stack Presencial</h2>
            <p class="description">Aprende Node.js, MongoDB y React en un ambiente más tradicional</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">

            <div class="features">
              <div class="row">
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Formato</div>
                    <div class="program-value">Presencial</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Duración</div>
                    <div class="program-value">9 semanas (+ 3 de prework)</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Dedicación</div>
                    <div class="program-value">Lunes a Viernes 6pm a 9pm</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-5">
            <div class="onsite-dates">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="program-city">Bogotá</td>
                    <td class="program-city-date">21 / 02 / 2020</td>
                    <td class="text-right"><%= link_to "Info", full_stack_bogota_path, class: "btn btn-primary" %></td>
                  </tr>
                  <tr>
                    <td class="program-city">Medellín</td>
                    <td class="program-city-date">20 / 01 / 2020</td>
                    <td class="text-right"><%= link_to "Info", full_stack_medellin_path, class: "btn btn-primary" %></td>
                  </tr>
                  <tr>
                    <td class="program-city">Barranquilla</td>
                    <td class="program-city-date">21 / 02 / 2010</td>
                    <td class="text-right"><%= link_to "Info", full_stack_barranquilla_path, class: "btn btn-primary" %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%= render "pages/companies" %>
  <%= render "pages/main_quote" %>
  <%= render "pages/capture_email" %>

  <%= render "footer" %>

</div><!--/new-site -->
