<div class="new_site">
  <div class="intro">
    <video autoplay loop poster="polina.jpg" id="bg-video">
      <source src="<%= asset_path 'bg-video.mp4' %>" type="video/mp4">
    </video>
    <div class="video-overlay"></div>
    <%= render "navigation" %>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="tagline">Conviértete en <br>Web Developer</h1>
          <h2 class="tagline-support">Avanza de novato a experto con programas prácticos y el apoyo de mentores experimentados</h2>
        </div>

        <a href="javascript:;" class="know-more scroll">
          Ver Programas
        </a>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/intro -->


  <div class="pitch">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Preparamos a los creadores digitales que el mundo necesita ahora</h2>

          <div class="row">
            <div class="col-sm-4">
              <span class="icon icon-lab"></span>
              <h3>Aprende haciendo</h3>
              <p>Hoy se valora más lo que has creado que los títulos y las certificaciones, tu portafolio será tu nueva carta de presentación.</p>
            </div>
            <div class="col-sm-4">
              <span class="icon icon-users"></span>
              <h3>Mentores experimentados</h3>
              <p>Soluciona tus dudas, recibe apoyo cuando lo necesites y acelera tu aprendizaje con mentorías 1-a-1 en los temas que más se te dificulten.</p>
            </div>
            <div class="col-sm-4">
              <span class="icon icon-target"></span>
              <h3>Alcanza tus metas</h3>
              <p>Encuentra el empleo de tus sueños o haz realidad tus ideas de negocio. El post-programa te prepara para esta nueva fase de tu vida.</p>
            </div>
          </div>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/pitch -->


  <div id="anchor" class="feature feature-programas">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Nuestros Programas</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="program-wrapper bootcamp-programs">
            <h3>Presencial</h3>
            <div class="programa">
              <%= image_tag "front-end-red.png", height: 90 %>
              <h4><%= link_to "Front End Bootcamp", front_end_on_site_path %></h4>
              <p>Aprende a crear aplicaciones Web con AngularJS y React en 17 semanas (8 online, 9 presenciales).</p>
              <div class="text-center"><%= link_to "Más Información", front_end_on_site_path, class: "btn btn-main" %></div>
            </div>
          </div>
        </div>

        <div class="col-sm-8">
          <div class="program-wrapper online-programs">
            <h3>Online</h3>
            <div class="row">
              <div class="col-sm-6">
                <div class="programa">
                  <%= image_tag "full-stack-blue.png", height: 90 %>
                  <h4><%= link_to "Full Stack Program", full_stack_online_path %></h4>
                  <p>Aprende a crear aplicaciones Web con HTML, CSS, JavaScript, Ruby on Rails y Bases de Datos.</p>
                  <div class="text-center"><%= link_to "Más Información", full_stack_online_path, class: "btn btn-main" %></div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="programa">
                  <%= image_tag "front-end-blue.png", height: 90 %>
                  <h4><%= link_to "Front End Program", front_end_online_path %></h4>
                  <p>Aprende a crear aplicaciones Web con HTML, CSS, JavaScript, Angular JS y servicios externos.</p>
                  <div class="text-center"><%= link_to "Más Información", front_end_online_path, class: "btn btn-main" %></div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="feature feature-three">
    <div class="row">
      <div class="col-md-12">
        <h2>EMPRESAS ALIADAS</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p class="text">Las que han creado nuestros estudiantes, las que los han contratado, a las que podrás aplicar y portales de trabajo especializados.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 col-sm-offset-1 text-center">
        <a href="http://prodigious.com/" target="_blank"><%= image_tag "prodigious-logo.png" %></a>
      </div>

      <div class="col-sm-4 text-center">
        <a href="http://monoku.co/" target="_blank"><%= image_tag "monoku-logo.png", height: 50 %></a>
      </div>

      <div class="col-sm-3 text-center">
        <a href="http://kommit.co/" target="_blank"><%= image_tag "kommit-logo.jpg", height: 50 %></a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-2 text-center">
        <a href="http://kaizendevs.co/" target="_blank"><%= image_tag "kaizen-devs-logo.png" %></a>
      </div>

      <div class="col-sm-4 text-center">
        <a href="http://quincena.me/" target="_blank"><%= image_tag "quincename-logo.png" %></a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-2 text-center">
        <a href="http://kaizendevs.co/" target="_blank"><%= image_tag "kaizen-devs-logo.png" %></a>
      </div>

      <div class="col-sm-4 text-center">
        <a href="http://dreamjobs.com.co/" target="_blank"><%= image_tag "dreamjobs-logo.png", height: 50 %></a>
      </div>
    </div>

    <div class="row" style="margin-top: 100px;">
      <div class="col-md-8 col-md-offset-2">
        <p>¿Interesado en contratar a nuestros egresados? Escríbenos a <a href="mailto:info@makeitreal.camp">info@makeitreal.camp</a></p>
      </div>
    </div>

  </div><!--/feature-three -->

  <div class="quote">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <%= image_tag "people/sebastian-zapata.jpg", width: "100%" %>
        </div>
        <div class="col-sm-7 text-center">
          <p class="text">No se trata simplemente de escribir código, <a href="/">Make It Real</a> es un camino que va directo a transformar la manera en que aprendemos, vivimos y trabajamos cada día. Ha sido una de las experiencias mas intensas y productivas de toda mi vida.</p>
          <p class="name">Sebastían Zapata Mardini</p>
          <p class="position">Full Stack Ruby on Rails Developer y co-fundador de <a href="http://kaizendevs.co/" targer="_blank">KaizenDevs</a></p>
        </div>
      </div>
    </div>
  </div>


  <div class="email">
    <div class="top-container">
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h3>Manténte Informado</h3>
        <p>Déjanos tu correo para recibir contenido exclusivo e información de eventos y talleres.</p>
      </div>

      <div class="col-md-4 col-md-offset-4">

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//camp.us9.list-manage.com/subscribe/post?u=7ceeee60942d89164146c9ddf&amp;id=7c101d0fe8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="form-group">
              <input type="email" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="elcorreo@email.com" required>
              <input type="submit" value="Suscribirme" name="subscribe" id="mc-embedded-subscribe" class="btn btn-main">
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_7ceeee60942d89164146c9ddf_7c101d0fe8" tabindex="-1" value=""></div>
            <div class="clear"></div>
          </form>
        </div>

        <!--End mc_embed_signup-->
      </div>

    </div>
  </div><!--/email -->

  <%= render "footer" %>

</div><!--/new_site -->
