<% content_for :head do %>
  <meta property="og:title" content="Conviértete en Web Developer" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Avanza de novato a experto con programas prácticos y el apoyo de mentores experimentados" />
  <meta property="og:image" content="<%= image_url('home.jpg') %>" />
<% end %>

<div class="new-site home">
  <div class="intro">
    <video autoplay loop id="bg-video">
      <source src="<%= asset_path 'bg-video.mov' %>" type="video/mp4">
    </video>
    <div class="video-overlay"></div>

    <%= render "layouts/navbar/pages_transparent" %>
    <div class="container tagline-wrapper">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="tagline">Conviértete en <br>Web Developer</h1>
          <h2 class="tagline-support">Avanza de novato a experto con programas prácticos y el apoyo de mentores experimentados</h2>
        </div>

        <a href="javascript:;" class="know-more scroll">Ver Programas</a>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/intro -->

  <section class="section section-white section-pitch">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="intro-text">Preparamos a los <span>creadores digitales</span> que el mundo necesita ahora</p>

          <div class="row">
            <div class="col-sm-4">
              <span class="icon icon-lab"></span>
              <h3>Aprende haciendo</h3>
              <p>Hoy se valora más lo que has creado que los títulos y las certificaciones, tu portafolio será tu nueva carta de presentación.</p>
            </div>
            <div class="col-sm-4">
              <span class="icon icon-users"></span>
              <h3>Mentores experimentados</h3>
              <p>Soluciona tus dudas, recibe apoyo cuando lo necesites y acelera tu aprendizaje con mentorías 1-a-1 en los temas que más se te dificulten.</p>
            </div>
            <div class="col-sm-4">
              <span class="icon icon-target"></span>
              <h3>Alcanza tus metas</h3>
              <p>Encuentra el empleo de tus sueños o haz realidad tus ideas de negocio. El post-programa te prepara para esta nueva fase de tu vida.</p>
            </div>
          </div>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </section><!--/pitch -->


  <div id="programs" class="section section-bordered section-programs-list">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Nuestros Programas</h2>
        </div>
      </div>

      <div class="row program-divider">
        <div class="col-sm-12 text-left">
          <div class="divider-line"></div>
          <div class="divider-label">ONLINE</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="program-wrapper">
            <%= link_to full_stack_online_path do %>
              <div class="program-info program-online">
                <div class="program-header">
                  <%= image_tag "01interna-programa.jpg" %>
                  <div class="program-header-title">
                    <div class="program-name">FULL STACK <br>WEB DEVELOPER</div>
                  </div>
                </div>
                <div class="program-body">
                  <p>Aprende a crear aplicaciones Web con HTML, CSS, JavaScript, Ruby on Rails y Bases de Datos.</p>

                  <div class="row program-details">
                    <div class="col-sm-6">
                      <div class="details-label">FECHA DE INICIO</div>
                      <div class="details-value">El día que tu decides</div>
                    </div>
                    <div class="col-sm-6">
                      <div class="details-label">DEDICACIÓN:</div>
                      <div class="details-value">15 horas/semana, avanza a tu propio ritmo</div>
                    </div>
                  </div>
                </div>
                <div class="program-footer">
                  <button type="button" class="btn btn-default btn-block">Más información</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="program-wrapper">
            <%= link_to front_end_online_path do %>
              <div class="program-info program-online">
                <div class="program-header">
                  <%= image_tag "03interna-programa.jpg" %>
                  <div class="program-header-title">
                    <div class="program-name">FRONT END <br>WEB DEVELOPER</div>
                  </div>
                </div>
                <div class="program-body">
                  <p>Aprende a crear aplicaciones Web con HTML, CSS, JavaScript, AngularJS, React y servicios externos.</p>
                  <div class="row program-details">
                    <div class="col-sm-6">
                      <div class="details-label">FECHA DE INICIO</div>
                      <div class="details-value">El día que tu decides</div>
                    </div>
                    <div class="col-sm-6">
                      <div class="details-label">DEDICACIÓN:</div>
                      <div class="details-value">10 horas/semana, avanza a tu propio ritmo</div>
                    </div>
                  </div>
                </div>
                <div class="program-footer">
                  <button type="button" class="btn btn-default btn-block">Más información</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row program-divider" style="margin-top: 60px;">
        <div class="col-sm-12 text-left">
          <div class="divider-line"></div>
          <div class="divider-label">PRESENCIALES</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="program-wrapper">
            <%= link_to full_stack_medellin_path do %>
              <div class="program-info program-online">
                <div class="program-header">
                  <%= image_tag "medellin-1-square-dark.jpg" %>
                  <div class="program-location">Medellín</div>
                  <div class="program-header-title">
                    <div class="program-name">FULL STACK <br>WEB DEVELOPER</div>
                  </div>
                </div>
                <div class="program-body">
                  <p>Aprende a crear aplicaciones Web con HTML, CSS, JavaScript, Ruby on Rails y Bases de Datos.</p>
                  <div class="row program-details">
                    <div class="col-sm-5">
                      <div class="details-label">FECHA DE INICIO</div>
                      <div class="details-value">29 de Mayo, 2017</div>
                    </div>
                    <div class="col-sm-7">
                      <div class="details-label">DEDICACIÓN</div>
                      <div class="details-value">Lunes a Viernes de 6pm a 9pm</div>
                    </div>
                  </div>
                </div>
                <div class="program-footer">
                  <button type="button" class="btn btn-default btn-block">Más información</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="program-wrapper">
            <%= link_to full_stack_bogota_path do %>
              <div class="program-info program-online">
                <div class="program-header">
                  <%= image_tag "bogota-colombia-dark.jpg" %>
                  <div class="program-location">Bogotá</div>
                  <div class="program-header-title">
                    <div class="program-name">FULL STACK <br>WEB DEVELOPER</div>
                  </div>
                </div>
                <div class="program-body">
                  <p>Aprende a crear aplicaciones Web con HTML, CSS, JavaScript, Ruby on Rails y Bases de Datos.</p>
                  <div class="row program-details">
                    <div class="col-sm-5">
                      <div class="details-label">FECHA DE INICIO</div>
                      <div class="details-value">29 de Mayo, 2017</div>
                    </div>
                    <div class="col-sm-7">
                      <div class="details-label">DEDICACIÓN</div>
                      <div class="details-value">Lunes a Viernes de 6pm a 9pm</div>
                    </div>
                  </div>
                </div>
                <div class="program-footer">
                  <button type="button" class="btn btn-default btn-block">Más información</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="program-wrapper">
            <%= link_to full_stack_barranquilla_path do %>
              <div class="program-info program-online">
                <div class="program-header">
                  <%= image_tag "barranquilla-small.jpg" %>
                  <div class="program-location">Barranquilla</div>
                  <div class="program-header-title">
                    <div class="program-name">FULL STACK <br>WEB DEVELOPER</div>
                  </div>
                </div>
                <div class="program-body">
                  <p>Aprende a crear aplicaciones Web con HTML, CSS, JavaScript, Ruby on Rails y Bases de Datos.</p>
                  <div class="row program-details">
                    <div class="col-sm-5">
                      <div class="details-label">FECHA DE INICIO</div>
                      <div class="details-value">5 de Junio, 2017</div>
                    </div>
                    <div class="col-sm-7">
                      <div class="details-label">DEDICACIÓN</div>
                      <div class="details-value">Lunes a Viernes de 6pm a 9pm</div>
                    </div>
                  </div>
                </div>
                <div class="program-footer">
                  <button type="button" class="btn btn-default btn-block">Más información</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "pages/companies" %>
  <%= render "pages/main_quote" %>
  <%= render "pages/capture_email" %>

  <%= render "footer" %>

</div><!--/new-site -->
