<% content_for :head do %>
  <meta property="og:title" content="Conviértete en Web Developer" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Avanza de novato a experto con programas prácticos y el apoyo de mentores experimentados" />
  <meta property="og:image" content="<%= image_url('home.jpg') %>" />
<% end %>

<div class="new-site home">
  <div class="intro">
    <%= render "layouts/navbar/pages_transparent" %>
    <div class="container tagline-wrapper">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="tagline">Conviértete en <br>Web Developer</h1>
          <h2 class="tagline-support">Programas de la más alta calidad con las tecnologías de mayor demanda y mejores salarios de la actualidad</h2>
        </div>

        <a href="javascript:;" class="know-more scroll">Ver programas</a>
      </div>
    </div>
  </div>

  <section class="section section-white section-pitch">
    <div class="stripe"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="feature">
                <%= fa_icon "paint-brush", class: "fa-3x icon" %>
                <h3>Aprende haciendo</h3>
                <p>Hoy se valora más lo que has creado que los títulos y las certificaciones, tu portafolio será tu nueva carta de presentación.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="feature">
                <%= fa_icon "road", class: "fa-3x icon" %>
                <h3>Mentorías 1 a 1</h3>
                <p>Soluciona tus dudas, recibe apoyo cuando lo necesites y acelera tu aprendizaje con sesiones 1-a-1 con mentores experimentados.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="feature">
                <%= fa_icon "rocket", class: "fa-3x icon" %>
                <h3>Alcanza tus metas</h3>
                <p>Encuentra el empleo de tus sueños o haz realidad tus ideas de negocio. El post-programa te prepara para esta nueva fase de tu vida.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="programs" class="programs">
    <div class="program program-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-md-8 col-lg-7 col-lg-offset-1">
            <h2><%= image_tag "top-icon.svg", height: 28, style: "margin-top: -9px; margin-right: 5px;" %> TOP</h2>
            <p class="description">Un programa sin costo hasta que encuentres un empleo</p>

            <div class="features">
              <div class="row">
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Formato</div>
                    <div class="program-value">Remoto</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Cierre Aplicaciones</div>
                    <div class="program-value">Jun 26, 2020</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Duración</div>
                    <div class="program-value">12 semanas</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Dedicación</div>
                    <div class="program-value">Tiempo completo (+40 horas/semana)</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="program-action">
              <%= link_to "Más Información", top_path, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="program program-full-stack-online">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-md-8 col-lg-7 col-sm-offset-2 col-md-offset-4">
            <h2><%= image_tag "full-stack-white.png", height: 38, style: "margin-top: -5px;" %> Full Stack JS Web Developer</h2>
            <p class="description">Aprende Node.js, MongoDB y React en un ambiente más tradicional</p>

            <div class="features">
              <div class="row">
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Formato</div>
                    <div class="program-value">Remoto (clases en vivo)</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Fecha de Inicio</div>
                    <div class="program-value">Por definir</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Duración</div>
                    <div class="program-value">7 meses</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Dedicación</div>
                    <div class="program-value">Martes y Jueves 6pm a 9pm</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="program-action">
              <%= link_to "Más Información", full_stack_online_path, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="program program-full-stack-onsite">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-10 col-lg-offset-1">
            <h2><span class="glyphicon glyphicon-stats" aria-hidden="true" style="font-size: 28px; margin-left: 7px; color: white; margin-top: -3px;"></span> Data Science Online</h2>
            <p class="description">Aprende a extraer, visualizar y analizar información con Python y algoritmos de clasificación, predicción y recomendación</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">

            <div class="features">
              <div class="row">
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Formato</div>
                    <div class="program-value">Remoto (clases en vivo)</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Fecha de Inicio</div>
                    <div class="program-value">Sept 7, 2020</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Duración</div>
                    <div class="program-value">4 meses</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="feature">
                    <div class="program-label">Dedicación</div>
                    <div class="program-value">Lunes, Miércoles, Viernes 6pm a 9pm</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="program-action">
              <%= link_to "Más Información", data_science_online_path, class: "btn btn-primary" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%= render "pages/companies" %>
  <%= render "pages/main_quote" %>
  <%= render "pages/capture_email" %>

  <%= render "footer" %>

</div><!--/new-site -->
