<% content_for :head do %>
  <meta property="og:title" content="Make It Real - Programa Innóvate Perú" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Un programa en Node.js, Express, MongoDB y React con el apoyo de Innóvate Perú" />
  <meta property="og:image" content="<%= image_url('top-hero.jpg') %>" />
<% end %>

<div class="innovate-program">
  <div class="intro">
    <%= render "layouts/navbar/pages_white", hide_login: true, hide_programs: true, show_apply: true %>

    <div class="container">
      <div class="row">
        <div class="col-md-6 intro-info">
          <h1>Desarrollo Full Stack JavaScript</h1>
          <p>Mejora tus habilidades y encuentra empleo como desarrollador(a) Web o móvil. Becas hasta del 100%.</p>
          <div class="partners" style="margin: 20px 0 15px;">
            <small>Con el apoyo de</small>
            <div>
              <a href="https://www.innovateperu.gob.pe/" target="_blank"><%= image_tag "companies/logo-innovateperu.png"%></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 intro-img">
          <%= image_tag "image-header-top.png", srcset: { "image-header-top@2x.png" => "2x", "image-header-top@3x.png" => "3x" } %>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-details">
    <div class="container">
      <div class="row">
        <div>
          <div class="details-wrapper">
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <div class="text-center">
                  <div class="detail-wrapper">
                    <div class="detail-value">96%</div>
                    <div class="detail-label">UBICACIÓN LABORAL</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-4">
                <div class="text-center">
                  <div class="detail-wrapper">
                    <div class="detail-value">S/5,500</div>
                    <div class="detail-label">SALARIO PROMEDIO</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="text-center">
                  <div class="detail-wrapper">
                    <div class="detail-value">4 semanas</div>
                    <div class="detail-label">PROMEDIO UBICACIÓN</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="text-center">
            <h2>¿A quién está dirigido?</h2>
            <p class="lead">Personas con conocimientos básicos en desarrollo Web que deseen encontrar un empleo o mejorar sus ingresos en la industria tech.</p>
            <button type="button" class="pbtn pbtn-secondary apply-now-btn">Aplica Ahora</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-white section-how-it-works">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= render "pages/companies2" %>
          <h2>¿Cómo funciona?</h2>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p class="lead">El proceso inicia con el proceso de selección. Continúa con el entrenamiento de acuerdo a la modalidad que escojas y, por último, el acompañamiento en la búsqueda de empleo.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="works-item">
                <%= image_tag "icon-proceso-top.png", srcset: { "icon-proceso-top@2x.png" => "2x", "icon-proceso-top@3x.png" => "3x" } %>
                <div class="item-info">
                  <h3>Proceso de selección</h3>
                  <p>Los candidatos completan una serie de entrevistas técnicas y personales para identificar a las personas con aptitudes técnicas sin importar sus estudios previos.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="works-item">
                <%= image_tag "icon-entrenamiento-top.png", srcset: { "icon-entrenamiento-top@2x.png" => "2x", "icon-entrenamiento-top@3x.png" => "3x" } %>
                <div class="item-info">
                  <h3>Entrenamiento</h3>
                  <p>A través de una metodología basada en proyectos los estudiantes aceleran su aprendizaje para convertirse en desarrolladores Web. El post-programa los prepara para la siguiente fase de sus vidas.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-formats">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Modalidades</h2>

          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p class="lead">Escoge entre modalidad de tiempo completo o tiempo parcial. Las dos modalidades son remotas con clases sincrónicas por videollamada con mentores experimentados.</p>
            </div>
          </div>

          <div class="formats">
            <div class="format">
              <div class="format-header">Tiempo Completo</div>
              <div class="format-body">
                <div class="format-item">
                  <div class="format-label">Fecha Inicio</div>
                  <div class="format-value">Jun 20, 2021</div>
                </div>
                <div class="format-item">
                  <div class="format-label">Duración</div>
                  <div class="format-value">4 meses</div>
                </div>
                <div class="format-item">
                  <div class="format-label">Horario</div>
                  <div class="format-value">Lunes a Viernes de 8:30am - 6:30pm</div>
                </div>
                <div class="format-item">
                  <div class="format-label"><a href="#" data-toggle="modal" data-target="#format-full">Ver Detalles</a></div>
                </div>
              </div>
              <div class="format-footer">
                <button type="button" class="pbtn apply-now-btn">Aplica Ahora</button>
              </div>
            </div>

            <div class="format">
              <div class="format-header">Tiempo Parcial</div>
              <div class="format-body">
                <div class="format-item">
                  <div class="format-label">Fecha Inicio</div>
                  <div class="format-value">Jun 20, 2021</div>
                </div>
                <div class="format-item">
                  <div class="format-label">Duración</div>
                  <div class="format-value">8 meses</div>
                </div>
                <div class="format-item">
                  <div class="format-label">Horario</div>
                  <div class="format-value">Lunes a Viernes de 6pm a 8pm</div>
                </div>
                <div class="format-item">
                  <div class="format-label"><a href="#" data-toggle="modal" data-target="#format-partial">Ver Detalles</a></div>
                </div>
              </div>
              <div class="format-footer">
                <button type="button" class="pbtn apply-now-btn">Aplica Ahora</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-white section-quotes">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Testimonios</h2>

          <div class="owl-carousel">
            <div class="quote">
              <div class="row">
                <div class="col-md-5 col-md-offset-1">
                  <div class="quote-image">
                    <%= image_tag "people/mixer-gutierrez.jpg", alt: "Mixer Gutierrez", class: "img-circle" %>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="quote-data">
                    <div class="quote-name">Mixer Gutierrez</div>
                    <div class="quote-position">Tech Lead</div>
                    <div class="quote-company">en La Haus</div>
                    <div class="quote-text">
                      Desarrollar software literalmente te cambia la vida y Make it Real me brindó la oportunidad de entrar a este mundo. Experiencia inolvidable!
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="quote">
              <div class="row">
                <div class="col-md-5 col-md-offset-1">
                  <div class="quote-image">
                    <%= image_tag "people/miguel-casas.jpg", alt: "Miguel Casas", class: "img-circle" %>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="quote-data">
                    <div class="quote-name">Miguel Casas</div>
                    <div class="quote-position">Full Stack Developer</div>
                    <div class="quote-company">en Auth0</div>
                    <div class="quote-text">
                      Nunca esperé aprender tanto, cambiar la visión de la programación y la orientación de mi vida en tan poco tiempo.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="quote">
              <div class="row">
                <div class="col-md-5 col-md-offset-1">
                  <div class="quote-image">
                    <%= image_tag "people/sebastian-zapata.png", alt: "Sebastián Zapata", class: "img-circle" %>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="quote-data">
                    <div class="quote-name">Sebastián Zapata</div>
                    <div class="quote-position">Full Stack Developer</div>
                    <div class="quote-company">en Zillow Group</div>
                    <div class="quote-text">
                      En Make it Real logré cosas que nunca habría imaginado hacer. Fue una de las experiencias más intensas y desafiantes de toda mi vida.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="quote">
              <div class="row">
                <div class="col-md-5 col-md-offset-1">
                  <div class="quote-image">
                    <%= image_tag "people/alejandro-escobar.jpg", alt: "Alejandro Escobar", class: "img-circle" %>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="quote-data">
                    <div class="quote-name">Alejandro Escobar</div>
                    <div class="quote-position">Full Stack Developer</div>
                    <div class="quote-company">en Docketwise</div>
                    <div class="quote-text">
                      En Make it Real se adquieren los conocimientos necesarios para aprovechar las oportunidades del mundo actual.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-curriculum">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2>Currículo</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="subject">
            <h3>Diseño de aplicaciones y metodologías ágiles</h3>
            <p>PMV (Producto Mínimo Viable), Scrum, historias de usuario, wireframing, Git, GitFlow, diseño de bases de datos.</p>
          </div>
          <div class="subject">
            <h3>HTML y CSS avanzado</h3>
            <p>Mejores prácticas, media queries, sombras, gradientes, transformaciones, transiciones, animaciones, Flexbox y CSS Grids, entre otros.</p>
          </div>
          <div class="subject">
            <h3>JavaScript avanzado</h3>
            <p>Prototipos, uso de this, scopes, closures, hoisting, ES2015, programación funcional, programación asincrónica, librerías y testing, herramientas de desarrollador y canvas, entre otros.</p>
          </div>
          <div class="subject">
            <h3>Node.js y Express</h3>
            <p>Event loop, Node.js internals, HTTP, Express: rutas, vistas, middlewares, manejo de errores, formularios, cookies, sesiones, JSON, Web Sockets.</p>
          </div>
          <div class="subject">
            <h3>MongoDB</h3>
            <p>Mongo Shell, Mongoose, Mongo Atlas.</p>
          </div>
          <div class="subject">
            <h3>React</h3>
            <p>Virtual DOM, JSX, componentes, estado, formularios, peticiones HTTP, router, hooks, Context API, Redux.</p>
          </div>
          <div class="subject">
            <h3>DevOps</h3>
            <p>Docker, Kubernetes, CI/CD con Github Actions, Heroku, Vercel, introducción a AWS.</p>
          </div>
          <div class="subject">
            <h3>GraphQL</h3>
            <p>Schemas, consultas, mutaciones, validación, Apollo Client, integración con React.</p>
          </div>
          <div class="subject">
            <h3>React Native</h3>
            <p>Instalación, componentes, navegación, formularios, cámara, mapas y GPS, HTTP, App Stores, entre otros.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="mentors"></a>
  <div class="section section-bordered section-white section-mentors">
    <div class="container">
      <h2>Nuestros mentores</h2>

      <div class="mentors-wrapper owl-carousel">
        <%= render "pages/full_stack_js_mentors" %>

        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="profile-image text-center">
              <%= image_tag "people/simon-hoyos.png" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="profile">
              <h3>Simón Hoyos</h3>
              <p>Apasionado por JavaScript y su ecosistema, co-organizador y speaker del <a href="https://www.meetup.com/React-Medellin/" target="_blank">Meetup React Medellín</a>.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="profile-image text-center">
              <%= image_tag "people/german-escobar.png" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="profile">
              <h3>Germán Escobar</h3>
              <p>Programador y emprendedor. Fundador de <a href="http://www.makeitreal.camp/" target="_blank">Make it Real</a> y co-fundador de <a href="http://masiv.com/?ref=makeitreal" target="_blank">Elibom (ahora Masivian)</a>.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <section class="section section-faq">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Preguntas frecuentes</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="question">
            <h3>¿Cómo aplico a la beca?</h3>
            <p>Tenemos un número limitado de becas que entregaremos en el orden en que las personas sean aceptadas. Entre antes apliques y completes el proceso de selección, mayor la probabilidad de recibir una beca.</p>
          </div>

          <div class="question">
            <h3>¿En qué lugar se dictan las clases?</h3>
            <p>El programa es completamente remoto y las clases se realizan a través de video llamada.</p>
          </div>

          <div class="question">
            <h3>¿Cuánto puedo aspirar a ganar cuando termine el programa?</h3>
            <p>Depende de tus conocimientos previos. El salario promedio de un egresado está en S/5,500 incluyendo prestaciones sociales de ley.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="question">
            <h3>¿Puedo volver a aplicar si no soy aceptado(a)?</h3>
            <p>Si. Puedes volver a aplicar.</p>
          </div>

          <div class="question">
            <h3>¿Cuáles son los requisitos para aplicar?</h3>
            <ul>
              <li>Ser nacional o residente peruano mayor de edad.</li>
              <li>Contar con educación secundaria completa.</li>
              <li>Tener conocimientos básicos de programación. Debes saber conceptos como variables, ciclos, condicionales, arreglos y funciones (en cualquier lenguaje), y entender cómo funcionan.</li>
              <li>Disponer del tiempo para dedicar al programa.</li>
              <li>Manejar un nivel básico de Inglés.</li>
              <li>Contar con un computador personal y conexión a Internet.</li>
            </ul>
          </div>

          <div class="question">
            <h3>No soy residente peruano. ¿Aún así puedo aplicar?</h3>
            <p>Este programa es sólo para nacionales y residentes peruanos. Sin embargo, te invitamos a conocer nuestro <%= link_to "Programa TOP", top_path %>.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render "pages/footer" %>

  <div class="modal fade format-modal" id="format-full" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modalidad Tiempo Completo</h4>
        </div>
        <div class="modal-body">
          <p>Esta modalidad se divide en tres fases:</p>

          <div class="formats">
            <h3>
              1. Fase de Nivelación
              <small>DURACIÓN: 2 semanas</small>
            </h3>
            <p>Recibirás contenido de Git, HTML, CSS y JavaScript que deberás estudiar por tu cuenta. Dependiendo de tus conocimientos previos esta fase te tomará de 35 a 60 horas.</p>

            <h3>
              2. Fase Principal
              <small>DURACIÓN: 12 semanas</small>
            </h3>
            <p>Para esta fase necesitas dedicación de tiempo completo. Empezarán las clases sincrónicas en vivo seguido de ejercicios o proyectos grupales. Además tendrás una hora de inglés a la semana y una hora de coaching (habilidades blandas, preparación para entrevistas, etc.) a la semana.</p>

            <h3>
            3. Fase de Ubicación Laboral
              <small>DURACIÓN: Hasta que encuentres un empleo</small>
            </h3>
            <p>Te compartiremos las ofertas de trabajo disponibles para que apliques y te acompañaremos con asesoría en la negociación y apoyo técnico para que consigas el mejor empleo para ti.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade format-modal" id="format-partial" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modalidad Tiempo Parcial</h4>
        </div>
        <div class="modal-body">
          <p>Esta modalidad se divide en tres fases:</p>

          <div class="formats">
            <h3>
              1. Fase de Nivelación
              <small>DURACIÓN: 3 semanas</small>
            </h3>
            <p>Recibirás contenido de Git, HTML, CSS y JavaScript que deberás estudiar por tu cuenta. Dependiendo de tus conocimientos previos esta fase te tomará de 35 a 60 horas.</p>

            <h3>
              2. Fase Principal
              <small>DURACIÓN: 24 semanas</small>
            </h3>
            <p>Necesitarás dedicar alrededor de 20 horas a la semana. Las clases sincrónicas y mentorías son Lunes a Viernes de 6pm a 8pm. Además de los temas técnicos, tendrás una hora de inglés cada dos semanas y una hora de coaching (habilidades blandas, preparación para entrevistas, etc.) cada dos semanas.</p>

            <h3>
            3. Fase de Ubicación Laboral
              <small>DURACIÓN: Hasta que encuentres un empleo</small>
            </h3>
            <p>Te compartiremos las ofertas de trabajo disponibles para que apliques y te acompañaremos con asesoría en la negociación y apoyo técnico para que consigas el mejor empleo para ti.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="application-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Formulario de aplicación</h4>
        </div>

        <div class="header-step">
          <div class="header-step-1 active"></div>
          <div class="header-step-2"></div>
          <div class="header-step-3"></div>
        </div>

        <form id="application-form" action="/application/innovate-peru" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

          <div class="modal-body">
            <div class="step-1">
              <p style="margin-bottom: 18px;"><strong>¡Gracias por tu interés en el programa Desarrollo Full Stack con el apoyo de Innóvate Perú!</strong> Antes de empezar asegúrate que cumples con los siguientes requisitos:</p>
              <ul>
                <li>
                  Eres nacional o residente peruano mayor de edad.
                  <small>Debes poder trabajar en Perú.</small>
                </li>
                <li>
                  Cuentas con al menos educación básica secundaria completa.
                </li>
                <li>
                  Tienes la lógica de programación.
                  <small>Conoces conceptos de programación como variables, condicionales, ciclos, arreglos y funciones, entre otros.</small>
                </li>
                <li>
                  Dispones del tiempo para realizar el programa.
                  <small>Conoces las modalidades, duración y los horarios, y dispones del tiempo.</small>
                </li>
                <li>
                  Manejas un nivel básico de Inglés.
                  <small>Al menos debes entenderlo escrito, hay varios recursos en el programa en Inglés.</small>
                </li>
              </ul>
              <div class="checkbox" style="margin-top: 30px;">
                <label>
                  <input type="checkbox" id="terms" name="applicant[accepted_terms]"> He leído y afirmo que cumplo con los requisitos para aplicar
                </label>
              </div>
            </div>
            <div class="step-2" style="display: none">
              <p style="margin-bottom: 20px;">Completa la siguiente información:</p>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" id="first-name" name="applicant[first_name]" class="form-control" placeholder="Nombres">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" id="last-name" name="applicant[last_name]" class="form-control" placeholder="Apellidos">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="email" id="email" name="applicant[email]" class="form-control" placeholder="Email" data-epayco="card[email]">
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="birthday">Fecha de nacimiento</label>
                    <input type="text" id="birthday" name="applicant[birthday]" class="form-control" placeholder="dd/mm/aaaa" data-datetimepicker="true">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="gender">Género</label>
                    <select id="gender" class="form-control" name="applicant[gender]">
                      <option value="">Selecciona</option>
                      <option value="male">Hombre</option>
                      <option value="female">Mujer</option>
                      <option value="other">Otro</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group" id="mobile-wrapper">
                    <label for="mobile">Número móvil</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="mobile-code">+51</span>
                      <input type="tel" class="form-control" id="mobile" name="applicant[mobile]">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="linkedin">LinkedIn URL</label>
                    <input type="text" id="linkedin" name="applicant[linkedin]" class="form-control">
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="format">Modalidad</label>
                    <select id="format" class="form-control" name="applicant[format]">
                      <option value="">Selecciona</option>
                      <option value="format-full">Tiempo completo</option>
                      <option value="format-partial">Tiempo parcial</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="step-3" style="display: none;">
              <p style="margin-bottom: 20px;">Por favor responde las siguientes preguntas con el mayor detalle posible:</p>
              <div class="form-group">
                <label for="goal">¿Por qué estás interesado(a) en el programa?</label>
                <textarea id="goal" name="applicant[goal]" class="form-control" rows="3" placeholder="¿Cuál es tu motivación? ¿Cuáles son tus objetivos?"></textarea>
              </div>
              <div class="form-group">
                <label for="experience">¿Cuál es tu nivel actual de conocimiento en programación?</label>
                <textarea id="experience" name="applicant[experience]" class="form-control" rows="3" placeholder="Cuéntanos cuál es tu profesión, cursos que hayas completado, conocimientos previos, proyectos personales, etc."></textarea>
              </div>
              <div class="form-group">
                <label for="additional">¿Hay algo más que debamos saber de ti?</label>
                <textarea id="additional" name="applicant[additional]" class="form-control" rows="3" placeholder="Un hobby, una anécdota o un logro personal"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default back">&lt;&lt; Atrás</button>
            <button type="button" class="btn btn-primary btn-lg next">Continuar</button>
            <button type="button" class="btn btn-primary btn-lg finish" style="display: none;">FINALIZAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on("turbolinks:load", function() {
    new InnovateProgramView();
  });
</script>
