<%= render "og_header",
      title: "Introducción a JavaScript",
      description: "[Curso Gratuito] En este curso aprender[as los fundamentos de JavaScript escribiendo código de manera práctica, con clases en vivo (video llamada) guiadas por mentores experimentados.",
      image_path: "01interna-programa.jpg" %>

<div class="intro-to-js">
  <%= render "layouts/navbar/pages_white", hide_login: true %>
  <%= render "pages/header_register", btn_text: "Inscríbete gratis!" %>

  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6 intro-info">
          <h1>Introducción a JavaScript</h1>
          <p>Domina las bases del lenguaje de programación con mayor demanda de la actualidad.</p>
          <p class="government-support"><strong>Curso gratuito con el apoyo de</strong></p>
          <div class="row government-row" >
            <div class="government-logo">
              <a href="https://interacpedia.com/website" target="_blank"><%= image_tag "companies/interacpedia-logo.png"%></a>
            </div>
            <div class="government-logo">
              <a href="https://www.misiontic2022.gov.co/portal/?ref=makeitreal" target="_blank"><%= image_tag "companies/mission-tic-2022.png" %></a>
            </div>
            <div class="government-logo" >
              <a href="https://www.mintic.gov.co/?ref=makeitreal" target="_blank"><%= image_tag "companies/mintic.jpg" %></a>
            </div>
          </div>
          <button type="button" class="pbtn pbtn-primary btn-register">¡Inscríbete gratis!</button>
        </div><!--/tagline-program -->

        <div class="col-md-6">
          <div class="program-info-box">
            <div class="info-box-group">
               <div>Abril 05, 2021</div>
               <div class="info-box-label">Inicio</div>
            </div>
            <div class="info-box-group">
               <div>10 días</div>
               <div class="info-box-label">Duración</div>
            </div>
            <div class="info-box-group">
              <div>6pm a 7pm (-05)</div>
              <div class="info-box-label">Lunes a viernes</div>
            </div>

            <div class="info-box-group info-box-location">
              Remoto (videollamada)
              <div class="info-box-label">Ubicación</div>
            </div>
          </div>
        </div>

      </div><!--/row -->
    </div><!--/container -->
  </div><!--/program-intro -->

  <%= render "intro_to_js_audience" %>

  <%= render "full_stack_js_students" %>

  <%= render "intro_to_js_curriculum" %>


  <a name="mentors"></a>
  <div class="section section-white section-mentors">
    <div class="container">
      <h2>Nuestros Mentores</h2>

      <div class="mentors-wrapper owl-carousel">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="profile-image text-center">
              <%= image_tag "people/carlos-goyeneche.jpg" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="profile">
              <h3>Carlos Goyeneche</h3>
              <p>Desarrollador entusiasta siempre en busqueda de las últimas tecnologías, actualmente Senior Software Engineer en <a href="https://corporate.discovery.com/?ref=makeitreal" target="_blank">Discovery Inc</a>. Happy coding!</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="profile-image text-center">
              <%= image_tag "people/link-strifer.jpg" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="profile">
              <h3>Link Strifer</h3>
              <p>Autodidacta que quería hacer guías de videojuegos y termino trabajando en varias multi-nacionales como Software Engineer, acualmente en <a href="https://www.hugeinc.com/?ref=makeitreal" target="_blank">Huge</a>.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="profile-image text-center">
              <%= image_tag "people/german-escobar.png" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="profile">
              <h3>Germán Escobar</h3>
              <p>Programador y emprendedor. Co-fundador de <a href="https://masiv.com/?ref=makeitreal" target="_blank">Elibom (ahora Masivian)</a> y fundador de <a href="/" target="_blank">Make it Real</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "pages/capture_email" %>

  <%= render "intro_to_js_faqs_interacpedia_mintic" %>

  <%= render "footer" %>

  <%= render "program_registration_free_course", action: "/introduccion-a-javascript-mintic" %>

</div>
