<div class="new-site makers">
  <%= render "layouts/navbar/pages_white", hide_login: true %>
  <div class="section section-dark section-makers-header">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>CONOCE A NUESTROS ALUMNOS</h2>
          <p class="subhead text-center">Esto es lo que dicen nuestros alumnos (makers), que siguen siendo parte de nuestra comunidad aún cuando terminan el programa.</p>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/pitch curriculum -->

  <div class="container">
    <div class="row">
      <div class="section-quotes">

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="each-quote">
            <p>"Después de 10 años en mercadeo, decidí cambiar de profesión. El camino puede ser duro pero con la experiencia de los mentores y la comunidad de alumnos de Make it Real se puede!"</p>
            <div class="student-data">
              <div class="profile-img">
                <%= image_tag "people/christophe-gray.png", alt: "Christophe Estanol", class: "img-circle" %>
              </div>
              <span class="profile-name txt-bold">Christophe Estanol</span>
              <span class="profile-status">Desarrollador Ruby on Rails</span>
              <span class="profile-link">
                <a href="https://github.com/ChrisEstanol/" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </span>
              <span class="profile-link">
                <a href="http://chrisestanol.com/" target="_blank">
                  <i class="fa fa-globe"></i>
                </a>
              </span>
            </div><!--/student-data -->
          </div> <!--/each-quote -->
        </div><!--/col-md-6 -->


        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="each-quote">
            <p>"Make It Real me sirvió mucho para pasar de solo tener ideas de negocio a tener la capacidad de hacerlas realidad."</p>
            <div class="student-data">
              <div class="profile-img">
                <%= image_tag "people/juan-felipe-rodriguez.jpg", alt: "Juan Felipe Rodriguez", class: "img-circle" %>
              </div>
              <span class="profile-name txt-bold">Juan Felipe Rodríguez</span>
              <span class="profile-status">Co-fundador de quincena.me</span>
              <span class="profile-link">
                <a href="https://co.linkedin.com/pub/juan-felipe-rodr%C3%ADguez-cuervo/57/707/427" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </span>
              <span class="profile-link">
                <a href="http://quincena.me/" target="_blank">
                  <i class="fa fa-globe"></i>
                </a>
              </span>
            </div><!--/student-data -->
          </div> <!--/each-quote -->
        </div><!--/col-md-6 -->


        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="each-quote">
            <p>"Soy Administrador de Empresas y Make it Real me cambió la vida. Me demostró que no requería de bases técnicas para convertirme en un buen desarrollador."</p>
            <div class="student-data">
              <div class="profile-img">
                <%= image_tag "people/alejandro-escobar.jpg", alt: "Alejandro Escobar", class: "img-circle" %>
              </div>
              <span class="profile-name txt-bold">Alejandro Escobar</span>
              <span class="profile-status">Co-fundador de Kaizen Devs</span>
              <span class="profile-link">
                <a href="https://github.com/alejoescobar" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </span>
              <span class="profile-link">
                <a href="http://www.kaizendevs.com/" target="_blank">
                  <i class="fa fa-globe"></i>
                </a>
              </span>
            </div><!--/student-data -->
          </div> <!--/each-quote -->
        </div><!--/col-md-6 -->


        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="each-quote">
            <p>"Simplemente el mejor camino para lograr las habilidades que necesita hoy en día cualquier programador o emprendedor en el campo de la tecnología."</p>
            <div class="student-data">
              <div class="profile-img">
                <%= image_tag "people/andres-angel2.png", alt: "Andrés Angel", class: "img-circle" %>
              </div>
              <span class="profile-name txt-bold">Andrés Ángel</span>
              <span class="profile-status">Co-fundador de quincena.me</span>
              <span class="profile-link">
                <a href="https://co.linkedin.com/in/andresangelc" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </span>
              <span class="profile-link">
                <a href="http://quincena.me/" target="_blank">
                  <i class="fa fa-globe"></i>
                </a>
              </span>
            </div><!--/student-data -->
          </div> <!--/each-quote -->
        </div><!--/col-md-6 -->

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="each-quote">
            <p>"Desarrollar software literalmente te cambia la vida y Make it Real me brindó la oportunidad de entrar a este mundo. Experiencia inolvidable!"</p>
            <div class="student-data">
              <div class="profile-img">
                <%= image_tag "people/mixer-gutierrez.jpg", alt: "Mixer Gutierrez", class: "img-circle" %>
              </div>
              <span class="profile-name txt-bold">Mixer Gutiérrez</span>
              <span class="profile-status">Desarrollador Ruby on Rails</span>
              <span class="profile-link">
                <a href="https://github.com/mixergtz" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </span>
              <span class="profile-link">
                <a href="http://mixergtz.github.io/" target="_blank">
                  <i class="fa fa-globe"></i>
                </a>
              </span>
            </div><!--/student-data -->
          </div> <!--/each-quote -->
        </div><!--/col-md-6 -->

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="each-quote">
            <p>"Make it Real no solo se quedó en darme las herramientas necesarias para aprender de una manera eficiente, sino que transformó mi manera de pensar acerca del aprendizaje del desarrollo web."</p>
            <div class="student-data">
              <div class="profile-img">
                <%= image_tag "people/jonathan-beltran.png", alt: "Jonathan Beltran", class: "img-circle" %>
              </div>
              <span class="profile-name txt-bold">Jonathan Beltrán</span>
              <span class="profile-status">Desarrollador Front-end</span>
              <span class="profile-link">
                <a href="https://github.com/heyjoeb" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </span>
              <span class="profile-link">
                <a href="http://heyjoe.com.co" target="_blank">
                  <i class="fa fa-globe"></i>
                </a>
              </span>
            </div><!--/student-data -->
          </div> <!--/each-quote -->
        </div><!--/col-md-6 -->


        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real me abrió un mar de oportunidades laborales como Desarrollador Web y un sin fin de posibilidades de materializar ideas de negocio. Definitivamente te ayuda a abrir la mente."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/daniel-llano.jpg", alt: "Daniel Llano", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Daniel Llano</span>
                <span class="profile-status">Desarrollador Web en Kommit</span>
                <span class="profile-link">
                  <a href="https://co.linkedin.com/in/danielllano" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </span>
                <span class="profile-link">
                  <a href="https://github.com/danielllano" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Estuve buscando algo como Make it Real por mucho tiempo, un lugar donde puedo llevar directamente los conocimientos que he aprendido a productos y proyectos de la vida real."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/german-hernandez.jpg", alt: "Germán Hernandez", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Germán Hernandez</span>
                <span class="profile-status">Co-fundador de Kaizen Devs</span>
                <span class="profile-link">
                  <a href="https://github.com/muygrafico" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </span>
                <span class="profile-link">
                  <a href="http://kaizendevs.com/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a>
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real es la respuesta a la necesidad de una nueva educación, es una mezcla ideal entre tecnología e interacción humana."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/hamilton-alvarez.jpg", alt: "Hamilton Alvarez", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Hamilton Alvarez</span>
                <span class="profile-status">Full Stack Web Developer</span>
                <span class="profile-link">
                  <a href="https://github.com/mejialvarez" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real me brindó un cambio de mentalidad para generar confianza en uno mismo y en como el auto aprendizaje y la frustración son fundamentales en el proceso de adquirir nuevas habilidades."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/edwin-restrepo.jpg", alt: "Edwin Restrepo", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Edwin Restrepo</span>
                <span class="profile-status">Desarrollador Web en Yuxi Pacific</span>
                <span class="profile-link">
                  <a href="https://github.com/edwinrestrepo6" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </span>
                <span class="profile-link">
                  <a href="http://edwinrestrepo.me/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a>
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real te enseña el camino adecuado con las herramientas mas aceptadas por la comunidad y el mercado de tal forma que el camino sea mucho mas claro."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/juan-camilo-hernandez.jpg", alt: "Juan Camilo Hernandez", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Juan Camilo Hernández</span>
                <span class="profile-status">Desarrollador Web Full Stack</span>
                <span class="profile-link">
                  <a href="https://github.com/camilo9020" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->


          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"En Make it real poseen una excelente metodología para la enseñanza, permitiéndote ir a tu propio ritmo, siempre asesorado de tutores que están a disposición casi que en cualquier momento."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/luisa-fernanda-perez.jpg", alt: "Luisa Fernanda Perez", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Luisa Fernanda Pérez</span>
                <span class="profile-status">Front End Web Developer</span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real para mi ha sido la mejor experiencia de aprendizaje de mi vida, vas a tu ritmo, hay un gurú que te explica en caso que no entiendas y tienes recursos infinitos."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/leslie-restrepo.jpg", alt: "Leslie Restrepo", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Leslie Restrepo</span>
                <span class="profile-status">JohnHenry.net</span>
                <span class="profile-link">
                  <a href="http://www.johnhenry.net/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a>
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Cuando encontré Make It Real no dudé en aplicar, es una decisión que ha impactado mi vida de manera positiva, la programación de alguna manera te da poderes, poderes de los buenos."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/ricardo-rojas.jpg", alt: "Ricardo Rojas", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Ricardo Rojas</span>
                <span class="profile-status">Desarrollador Web en Yuxi Pacific</span>
                <span class="profile-link">
                  <a href="http://ricardorojass.github.io/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a>
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"En Make it Real logré cosas que nunca habría imaginado hacer. Fue una de las experiencias más intensas y desafiantes de toda mi vida."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/sebastian-zapata-small.jpg", alt: "Sebastián Zapata", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Sebastán Zapata</span>
                <span class="profile-status">Co-fundador de Kaizen-devs</span>
                <span class="profile-link">
                  <a href="http://mardiniii.github.io/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a>
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real me abrió las puertas a un nuevo mundo que hasta ahora empieza a ser explorado y en el que las mujeres podemos entrar a jugar un rol muy importante."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/sorel-de-leon.jpg", alt: "Sorel de León", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Sorel de León</span>
                <span class="profile-status">Full Stack Web Developer</span>
                <span class="profile-link">
                  <a href="http://yuxipacific.com/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a>
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Este es de lejos el mejor programa para aprender a desarrollar productos digitales que existe en Latinoamérica."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/nayib-abdala.jpg", alt: "Nayib Abdala", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Nayib Abdalá</span>
                <span class="profile-status">Creador de Business Hackers</span>
                <span class="profile-link">
                  <a href="http://www.businesshackers.how/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a>
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->


          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make It Real, es una excelente oportunidad para los que quieran entrar o ya estén en el mundo de la programación, sin duda, el mejor curso virtual que he realizado. Su metodología y visión de enseñanza hacen la diferencia."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/damian-garces.jpg", alt: "Damián Garcés", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Damián Arturo Garcés</span>
                <span class="profile-status">Desarrollador Full stack</span>
                <span class="profile-link">
                  <a href="http://guners86.github.io/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a>
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real me ayudó a generar independencia económica, a construir unos cuantos proyectos personales y aún no he terminado mi carrera en la Universidad. ¿Qué más puedo pedir?"</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/diego-urrea.jpg", alt: "Diego Urrea", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Diego Fernando Urrea</span>
                <span class="profile-status">Desarrollador Full Stack</span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make It Real pasó de ser para mi una plataforma de conocimiento a ser una comunidad de desarrolladores donde puedo apoyarme y crecer día a día."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/andres-vargas.jpg", alt: "Andrés Vargas", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Andrés Vargas</span>
                <span class="profile-status">Fron End Web Developer</span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Ha sido una experiencia retadora y apasionante. De los cursos que he hecho en mi vida, nunca  ví uno tan enfocado en la experiencia del estudiante para garantizar un aprendizaje real"</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/juan-guillermo-gomez.jpg", alt: "Juan Guillermo Gomez", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Juan guillermo Gómez</span>
                <span class="profile-status">Fundador lehappypet.co</span>
                <span class="profile-link">
                  <a href="http://lehappypet.co" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a>
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real offers a true networking experience, works for non-natives and was the start of my business <a href="http://www.rubyonrocks.com/" target="_blank">Ruby on Rocks</a>."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/niels-siskens.jpg", alt: "Niels Siskens", class: "img-circle" %>
                </div>
                <span class="profile-name txt-bold">Niels Siskens</span>
                <span class="profile-status">Fundador Ruby on Rocks</span>
                <span class="profile-link">
                  <a href="http://rubyonrocks.com" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a>
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

      </div><!--/section-quotes -->

    </div><!--/row -->
  </div><!--/container -->


  <div class="container-fluid">
    <div class="row">
      <%= render "footer" %>

    </div><!--/row -->
  </div><!--/contianer-fluid -->

</div><!--/new-site -->
