<div class="new_site">
  <%= render "navigation" %>
  <div class="pitch curriculum">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2><span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="45" height="61" viewBox="0 0 45 61">
              <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAA9CAMAAAAOEhAzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAATlBMVEUAAAD/////////////////////////////////////////////////////////RgD/RgD/RgD/RgD/RgD/RgD/RgD/RgD/////RgAAAACjiGzUAAAAF3RSTlMAZnciuxHuRIjMM92ZVapUcA7AIKjgHOQ5ed8AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAABWklEQVRIx+3Vy3aEIAwAUF4KKjh90///0i4mkQQIeLpts3LkwkQSVGlDQ1XBR61ymcZS6ZWN+kp7jm0e6ioVPdaO6zDWmettonems6CPrZO452NkbUgxUm3gXptJgnWohjEj6mzb2vhW+wNmFbw/76w9DdmFpjauow2MbUXDfNPT2BNNbXxPX8+EeMHpXX1W9UnYOl0N23pWtQl9jRtW1Sb1NfYQNhb8XAQNl5rV5lCCxibiLSVpz+oTr3/qa9zg58GHvrGSxuIlctxXJepA6pPK7gv6qh6fKWjaWK50jaDxyfZSGzXQ8br2JClJl8Yy5K6kS7XPkrao8URYvFiGGpbUljaBqPEEwJEOYw0DG9RGjzVu85X/WLMX9KEm2lAdZzpRbWZ6oXqfafqpwXfFQMei3VyTT6SZa/L59XONJyKXd7Ovp//H7+Pxcj9e1dv3/Xj/I/rj8358/QCd/5PAWPoF3wAAAABJRU5ErkJggg==" width="45" height="61"/>
            </svg>
          </span>
          Nuestros alumnos son los mejores</h2>
          <p>Esto es lo que dicen nuestros alumnos (makers), que siguen siendo parte de nuestra comunidad aún cuando terminan el programa.</p>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/pitch curriculum -->




  <div class="container">
    <div class="row">
      <div class="section-quotes">

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="each-quote">
            <p>"Después de 10 años en mercadeo, decidí cambiar de profesión. El camino puede ser duro pero con la experiencia de los mentores y la comunidad de alumnos de Make it Real se puede!"</p>
            <div class="student-data">
              <div class="profile-img">
                <%= image_tag "people/christophe.png",alt: "Christophe Estanol" %>
              </div>
              <span class="profile-name txt-bold">Christophe Estanol</span>
              <span class="profile-status">Desarrollador Ruby on Rails</span>
              <span class="profile-link">
                <a href="https://github.com/ChrisEstanol/" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </span>
              <span class="profile-link">
                <a href="http://chrisestanol.com/" target="_blank">
                  <i class="fa fa-globe"></i>
                </a>
              </span>
            </div><!--/student-data -->
          </div> <!--/each-quote -->
        </div><!--/col-md-6 -->


        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="each-quote">
            <p>"Make It Real me sirvió mucho para pasar de solo tener ideas de negocio a tener la capacidad de hacerlas realidad."</p>
            <div class="student-data">
              <div class="profile-img">
                <%= image_tag "people/juan-felipe-rodriguez.png" %>
              </div>
              <span class="profile-name txt-bold">Juan Felipe Rodríguez</span>
              <span class="profile-status">Co-fundador de quincena.me</span>
              <span class="profile-link">
                <a href="https://co.linkedin.com/pub/juan-felipe-rodr%C3%ADguez-cuervo/57/707/427" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </span>
              <span class="profile-link">
                <a href="http://quincena.me/" target="_blank">
                  <i class="fa fa-globe"></i>
                </a>
              </span>
            </div><!--/student-data -->
          </div> <!--/each-quote -->
        </div><!--/col-md-6 -->


        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="each-quote">
            <p>"Soy Administrador de Empresas y Make it Real me cambió la vida. Me demostró que no requería de bases técnicas para convertirme en un buen desarrollador."</p>
            <div class="student-data">
              <div class="profile-img">
                <%= image_tag "people/alejandro-escobar.png" %>
              </div>
              <span class="profile-name txt-bold">Alejandro Escobar</span>
              <span class="profile-status">Co-fundador de Kaizen Devs</span>
              <span class="profile-link">
                <a href="https://github.com/alejoescobar" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </span>
              <span class="profile-link">
                <a href="http://www.kaizendevs.com/" target="_blank">
                  <i class="fa fa-globe"></i>
                </a>
              </span>
            </div><!--/student-data -->
          </div> <!--/each-quote -->
        </div><!--/col-md-6 -->


        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="each-quote">
            <p>"Simplemente el mejor camino para lograr las habilidades que necesita hoy en día cualquier programador o emprendedor en el campo de la tecnología."</p>
            <div class="student-data">
              <div class="profile-img">
                <%= image_tag "people/andres-angel.png" %>
              </div>
              <span class="profile-name txt-bold">Andrés Ángel</span>
              <span class="profile-status">Co-fundador de quincena.me</span>
              <span class="profile-link">
                <a href="https://co.linkedin.com/in/andresangelc" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </span>
              <span class="profile-link">
                <a href="http://quincena.me/" target="_blank">
                  <i class="fa fa-globe"></i>
                </a>
              </span>
            </div><!--/student-data -->
          </div> <!--/each-quote -->
        </div><!--/col-md-6 -->

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="each-quote">
            <p>"Desarrollar software literalmente te cambia la vida y Make it Real me brindó la oportunidad de entrar a este mundo. Experiencia inolvidable!"</p>
            <div class="student-data">
              <div class="profile-img">
                <%= image_tag "people/mixer-gutierrez.png" %>
              </div>
              <span class="profile-name txt-bold">Mixer Gutiérrez</span>
              <span class="profile-status">Desarrollador Ruby on Rails</span>
              <span class="profile-link">
                <a href="https://github.com/mixergtz" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </span>
              <span class="profile-link">
                <a href="http://mixergtz.github.io/" target="_blank">
                  <i class="fa fa-globe"></i>
                </a>
              </span>
            </div><!--/student-data -->
          </div> <!--/each-quote -->
        </div><!--/col-md-6 -->

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="each-quote">
            <p>"Make it Real no solo se quedó en darme las herramientas necesarias para aprender de una manera eficiente, sino que transformó mi manera de pensar acerca del aprendizaje del desarrollo web."</p>
            <div class="student-data">
              <div class="profile-img">
                <%= image_tag "people/jonathan-beltran.png" %>
              </div>
              <span class="profile-name txt-bold">Jonathan Beltrán</span>
              <span class="profile-status">Desarrollador Front-end</span>
              <span class="profile-link">
                <a href="https://github.com/heyjoeb" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </span>
              <span class="profile-link">
                <a href="http://heyjoe.com.co" target="_blank">
                  <i class="fa fa-globe"></i>
                </a>
              </span>
            </div><!--/student-data -->
          </div> <!--/each-quote -->
        </div><!--/col-md-6 -->


        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real me abrió un mar de oportunidades laborales como Desarrollador Web y un sin fin de posibilidades de materializar ideas de negocio. Definitivamente te ayuda a abrir la mente."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/daniel-llano.png" %>
                </div>
                <span class="profile-name txt-bold">Daniel Llano</span>
                <span class="profile-status">Desarrollador Web en Kommit</span>
                <span class="profile-link">
                  <a href="https://co.linkedin.com/in/danielllano" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a> 
                </span>
                <span class="profile-link">
                  <a href="https://github.com/danielllano" target="_blank">
                    <i class="fa fa-github"></i>
                  </a> 
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Estuve buscando algo como Make it Real por mucho tiempo, un lugar donde puedo llevar directamente los conocimientos que he aprendido a productos y proyectos de la vida real."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/german-hernandez.png" %>
                </div>
                <span class="profile-name txt-bold">Germán Hernandez</span>
                <span class="profile-status">Co-fundador de Kaizen Devs</span>
                <span class="profile-link">
                  <a href="https://github.com/muygrafico" target="_blank">
                    <i class="fa fa-github"></i>
                  </a> 
                </span>
                <span class="profile-link">
                  <a href="http://kaizendevs.com/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a> 
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real me brindó un cambio de mentalidad para generar confianza en uno mismo y en como el auto aprendizaje y la frustración son fundamentales en el proceso de adquirir nuevas habilidades."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/edwin-restrepo.png" %>
                </div>
                <span class="profile-name txt-bold">Edwin Restrepo</span>
                <span class="profile-status">Desarrollador Web en Yuxi Pacific</span>
                <span class="profile-link">
                  <a href="https://github.com/edwinrestrepo6" target="_blank">
                    <i class="fa fa-github"></i>
                  </a> 
                </span>
                <span class="profile-link">
                  <a href="http://edwinrestrepo.me/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a> 
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real te enseña el camino adecuado con las herramientas mas aceptadas por la comunidad y el mercado de tal forma que el camino sea mucho mas claro."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/juan-camilo-hernandez.png" %>
                </div>
                <span class="profile-name txt-bold">Juan Camilo Hernández</span>
                <span class="profile-status">Estudiante actual</span>
                <span class="profile-link">
                  <a href="https://github.com/camilo9020" target="_blank">
                    <i class="fa fa-github"></i>
                  </a> 
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->


          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"En Make it real poseen una excelente metodología para la enseñanza, permitiéndote ir a tu propio ritmo, siempre asesorado de tutores que están a disposición casi que en cualquier momento."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/luisa-fernanda-perez.png" %>
                </div>
                <span class="profile-name txt-bold">Luisa Fernanda Pérez</span>
                <span class="profile-status">Estudiante actual</span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real para mi ha sido la mejor experiencia de aprendizaje de mi vida, vas a tu ritmo, hay un gurú que te explica en caso que no entiendas y tienes recursos infinitos."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/leslie-restrepo.png" %>
                </div>
                <span class="profile-name txt-bold">Leslie Restrepo</span>
                <span class="profile-status">JohnHenry.net</span>
                <span class="profile-link">
                  <a href="http://www.johnhenry.net/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a> 
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Cuando encontré Make It Real no dudé en aplicar, es una decisión que ha impactado mi vida de manera positiva, la programación de alguna manera te da poderes, poderes de los buenos."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/ricardo-rojas.png" %>
                </div>
                <span class="profile-name txt-bold">Ricardo Rojas</span>
                <span class="profile-status">Desarrollador Web en Yuxi Pacific</span>
                <span class="profile-link">
                  <a href="http://ricardorojass.github.io/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a> 
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"En Make it Real logré cosas que nunca habría imaginado hacer. Fue una de las experiencias más intensas y desafiantes de toda mi vida."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/sebastian-zapata.png" %>
                </div>
                <span class="profile-name txt-bold">Sebastán Zapata</span>
                <span class="profile-status">Co-fundador de Kaizen-devs</span>
                <span class="profile-link">
                  <a href="http://mardiniii.github.io/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a> 
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real me abrió las puertas a un nuevo mundo que hasta ahora empieza a ser explorado y en el que las mujeres podemos entrar a jugar un rol muy importante."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/sorel-de-leon.png" %>
                </div>
                <span class="profile-name txt-bold">Sorel de León</span>
                <span class="profile-status">Desarrolladora web en Yuxi Pacific</span>
                <span class="profile-link">
                  <a href="http://yuxipacific.com/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a> 
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Este es de lejos el mejor programa para aprender a desarrollar productos digitales que existe en Colombia."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/nayib-abdala.png" %>
                </div>
                <span class="profile-name txt-bold">Nayib Abdalá</span>
                <span class="profile-status">Creador de Business Hackers</span>
                <span class="profile-link">
                  <a href="http://www.businesshackers.how/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a> 
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->


          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make It Real, es una excelente oportunidad para los que quieran entrar o ya estén en el mundo de la programación, sin duda, el mejor curso virtual que he realizado. Su metodología y visión de enseñanza hacen la diferencia."</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/damian-garces.png" %>
                </div>
                <span class="profile-name txt-bold">Damián Arturo Garcés</span>
                <span class="profile-status">Desarrollador full stack</span>
                <span class="profile-link">
                  <a href="http://guners86.github.io/" target="_blank">
                    <i class="fa fa-globe"></i>
                  </a> 
                </span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->


          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="each-quote">
              <p>"Make it Real me ayudó a generar independencia económica, a construir unos cuantos proyectos personales y aún no he terminado mi carrera en la Universidad. ¿Qué más puedo pedir?"</p>
              <div class="student-data">
                <div class="profile-img">
                  <%= image_tag "people/diego-urrea.png" %>
                </div>
                <span class="profile-name txt-bold">Diego Fernando Urrea</span>
                <span class="profile-status">Estudiante actual</span>
              </div><!--/student-data -->
            </div> <!--/each-quote -->
          </div><!--/col-md-6 -->



      </div><!--/section-quotes -->

    </div><!--/row -->
  </div><!--/container -->


  <div class="container-fluid">
    <div class="row">
      <%= render "cta_enroll" %>
      <%= render "footer" %>

    </div><!--/row -->
  </div><!--/contianer-fluid -->



</div><!--/new_site -->
