<div class="new-site">
  <%= render "navigation" %>
  <div class="pitch curriculum">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2><span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="45" height="61" viewBox="0 0 45 61">
              <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAA9CAMAAAAOEhAzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAATlBMVEUAAAD/////////////////////////////////////////////////////////RgD/RgD/RgD/RgD/RgD/RgD/RgD/RgD/////RgAAAACjiGzUAAAAF3RSTlMAZnciuxHuRIjMM92ZVapUcA7AIKjgHOQ5ed8AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAABWklEQVRIx+3Vy3aEIAwAUF4KKjh90///0i4mkQQIeLpts3LkwkQSVGlDQ1XBR61ymcZS6ZWN+kp7jm0e6ioVPdaO6zDWmettonems6CPrZO452NkbUgxUm3gXptJgnWohjEj6mzb2vhW+wNmFbw/76w9DdmFpjauow2MbUXDfNPT2BNNbXxPX8+EeMHpXX1W9UnYOl0N23pWtQl9jRtW1Sb1NfYQNhb8XAQNl5rV5lCCxibiLSVpz+oTr3/qa9zg58GHvrGSxuIlctxXJepA6pPK7gv6qh6fKWjaWK50jaDxyfZSGzXQ8br2JClJl8Yy5K6kS7XPkrao8URYvFiGGpbUljaBqPEEwJEOYw0DG9RGjzVu85X/WLMX9KEm2lAdZzpRbWZ6oXqfafqpwXfFQMei3VyTT6SZa/L59XONJyKXd7Ovp//H7+Pxcj9e1dv3/Xj/I/rj8358/QCd/5PAWPoF3wAAAABJRU5ErkJggg==" width="45" height="61"/>
            </svg>
          </span>
          ¿Cuánto cuesta el programa?</h2>
          <p>Aunque programas similares cuestan <a href="https://www.coursereport.com/resources/course-report-2015-bootcamp-market-size-study" target="_blank">más de $10,000 dólares en promedio,</a> en Make it Real recibirás una educación de igual o mejor calidad a una fracción del costo.</p>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/pitch curriculum -->



  <div class="container-fluid">
    <div class="row">
      <div class="pricing">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div id="financing-usd" class="financing">
                <%= render "price_box", currency: "USD",first_payment: 299,monthly_payment: 150,
                  one_payment: 900,monthly_payments: 5, currency_name: "dólares americanos",saving: 120 %>
              </div>
              <div id="financing-cop" class="financing">
                <%= render "price_box", currency: "COP",first_payment: "800,000",monthly_payment: "320,000",
                  one_payment: "2,060,000",monthly_payments: 5, currency_name: "pesos colombianos",saving: "340,000" %>
              </div>
            </div>

            <div class="col-md-5 col-md-offset-1">
              <div class="financing-quote">
                <h4>Lo que dicen de nosotros</h4>
                <div id="student-says-1" class="student-says">
                  <p>"Make it Real me abrió un mar de oportunidades laborales como Desarrollador Web y un sin fin de posibilidades de materializar ideas de negocio. Definitivamente te ayuda a abrir la mente."</p>
                  <div class="student-data">
                    <div class="profile-img">
                      <%= image_tag "people/daniel-llano.png" %>
                    </div>
                    <span class="profile-name txt-bold">Daniel Llano</span>
                    <span class="profile-status">Desarrollador Web en Kommit</span>
                  </div><!--/student-data -->
                </div>

                <div id="student-says-2" class="student-says">
                  <p>"Estuve buscando algo como Make it Real por mucho tiempo, un lugar donde puedo llevar directamente los conocimientos que he aprendido a productos y proyectos de la vida real."</p>
                  <div class="student-data">
                    <div class="profile-img">
                      <%= image_tag "people/german-hernandez.png" %>
                    </div>
                    <span class="profile-name txt-bold">Germán Hernandez</span>
                    <span class="profile-status">Co-fundador de Kaizen Devs</span>
                  </div><!--/student-data -->
                </div>

                <div id="student-says-3" class="student-says">
                  <p>"Make it Real me brindó un cambio de mentalidad para generar confianza en uno mismo y en como el auto aprendizaje y la frustración son fundamentales en el proceso de adquirir nuevas habilidades."</p>
                  <div class="student-data">
                    <div class="profile-img">
                      <%= image_tag "people/edwin-restrepo.png" %>
                    </div>
                    <span class="profile-name txt-bold">Edwin Restrepo</span>
                    <span class="profile-status">Desarrollador Web en Yuxi Pacific</span>
                  </div><!--/student-data -->
                </div>
                <div class="more">
                  <a href="<%= makers_path %>">Ver más opiniones</a>
                </div>
              </div> <!--/financing-quote -->
            </div>
          </div>
        </div>


        <div class="col-md-12 benefits">
          <div class="col-md-6 col-md-offset-3">
            <div class="top-container">
              <h4>¿Qué beneficios recibo?</h4>
              <ul>
                <li>Mentorías ilimitadas por Hangout o Skype con mentores experimentados.</li>
                <li>Acceso de por vida a Slack (nuestro chat interno). Sigue recibiendo apoyo de tus mentores y otros estudiantes aún cuando termines el programa.</li>
                <li>Acceso por un año a la plataforma (retos, cursos, charlas y material adicional).</li>
              </ul>
              <%= link_to "https://makeitreal.typeform.com/to/KbayyW", class: "btn btn-main" do %>
                  ¡Aplica ahora!</a>
              <div class="secret hidden">HcUy6Re2LLBRtj</div>
              <% end %>
            </div>
          </div>
          <div class="icon-mir">
            <%= image_tag("bgIconMir-black.png", class: "img-responsive") %>
          </div>
        </div>


    </div><!--/pricing -->
      <%= render "footer" %>
    </div><!--/row -->
  </div><!--/contianer-fluid -->

</div><!--/new-site -->

<script type="text/javascript">
  $(document).on("ready page:load", window.ready_pricing);
  $(document).on("page:before-change", function() {
    $(document).off("ready page:load", window.ready_pricing);
  });
</script>
