<% content_for :head do %>
  <meta property="og:title" content="Curso de React y Redux" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="En este curso práctico aprenderás ES2015, React, Redux y pruebas automatizadas con Jest y Enzyme." />
  <meta property="og:image" content="<%= image_url('react-redux.jpg') %>" />
<% end %>

<div class="new-site course react-redux">
  <%= render "layouts/navbar/pages_white", hide_login: true %>
  <%= render "pages/header_register", btn_text: "COMPRAR CURSO" %>

  <div class="program-header">
    <div class="container">
      <%= image_tag "react-logo.png" %>
      <div class="row">
        <div class="col-md-6 tagline">
          <h1><small>ONLINE, A TU PROPIO RITMO</small>REACT Y REDUX</h1>
          <p>En este <strong>curso práctico</strong> aprenderás ES2015, React, Redux y pruebas automatizadas con Jest y Enzyme.</p>
          <button class="btn btn-primary btn-register">COMPRAR ESTE CURSO</a>
        </div><!--/tagline-program -->
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/program-intro -->

  <div class="program-info section">
    <div class="container">
      <div class="row">

        <div class="col-sm-5 col-md-4">
          <div class="aside">
            <h4>Este curso está dirigido a:</h4>

            <ul>
              <li>A desarrolladores Web que quieran avanzar su carrera.</li>
              <li>A personas que han intentado aprender React pero quieren algo más guiado y práctico sin gastar una fortuna!</li>
              <li>A desarrolladores de otros frameworks como AngularJS o Ember que quieren conocer las ideas detrás de React y Redux.</li>
            </ul>
          </div>

          <div class="aside">
            <h4>Requisitos:</h4>

            <p>Para sacar el mayor provecho de este curso debes tener conocimientos en:</p>

            <ul>
              <li>HTML y CSS.</li>
              <li>Bootstrap</li>
              <li>JavaScript y jQuery</li>
              <li>Git y Github</li>
            </ul>
          </div>

          <div class="aside">
            <h4>Incluye:</h4>

            <ul>
              <li>12 retos evaluados automáticamente con página de discusión que muestra nuestra solución oficial, alternativas y conceptos.</li>
              <li>Más de 4 horas de video de alta calidad en lecciones claras y cortas.</li>
              <li>Quiz de 24 preguntas con retroalimentación.</li>
              <li>2 proyectos con retroalimentación de mentores experimentados.</li>
              <li>Recursos online de apoyo.</li>
              <li>Actualizaciones gratuitas.</li>
            </ul>
          </div>

          <div class="aside inverted">
            <% if @valid_coupon %>
              <p class="text-center">Esta promoción expira en <%= distance_of_time_in_words(DateTime.current, @coupon.expires_at) %>!</p>
            <% else %>
              <p class="text-center">Aprovecha este precio de lanzamiento!</p>
            <% end %>
            <p class="price-tag">
              <% if @valid_coupon %>
                <span class="old-price">$299,000</span> $149,000*
              <% else %>
                $299,000
              <% end %>
            </p>

            <div class="action-wrapper text-center">
              <button class="btn btn-primary btn-register">COMPRAR ESTE CURSO</button>
            </div>

            <p><small>* Pesos colombianos. Impuestos incluídos</small></p>
          </div>
        </div>

        <div class="col-sm-7 col-md-8">
          <h2>Lo que aprenderás en detalle:</h2>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">React</h3>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td>ES2015 - La nueva versión de JavaScript</td>
                </tr>
                <tr>
                  <td>Creando tu primera aplicación de React</td>
                </tr>
                <tr>
                  <td>JSX</td>
                </tr>
                <tr>
                  <td>Componentes (creación, estado y propiedades)</td>
                </tr>
                <tr>
                  <td>Inmutabilidad</td>
                </tr>
                <tr>
                  <td>Manejo de Formularios</td>
                </tr>
                <tr>
                  <td>Peticiones HTTP con Axios</td>
                </tr>
                <tr>
                  <td>React Bootstrap</td>
                </tr>
                <tr>
                  <td>React Router</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Redux</h3>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td>Introducción: conceptos principales</td>
                </tr>
                <tr>
                  <td>Integrando a una aplicación de React</td>
                </tr>
                <tr>
                  <td>Funciones reductoras</td>
                </tr>
                <tr>
                  <td>Action Creators</td>
                </tr>
                <tr>
                  <td>Usando la librería react-redux</td>
                </tr>
                <tr>
                  <td>Middlewares</td>
                </tr>
                <tr>
                  <td>Operaciones asincrónicas con redux-thunk</td>
                </tr>
                <tr>
                  <td>Combinando funciones reductoras</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Pruebas automatizadas</h3>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td>Introducción a Jest y Enzyme</td>
                </tr>
                <tr>
                  <td>Probando los Componentes</td>
                </tr>
                <tr>
                  <td>Probando las Funciones Reductoras</td>
                </tr>
                <tr>
                  <td>Probando los Action Creators</td>
                </tr>
                <tr>
                  <td>Probando Operaciones Asincrónicas</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section section-bordered section-white faqs">
    <div class="container">
      <h2>Preguntas frecuentes</h2>

      <div class="row">
        <div class="col-sm-6">
          <section class="question">
            <h3>¿Qué hace a este curso diferente?</h3>
            <p>Creemos que los videos son importantes, pero no suficientes, y es por eso que hemos diseñado una metodología de aprendizaje basada en nuestra filosofía: aprender haciendo.</p>
            <p>Los retos están cuidadosamente diseñados para acelerar y maximizar tu aprendizaje. Y los proyectos <strong>los evalúan mentores experimentados</strong> que te brindarán retroalimentación accionable.</p>
          </section><!--/question -->

          <section class="question">
            <h3>¿Por qué no cobran una suscripción mensual?</h3>
            <p>Porque valoramos la calidad por encima de la cantidad. En vez de tener mucho cursos de baja calidad preferimos enfocarnos en unos pocos cursos de la más alta calidad.</p>
          </section><!--/question -->

          <section class="question">
            <h3>¿Cuánto tiempo tengo para terminar este curso?</h3>
            <p>No hay límite de tiempo, lo puedes completar a tu propio ritmo.</p>
          </section><!--/question -->

          <section class="question">
            <h3>¿Qué pasa si tengo alguna duda sobre el contenido?</h3>
            <p>Puedes escribirnos a <a href="mailto: info@makeitreal.camp">info@makeitreal.camp</a> y en menos de 24 horas responderemos tu inquietud.</p>
          </section><!--/question -->
        </div>

        <div class="col-sm-6">
          <section class="question">
            <h3>¿Qué formas de pago aceptan?</h3>
            <p>Puedes pagar con tarjeta de crédito o débito. En Colombia también aceptamos consignación o transferencia.</p>
          </section><!--/question -->

          <section class="question">
            <h3>¿Tienen descuento por volumen?</h3>
            <p>Sí. Si vas a adquirir más de 5 cupos escríbenos a <a href="mailto: info@makeitreal.camp">info@makeitreal.camp</a> con tus datos y nos comunicaremos contigo telefónicamente.</p>
          </section><!--/question -->

          <section class="question">
            <h3>¿Qué pasa si no estoy convencido?</h3>
            <p>Si no estás convencido(a) en los 15 primeros días de tu compra te devolveremos tu dinero.</p>
          </section><!--/question -->
        </div>
      </div>
    </div>
  </div>

  <section class="section section-dark react-online-magnet">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <p class="subhead">Aprovecha nuestro precio de lanzamiento. Te garantizamos la educación de la más alta calidad!</p>
          <button class="btn btn-primary btn-register">¡TOMA ESTE CURSO AHORA!</a>
        </div>
      </div>
    </div>
  </section>

  <%= render "footer" %>

  <div class="modal fade" id="registration-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="header">
          <div class="header-image">
            <%= image_tag "react-logo.png", class: "header-logo" %>
          </div>
          <div class="header-info">
            <h3>Curso de React y Redux</h3>
            <% if @valid_coupon %>
              <p class="price"><span class="old-price">$299,000</span> $149,000 <small>COP</small></p>
            <% else %>
              <p class="price">$299,000 <small>COP</small></p>
            <% end %>
          </div>
        </div>

        <div class="header-step">
          <div class="header-step-1 active"></div>
          <div class="header-step-2"></div>
          <div class="header-step-3"></div>
        </div>

        <form id="registration-form" action="/billing/charges" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

          <div class="modal-body">
            <div class="step-1">
              <p>Ingresa los datos del estudiante:</p>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" id="first-name" name="charge[first_name]" class="form-control" placeholder="Nombre">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" id="last-name" name="charge[last_name]" class="form-control" placeholder="Apellido">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="email" id="email" name="charge[email]" class="form-control" placeholder="Email" data-epayco="card[email]">
              </div>

              <p class="payment-method-title">Selecciona la forma de pago:</p>
              <div class="payment-method">
                <label class="radio-inline">
                  <input type="radio" name="charge[payment_method]" id="payment-method-card" value="credit_card" checked> Tarjeta de Crédito
                </label>
                <label class="radio-inline">
                  <input type="radio" name="charge[payment_method]" id="payment-method-deposit" value="deposit"> Transferencia o depósito
                </label>
              </div>
            </div>

            <div class="step-2" style="display: none">
              <p>Ingresa los datos de pago:</p>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span></span>
                      <input type="tel" id="card-number" class="form-control" placeholder="Número de tarjeta" data-epayco="card[number]">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                      <input type="text" id="card-name" class="form-control" placeholder="Nombre en la tarjeta" data-epayco="card[name]">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                      <input type="tel" id="card-cvc" class="form-control" placeholder="CVC" style="width: 100px;" data-epayco="card[cvc]">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                      <input type="tel" id="card-exp" class="form-control" placeholder="MM / AAAA" style="width: 120px;">
                    </div>
                  </div>
                </div>
              </div>
              <input type="hidden" id="epayco-month" data-epayco="card[exp_month]">
              <input type="hidden" id="epayco-year" data-epayco="card[exp_year]">
              <p class="secure-payment">Pago seguro a través de <a href="https://epayco.co/" target="_blank">ePayco</a></p>
            </div>

            <div class="step-3" style="display: none;">
              <div class="invoice-data">
                <p class="instructions">Ingresa los datos para la elaboración de la factura:</p>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" id="invoice-name" name="charge[customer_name]" class="form-control" placeholder="Nombre o empresa" readonly="readonly">
                      <div class="help-block"><a href="#" class="clean-invoice">Facturar a otra persona o empresa</a></div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="customer-id-type-value">C.C.</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu customer-id-type-dropdown">
                            <li><a href="#">CC</a></li>
                            <li><a href="#">CE</a></li>
                            <li><a href="#">Nit</a></li>
                            <li><a href="#">PPN</a></li>
                            <li><a href="#">SSN</a></li>
                            <li><a href="#">DNI</a></li>
                            <li><a href="#">Otro</a></li>
                          </ul>
                        </div><!-- /btn-group -->
                        <input type="text" id="customer-id" name="charge[customer_id]" class="form-control" placeholder="No. Identificación">
                        <input type="hidden" id="customer-id-type" name="charge[customer_id_type]" value="CC">
                      </div><!-- /input-group -->
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="email" id="invoice-email" name="charge[customer_email]" class="form-control" placeholder="Email" readonly="readonly">
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <select class="form-control" id="country" name="charge[customer_country]">
                        <option value="" selected>País de residencia *</option>
                        <option value="AR" data-code="54">Argentina</option>
                        <option value="BO" data-code="591">Bolivia</option>
                        <option value="CL" data-code="56">Chile</option>
                        <option value="CO" data-code="57">Colombia</option>
                        <option value="CR" data-code="506">Costa Rica</option>
                        <option value="EC" data-code="593">Ecuador</option>
                        <option value="SV" data-code="503">El Salvador</option>
                        <option value="ES" data-code="34">España</option>
                        <option value="US" data-code="1">Estados Unidos</option>
                        <option value="GT" data-code="502">Guatemala</option>
                        <option value="HN" data-code="504">Honduras</option>
                        <option value="MX" data-code="52">México</option>
                        <option value="NI" data-code="505">Nicaragua</option>
                        <option value="PA" data-code="507">Panamá</option>
                        <option value="PY" data-code="595">Paraguay</option>
                        <option value="PE" data-code="51">Perú</option>
                        <option value="PR" data-code="1">Puerto Rico</option>
                        <option value="DO" data-code="1">República Dominicana</option>
                        <option value="UY" data-code="598">Uruguay</option>
                        <option value="VE" data-code="58">Venezuela</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" id="mobile-wrapper">
                      <div class="input-group">
                        <span class="input-group-addon" id="mobile-code">+00</span>
                        <input type="tel" class="form-control" id="mobile" name="charge[customer_mobile]" placeholder="Número móvil">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" id="invoice-address" name="charge[customer_address]" class="form-control" placeholder="Dirección">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default back">&lt;&lt; Atrás</button>
            <button type="button" class="btn btn-primary btn-lg next">Continuar</button>
            <button type="button" class="btn btn-primary btn-lg finish" style="display: none;">FINALIZAR</button>
          </div>
          <% if @valid_coupon %>
            <input type="hidden" name="coupon" value="<%= @coupon.name %>">
          <% end %>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
<script type="text/javascript">
  $(document).on("ready page:load", window.initMedellinProgramPage);
  $(document).on("page:before-change", function() {
    $(document).off("ready page:load", window.initMedellinProgramPage);
  });

  $(document).on("ready page:load", function() {
    ePayco.setPublicKey('<%= ENV["EPAYCO_KEY"] %>');
    var courseLandingView = new CourseLandingView();

    $('.btn-register').on('click', function(e) {
      e.preventDefault();

      courseLandingView.render();
    });
  });
</script>
