<% content_for :head do %>
  <meta property="og:title" content="Make it Real - Becas de Inclusión" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Una oportunidad para que las minorías en tecnología ingresen a nuestros programas de desarrollo Web y hagan parte de esta revolución educativa y laboral" />
  <meta property="og:image" content="<%= image_url('multirace-hands.jpg') %>" />
<% end %>

<div class="new-site scholarships">
  <%= render "layouts/navbar/pages_white" %>
  <div class="section section-transparent scholarships-header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 program-title text-center">
          <h2>Becas de inclusión</h2>
          <p class="subhead">En Make it Real estamos comprometidos con la inclusión tecnológica. Por eso te ofrecemos esta oportunidad de ingresar a nuestros programas de desarrollo Web para que hagas parte de esta revolución educativa y laboral.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="scholarship-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          A continuación vas a encontrar las convocatorias para becas. Por favor lee muy bien los requisitos antes de aplicar:
        </div>
      </div>
    </div>
  </div>

  <div class="scholarship-list container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="scholarship">
          <h3>Beca para una mujer</h3>
          <div class="row">
            <div class="col-md-4 scholarship-detail">
              <div class="ss-label">Patrocinador</div>
              <%= image_tag 'logoFooterMir@2x.png', style: "max-width: 180px; margin-top: 5px;" %>
            </div>
            <div class="col-xs-6 col-md-4 scholarship-detail">
              <div class="ss-label">Fecha límite <span class="hidden-xs">para aplicar</span></div>
              <div class="date date-orange">
                <span class="day">24</span>
                <div class="month-year">
                  <span class="month">marzo</span>
                  <span class="year">2017</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-md-4 scholarship-detail">
              <div class="ss-label">Fecha resultados</div>
              <div class="date">
                <span class="day">29</span>
                <div class="month-year">
                  <span class="month">marzo</span>
                  <span class="year">2017</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row more-info">
            <div class="col-sm-6">
              <h4 class="text-center">Requisitos</h4>
              <ul>
                <li>Ser mujer mayor de edad.</li>
                <li>Haber empezado por su cuenta (por cursos online o estudios relacionados con Ingeniería de Sistemas).</li>
                <li>Tener un interés real por el desarrollo Web Front End.</li>
                <li>Disponer de al menos 20 horas a la semana, por ocho meses, para dedicar al programa.</li>
                <li>Disponer de acceso a un computador e Internet.</li>
              </ul>
            </div>

            <div class="col-sm-6">
              <h4 class="text-center">Tipo de Beca</h4>
              <p><strong>Completa para el programa <a href="front_end_web_developer" target="_blank">Front End Online</a>.</strong> Incluye acceso a la plataforma de aprendizaje, Slack, mentorías ilimitadas y apoyo post-programa.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-center">
              <a class="btn-register btn-cta">¡Aplica ahora!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-dark scholarship-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-8 col-md-offset-2">
            <div class="top-container">
              <h2>PATROCINA UNA BECA</h2>
              <p>Se eres una empresa o una persona y te interesa patrocinar una beca, escríbenos a <a href="mailto: info@makeitreal.camp">info@makeitreal.camp</a> y ayúdanos a que más personas puedan tener una educación que les brinde mejores oportunidades laborales.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <%= render "footer" %>
    </div>
  </div>
</div>

<div class="modal fade" id="registration-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="
        " class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Formulario de Aplicación</h4>
      </div>
      <form id="form-start-now" action="/scholarships" method="post">
        <div class="modal-body">
          <p style="margin-bottom: 20px;">Completa los siguientes campos para aplicar a la beca. Sé lo más detallada posible:</p>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" id="first-name" name="first-name" class="form-control" placeholder="Nombre">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" id="last-name" name="last-name" class="form-control" placeholder="Apellido">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input type="number" id="age" name="age" class="form-control" placeholder="Edad">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <select class="form-control" id="country" name="country">
                  <option value="" selected>País de residencia *</option>
                  <option value="AR" data-code="54">Argentina</option>
                  <option value="BO" data-code="591">Bolivia</option>
                  <option value="CL" data-code="56">Chile</option>
                  <option value="CO" data-code="57">Colombia</option>
                  <option value="CR" data-code="506">Costa Rica</option>
                  <option value="EC" data-code="593">Ecuador</option>
                  <option value="SV" data-code="503">El Salvador</option>
                  <option value="ES" data-code="34">España</option>
                  <option value="US" data-code="1">Estados Unidos</option>
                  <option value="GT" data-code="502">Guatemala</option>
                  <option value="HN" data-code="504">Honduras</option>
                  <option value="MX" data-code="52">México</option>
                  <option value="NI" data-code="505">Nicaragua</option>
                  <option value="PA" data-code="507">Panamá</option>
                  <option value="PY" data-code="595">Paraguay</option>
                  <option value="PE" data-code="51">Perú</option>
                  <option value="PR" data-code="1">Puerto Rico</option>
                  <option value="DO" data-code="1">República Dominicana</option>
                  <option value="UY" data-code="598">Uruguay</option>
                  <option value="VE" data-code="58">Venezuela</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" id="mobile-wrapper">
                <div class="input-group">
                  <span class="input-group-addon" id="mobile-code">+57</span>
                  <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Celular">
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <textarea id="application-reason" name="application_reason" rows="5" placeholder="¿Por qué estás aplicando a esta beca?" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <textarea id="experience" name="experience" rows="4" placeholder="¿Cuál es tu nivel de experiencia? Cuéntanos si has intentado programar antes, los cursos que has tomado (gratis y pagos) o si estudiaste algo relacionado con Sistemas." class="form-control"></textarea>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" id="skype" name="skype" class="form-control" placeholder="Usuario de Skype">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" id="twitter" name="twitter" class="form-control" placeholder="Twitter">
              </div>
            </div>
          </div>

          <div class="form-group">
            <textarea id="more-info" name="more_info" rows="4" placeholder="¿Algo más que nos quieras contar de ti? Puede ser un hobby, una historia que te ejemplifique o un tema que te apasione. Si tienes un blog, portafolio o LinkedIn déjanos las URL's para conocer más de ti." class="form-control"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Aplicar!</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $(document).on("ready page:load", window.initScholarshipsPage);
  $(document).on("ready page:load", function() {
    $('.btn-register').on('click', function(e) {
      e.preventDefault();

      $('#registration-modal').modal().on('shown.bs.modal', function (e) {
        $('#first-name').focus();
      });
    });
  });
  $(document).on("page:before-change", function() {
    $(document).off("ready page:load", window.initMedellinProgramPage);
  });
</script>
