<% content_for :head do %>
  <meta property="og:title" content="Make it Real - Becas de Inclusión" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Una oportunidad para que las minorías en tecnología ingresen a nuestros programas de desarrollo Web y hagan parte de esta revolución educativa y laboral" />
  <meta property="og:image" content="<%= image_url('multirace-hands.jpg') %>" />
<% end %>

<div class="new-site scholarships">
  <%= render "layouts/navbar/pages_white" %>
  <div class="section section-transparent scholarships-header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 program-title text-center">
          <h2>Becas de inclusión</h2>
          <p class="subhead">En Make it Real estamos comprometidos con las minorías en tecnología. Por eso les ofrecemos esta oportunidad de ingresar a nuestros programas de desarrollo Web para que hagan parte de esta revolución educativa y laboral.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="scholarship-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          A continuación vas a encontrar las convocatorias para becas. Por favor lee muy bien los requisitos antes de aplicar:
        </div>
      </div>
    </div>
  </div>

  <div class="scholarship-list container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="scholarship">
          <div class="scholarship-overlay">
            <h4>Beneficiarias</h4>
            <div class="row">
              <div class="col-sm-6 text-center">
                <%= image_tag "people/monica-ibarra.jpg", alt: "Mónica Ibarra", class: "img-circle" %>
                <p>Mónica Ibarra</p>
              </div>
              <div class="col-sm-6 text-center">
                <%= image_tag "people/ana-maria-sosa.jpg", alt: "Ana María Sosa", class: "img-circle" %>
                <p>Ana María Sosa</p>
              </div>
            </div>
          </div>
          <h3>Dos becas para mujeres</h3>
          <div class="row">
            <div class="col-md-4 scholarship-detail">
              <div class="ss-label">Patrocinador</div>
              <%= image_tag 'logoFooterMir@2x.png', style: "max-width: 180px; margin-top: 5px;" %>
            </div>
            <div class="col-xs-6 col-md-4 scholarship-detail">
              <div class="ss-label">Fecha límite <span class="hidden-xs">para aplicar</span></div>
              <div class="date date-orange">
                <span class="day">20</span>
                <div class="month-year">
                  <span class="month">marzo</span>
                  <span class="year">2015</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-md-4 scholarship-detail">
              <div class="ss-label">Fecha resultados</div>
              <div class="date">
                <span class="day">29</span>
                <div class="month-year">
                  <span class="month">marzo</span>
                  <span class="year">2015</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row more-info">
            <div class="col-sm-6">
              <h4 class="text-center">Requisitos</h4>
              <ul>
                <li>Ser mujer mayor de edad.</li>
                <li>Haber empezado por su cuenta (por cursos online o estudios relacionados con Ingeniería de Sistemas).</li>
                <li>Tener un interés real por el desarrollo Web Front End.</li>
                <li>Disponer de al menos 20 horas a la semana, por ocho meses, para dedicar al programa.</li>
                <li>Disponer de acceso a un computador e Internet.</li>
              </ul>
            </div>

            <div class="col-sm-6">
              <h4 class="text-center">Tipo de Beca</h4>
              <p><strong>Completa para el programa <a href="front_end_web_developer" target="_blank">Front End Online</a>.</strong> Incluye acceso a la plataforma de aprendizaje, Slack, mentorías ilimitadas y apoyo post-programa.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-dark scholarship-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-8 col-md-offset-2">
            <div class="top-container">
              <h2>PATROCINA UNA BECA</h2>
              <p>Se eres una empresa o una persona y te interesa patrocinar una beca, escríbenos a <a href="mailto: info@makeitreal.camp">info@makeitreal.camp</a> y ayúdanos a que más personas puedan tener una educación que les brinde mejores oportunidades laborales.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <%= render "footer" %>
    </div>
  </div>
</div>
