<div class="online-program">
  <div class="full-stack-js">
    <%= render "layouts/navbar/pages_transparent" %>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 program-header">
          <h1 class="text-center">TOP</h1>
          <div class="text-center program-description">Un programa inmersivo online con Node.js, MongoDB y React que puedes tomar <strong>sin costo</strong> hasta que encuentres un empleo</div>
          <div class="text-center program-icons">
            <i class="icon icon-html5-alt"></i>
            <i class="icon icon-css3-alt"></i>
            <i class="icon icon-git"></i>
            <i class="icon icon-javascript" style="font-size: 38px;"></i>
            <i class="icon icon-mongodb"></i>
            <i class="icon icon-reactjs"></i>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary btn-lg apply-now-btn">APLICA AHORA</button>
          </div>
        </div><!--/tagline-program -->
      </div>
    </div>
  </div>

  <div class="section section-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div style="padding-right: 20px;">
            <h2>¿A quién está dirigido?</h2>
            <p class="lead">Personas que han empezado a aprender por su cuenta, les gusta enfrentar nuevos retos, manejan un Inglés intermedio (mínimo B1) y desean convertirse en desarrolladores Web.</p>
          </div>
        </div>
        <div class="col-sm-5 mentors-wrapper">
          <div class="mentors">
            <p class="mentors-lead">Aprende directamente de los desarrolladores más experimentados en la industria:</p>

            <div class="mentors-list">
              <div class="mentor text-center">
                <%= image_tag "people/julian.jpg", class: "img-circle" %>
                <div class="mentor-details">Julián Duque <small>NodeSource</small></div>
              </div>
              <div class="mentor text-center">
                <%= image_tag "people/juan-gomez.png", class: "img-circle" %>
                <div class="mentor-details">Juan Gomez <small>Make it Real</small></div>
              </div>
              <div class="mentor text-center">
                <%= image_tag "people/simon.jpg", class: "img-circle" %>
                <div class="mentor-details">Simón Soriano <small>Uber</small></div>
              </div>
              <div class="mentor text-center">
                <%= image_tag "people/jaime-molina.jpg", class: "img-circle" %>
                <div class="mentor-details">Jaime Molina <small>HUGE</small></div>
              </div>
              <div class="mentor text-center">
                <%= image_tag "people/alejandro-escobar.jpg", class: "img-circle" %>
                <div class="mentor-details">Alejandro Escobar <small>Toptal</small></div>
              </div>
              <div class="mentor text-center">
                <%= image_tag "people/julian.jpg", class: "img-circle" %>
                <div class="mentor-details">Julián Duque <small>NodeSource</small></div>
              </div>
              <div class="mentor text-center">
                <%= image_tag "people/german.png", class: "img-circle" %>
                <div class="mentor-details">Germán Escobar <small>Make it Real</small></div>
              </div>
              <div class="mentor text-center">
                <%= image_tag "people/simon.jpeg", class: "img-circle" %>
                <div class="mentor-details">Simón Soriano <small>Uber</small></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-how-it-works">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div style="padding-right: 30px;">
            <h2>¿Cómo funciona?</h2>
            <p class="lead">Invertimos en un reducido número de personas y las entrenamos en las tecnologías con más demanda y mejores salarios de la actualidad.</p>
            <p class="lead">A cambio, los graduados pagan un porcentaje de su salario cuando son contratados.</p>
            <div class="works-item">
              <span class="icon icon-gears works-icon"></span>
              <div>
                <h3>Proceso de selección</h3>
                <p>Los candidatos completan una serie de entrevistas técnicas y personales para identificar a las personas con aptitudes técnicas sin importar sus estudios previos.</p>
              </div>
            </div>
            <div class="works-item">
              <span class="glyphicon glyphicon-th works-icon"></span>
              <div>
                <h3>Entrenamiento</h3>
                <p>A través de una metodología única los estudiantes adquieren las habilidades para convertirse en desarrolladores Web. El post-programa los prepara para la siguiente fase de sus vidas.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-white section-duration">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Dedicación y precio</h2>
          <p>Selecciona el tiempo y el modelo que más te convenga</p>
        </div>
        <div class="col-sm-6">
          <div class="price-wrapper">
            <div class="price-label">TOTAL</div>
            <div class="price">COP$8'900,000</div>
            <div class="price-details">* Impuestos incluidos</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="duration-option text-center">
            <header>
              <div>Opción 1</div>
              <div class="duration-time">12 semanas</div>
              <div class="commitment">40 horas/semana</div>
            </header>

            <div class="duration-body text-left">
              <div class="duration-item">
                <div class="model">
                  <h4>Modelo 1</h4>
                  <p>$0 para empezar. Pagas 17% del salario por 2 años cuando encuentres empleo.</p>
                </div>
                <div class="model">
                  <h4>Modelo 2</h4>
                  <p>Pagas el 50% para empezar (hasta en 3 cuotas durante el programa) más el 17% del salario por 1 año cuando encuentres empleo.</p>
                </div>
                <div class="model">
                  <h4>Modelo 3</h4>
                  <p>Pagas el 100% hasta en 3 cuotas durante el programa.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <div class="duration-option">
            <header>
              <div>Opción 2</div>
              <div class="duration-time">24 semanas</div>
              <div class="commitment">20 horas/semana</div>
            </header>
            <div class="duration-body text-left">
              <div class="duration-item">
                <div class="model">
                  <h4>Modelo 1</h4>
                  <p>Pagas el 50% para empezar (hasta en 3 cuotas durante el programa) más el 17% del salario por 1 año cuando encuentres empleo.</p>
                </div>
                <div class="model">
                  <h4>Modelo 2</h4>
                  <p>Pagas el 100% hasta en 3 cuotas durante el programa.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p style="font-size: 16px; margin-top: 60px;">Puedes iniciar el programa dentro de los dos siguientes meses después de haber sido aceptado(a) de acuerdo a la disponibilidad de los mentores.</p>
    </div>
  </div>

  <div class="section section-dark section-method">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Metodología</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="method-item">
            <span class="icon icon-users method-icon"></span>
            <div>
              <h3>Asignación del mentor</h3>
              <p>Cuando el estudiante ingresa se le asigna un mentor con el que se reune cada semana a través de videollamada.</p>
            </div>
          </div>

          <div class="method-item">
            <span class="glyphicon glyphicon-comment method-icon"></span>
            <div>
              <h3>Trabajo individual</h3>
              <p>Durante la semana el estudiante trabaja de manera individual y está en contacto con su mentor a través de chat.</p>
            </div>
          </div>

          <div class="method-item">
            <span class="icon icon-target method-icon"></span>
            <div>
              <h3>Post-programa</h3>
              <p>Al terminar el estudiante se prepara para encontrar empleo con entrevistas de prueba y la revisión de su portafolio.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div style="padding: 0 20px;" class="hidden-xs">
            <%= image_tag "programming.png", class: "img-responsive" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "full_stack_onsite_students" %>

  <%= render "pages/companies" %>

  <section class="section section-faq">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Preguntas frecuentes</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h3>¿Lo que me ofrecen es una beca o un préstamo?</h3>
          <p>No es ni una beca ni un préstamo. No hay cuotas fijas ni intereses. No necesitas ninguna garantía. Si eres seleccionado(a) firmamos un contrato de ingresos compartidos en el que te comprometes a darnos un porcentaje de tus ingresos por un tiempo limitado. Es una inversión en tí.</p>

          <h3>¿En qué lugar se dictan las clases?</h3>
          <p>El programa es completamente online y no hay clases de la forma tradicional. Cada semana, en la videollamada con el mentor vas a recibir el trabajo práctico que deberás completar en la siguiente semana. Durante la semana vas a estar en comunicación con tu mentor por chat para solucionar dudas e inquietudes.</p>

          <h3>¿Cuando inicia?</h3>
          <p>Una vez seas aceptado(a) puedes empezar cuando quieras dentro de los siguientes dos meses.</p>

          <h3>¿Cuánto puedo aspirar a ganar cuando termine el programa?</h3>
          <p>Depende de tus conocimientos previos. El rango está entre COP$3'500,000 y COP$6'000,000 por prestación de servicios o lo equivalente por contrato laboral.</p>

          <h3>Si decido no pagar el 100% de entrada ¿cuánto voy a pagar en total?</h3>
          <p>Depende. Bajo el contrato de ingresos compartidos te comprometes a pagar el 17% de tus ingresos laborales por uno o dos años. Sin embargo, existe un límite máximo de COP$17,500,000.</p>
        </div>
        <div class="col-sm-6">
          <h3>¿Puedo volver a aplicar si no soy aceptado(a)?</h3>
          <p>Si. Puedes volver a aplicar después del tiempo determinado por el comité de selección.</p>

          <h3>¿Cuáles son los requisitos para aplicar?</h3>
          <ul>
            <li>Ser colombiano mayor de edad.</li>
            <li>Saber lo básico de HTML, CSS y JavaScript.</li>
            <li>Disponer del tiempo para dedicar al programa.</li>
            <li>Tener mínimo un nivel intermedio de Inglés.</li>
            <li>Contar con un computador personal y conexión a Internet.</li>
          </ul>

          <h3>No soy colombiano. ¿Aún así puedo aplicar?</h3>
          <p>Puedes aplicar. Sin embargo, si eres aceptado(a) tienes que pagar al menos el 50% para empezar y el restante durante el programa.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-dark medellin-magnet">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <p class="lead" style="margin-bottom: 40px;">¿Quieres cambiar tu futuro? Las aplicaciones se encuentran abiertas!</p>
          <button class="btn btn-primary btn-register">INICIA AHORA</a>
        </div>
      </div>
    </div>
  </section>

  <%= render "footer" %>

</div>
