<% content_for :head do %>
  <meta property="og:title" content="Make it Real TOP" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Un programa inmersivo (tiempo completo) online con Node.js, MongoDB y React que puedes tomar sin costo hasta que encuentres un empleo" />
  <meta property="og:image" content="<%= image_url('top-hero.jpg') %>" />
<% end %>

<div class="top-program">
  <div class="intro">
    <%= render "layouts/navbar/pages_white" %>

    <div class="container">
      <div class="row">
        <div class="col-md-6 intro-info">
          <h1>Programa TOP</h1>
          <p>Conviértete en desarrollador Web y móvil en un programa inmersivo (tiempo completo), remoto y <strong>sin costo</strong> hasta que encuentres un empleo</p>
        </div>
        <div class="col-md-6 intro-img">
          <%= image_tag "image-header-top.png", srcset: { "image-header-top@2x.png" => "2x", "image-header-top@3x.png" => "3x" } %>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-details">
    <div class="container">
      <div class="row">
        <div>
          <div class="details-wrapper">
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <div class="text-center">
                  <div class="detail-wrapper">
                    <div class="detail-value">Jul 15, 2020</div>
                    <div class="detail-label">LÍMITE PARA APLICAR</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-4">
                <div class="text-center">
                  <div class="detail-wrapper">
                    <div class="detail-value">12 semanas</div>
                    <div class="detail-label">DURACIÓN</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="text-center">
                  <div class="detail-wrapper">
                    <div class="detail-value">60 horas/semana</div>
                    <div class="detail-label">DEDICACIÓN</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="text-center">
            <h2>¿A quién está dirigido?</h2>
            <p class="lead">Personas que han estudiado Ingeniería de Sistemas o carreras afines (Electrónica, Telecomunidaciones, Mecánica, etc.) y que manejan un Inglés intermedio.</p>
            <button type="button" class="pbtn pbtn-secondary btn-apply-now">Aplica Ahora</button>
            <p class="note">* ¿No cumples con el perfil? Conoce nuestro programa <%= link_to "Desarrollo Web Full Stack", full_stack_online_path %> (tiempo parcial).</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-white section-how-it-works">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>¿Cómo funciona?</h2>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p class="lead">Invertimos en un reducido número de personas y las entrenamos en las tecnologías con más demanda y mejores salarios de la actualidad. A cambio, los graduados pagan un porcentaje de su salario cuando son contratados.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="works-item">
                <%= image_tag "icon-proceso-top.png", srcset: { "icon-proceso-top@2x.png" => "2x", "icon-proceso-top@3x.png" => "3x" } %>
                <div class="item-info">
                  <h3>Proceso de selección</h3>
                  <p>Los candidatos completan una serie de entrevistas técnicas y personales para identificar a las personas con aptitudes técnicas sin importar sus estudios previos.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="works-item">
                <%= image_tag "icon-entrenamiento-top.png", srcset: { "icon-entrenamiento-top@2x.png" => "2x", "icon-entrenamiento-top@3x.png" => "3x" } %>
                <div class="item-info">
                  <h3>Entrenamiento</h3>
                  <p>A través de una metodología única los estudiantes adquieren las habilidades para convertirse en desarrolladores Web. El post-programa los prepara para la siguiente fase de sus vidas.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-quotes">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="duration-box">
            <div class="duration"><strong>Duración: </strong> 12 semanas</div>
            <div class="start"><strong>Fecha de Inicio:</strong> Jul 27, 2020</div>
          </div>

          <h2>Testimonios</h2>

          <div class="quotes-carousel">
            <div class="quote">
              <div class="quote-data">
                <div class="quote-name">Cristian Buitragro</div>
                <div class="quote-position">Front End Developer</div>
                <div class="quote-company">en Globant</div>
                <div class="quote-text">
                  Cuando encontré Make it Real no dudé en aplicar, es una decisión que ha impactado mi vida de manera positiva, la programación de alguna manera te da poderes, poderes de los buenos.
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-schemes">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Esquema de pago</h2>
        </div>
      </div>
      <div class="schemes">
        <div class="scheme">
          <header>Opción 1</header>
          <div class="scheme-body">
            <div class="initial">
              <div class="initial-label">Valor inicial</div>
              <div class="initial-value">COP$0</div>
            </div>
            <div class="plus">Al finalizar el programa</div>
            <div class="shared-income"><strong>17%</strong> de tus ingresos salariales por <strong>2 años</strong> cuando encuentres empleo</div>
          </div>
        </div>

        <div class="scheme">
          <header>Opción 2</header>
          <div class="scheme-body">
            <div class="initial">
              <div class="initial-label">Valor inicial</div>
              <div class="initial-value">COP$7'500,000</div>
            </div>
            <div class="plus">Al finalizar el programa</div>
            <div class="shared-income"><strong>17%</strong> de tus ingresos salariales por <strong>1 año</strong> cuando encuentres empleo</div>
          </div>
        </div>

        <div class="scheme">
          <header>Opción 3</header>
          <div class="scheme-body">
            <div class="initial">
              <div class="initial-label">Valor total</div>
              <div class="initial-value">COP$15'000,000</div>
            </div>
            <div class="plus">Único pago</div>
            <div class="shared-income">No realizarás pagos adicionales después del programa</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-method">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Un día en el programa</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-md-6">
          <div class="hidden-xs hidden-sm">
            <%= image_tag "image-un-dia-top.png", srcset: { "image-un-dia-top@2x.png" => "2x", "image-un-dia-top@3x.png" => "3x" } %>
          </div>
        </div>
        <div class="col-sm-10 col-md-6">
          <div class="method-item">
            <%= image_tag "icon-check-top.svg" %>
            <div class="method-hour">8:30am - 10:00am</div>
            <div class="method-description">Iniciamos el día con una charla y solución de dudas.</div>
          </div>

          <div class="method-item">
            <%= image_tag "icon-check-top.svg" %>
            <div class="method-hour">10:00am - 12:30pm</div>
            <div class="method-description">Trabajo práctico individual o en parejas. Trabajarás en los ejercicios y proyectos asignados con el apoyo de los mentores.</div>
          </div>

          <div class="method-item">
            <%= image_tag "icon-check-top.svg" %>
            <div class="method-hour">2:30pm - 3:30pm</div>
            <div class="method-description">Nos reunimos nuevamente para solucionar dudas y/o realizar una charla.</div>
          </div>
          <div class="method-item">
            <%= image_tag "icon-check-top.svg" %>
            <div class="method-hour">3:30pm - 6:30pm</div>
            <div class="method-description">Trabajo práctico individual o en parejas con el apoyo de los mentores.</div>
          </div>
          <div class="method-item">
            <%= image_tag "icon-check-top.svg" %>
            <div class="method-hour">6:30pm - 8:30pm</div>
            <div class="method-description">Estudio individual del contenido asignado.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-white section-curriculum">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2>Currículo</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="subject">
            <h3>Algoritmos</h3>
            <p>Pseudocódigo, complejidad, recursión, ordenamiento y búsqueda, y programación dinámica, entre otros.</p>
          </div>
          <div class="subject">
            <h3>Estructuras de datos</h3>
            <p>Aprenderás a crear y a utilizar estructuras de datos como pilas, colas, árboles y grafos en tus algoritmos.</p>
          </div>
          <div class="subject">
            <h3>HTML y CSS avanzado</h3>
            <p>Mejores prácticas, media queries, sombras, gradientes, transformaciones, transiciones, animaciones, Flexbox y CSS Grids, entre otros.</p>
          </div>
          <div class="subject">
            <h3>JavaScript avanzado</h3>
            <p>Prototipos, uso de this, scopes, closures, hoisting, ES2015, programación funcional, programación asincrónica, librerías y testing, entre otros</p>
          </div>
          <div class="subject">
            <h3>Node.js y Express</h3>
            <p>Event loop, Node.js internals, HTTP, Express: rutas, vistas, middlewares, manejo de errores, formularios, cookies, sesiones, JSON, Web Sockets, herramientas de desarrollador y canvas.</p>
          </div>
          <div class="subject">
            <h3>MongoDB</h3>
            <p>Mongo Shell, Mongoose, diseño de bases de datos.</p>
          </div>
          <div class="subject">
            <h3>React</h3>
            <p>Virtual DOM, JSX, componentes, estado, formularios, peticiones HTTP, router, hooks, Context API, Redux.</p>
          </div>
          <div class="subject">
            <h3>GraphQL</h3>
            <p>Schemas, consultas, mutaciones, validación, Apollo Client, integración con React.</p>
          </div>
          <div class="subject">
            <h3>React Native</h3>
            <p>Instalación, componentes, navegación, formularios, cámara, mapas y GPS, HTTP, App Stores, entre otros.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="mentors"></a>
  <div class="section section-bordered section-mentors">
    <div class="container">
      <h2>Nuestros mentores</h2>

      <div class="row">
        <div class="col-sm-6">
          <div class="profile-image text-center">
            <%= image_tag "people/german-escobar.png" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="profile">
            <h3>Germán Escobar</h3>
            <p>Programador y emprendedor con una <a href="http://germanescobar.com/2014/06/02/la-nueva-educacion/" target="_blank">visión particular de la educación</a>. Co-fundador de <a href="http://elibom.com/?utm_source=full-stack-medellin&utm_medium=web&utm_campaign=Make%20it%20Real" target="_blank">elibom.com</a> y fundador de <a href="http://www.makeitreal.camp/?utm_source=aprende-desarrollo-web&utm_medium=web&utm_campaign=inbound" target="_blank">makeitreal.camp</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section section-white section-faq">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Preguntas frecuentes</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h3>¿Lo que me ofrecen es una beca o un préstamo?</h3>
          <p>No es ni una beca ni un préstamo. No hay cuotas fijas ni intereses. No necesitas ninguna garantía. Si eres seleccionado(a) se firma un acuerdo de ingresos compartidos en el que te comprometes a pagar un porcentaje de tus ingresos por un tiempo limitado. Es una inversión en tí.</p>

          <h3>¿En qué lugar se dictan las clases?</h3>
          <p>El programa es completamente online y las charlas se realizan a través de video llamada.</p>

          <h3>¿Existe algún costo que deba pagar durante el curso?</h3>
          <p>Debes pagar la cultura de pago de COP$50,000 mensuales mientras estés durante el curso y mientras encuentras trabajo.</p>

          <h3>¿Cuánto puedo aspirar a ganar cuando termine el programa?</h3>
          <p>Depende de tus conocimientos previos. El rango está entre COP$4'000,000 y COP$6'000,000 por prestación de servicios o lo equivalente por contrato laboral.</p>

          <h3>Si decido no pagar el 100% de entrada ¿cuánto voy a pagar en total?</h3>
          <p>Depende. Bajo el contrato de ingresos compartidos te comprometes a pagar el 17% de tus ingresos laborales por uno o dos años. Sin embargo, existe un límite máximo de COP$17,500,000.</p>
        </div>
        <div class="col-sm-6">
          <h3>¿Puedo volver a aplicar si no soy aceptado(a)?</h3>
          <p>Si. Puedes volver a aplicar después del tiempo determinado por el comité de selección.</p>

          <h3>¿Cuáles son los requisitos para aplicar?</h3>
          <ul>
            <li>Ser colombiano mayor de edad.</li>
            <li>Saber lo básico de HTML, CSS y JavaScript.</li>
            <li>Disponer del tiempo para dedicar al programa.</li>
            <li>Manejar un nivel intermedio de Inglés.</li>
            <li>Contar con un computador personal y conexión a Internet.</li>
          </ul>

          <h3>No soy colombiano. ¿Aún así puedo aplicar?</h3>
          <p>Puedes aplicar. Sin embargo, si eres aceptado(a) tienes que pagar al menos el 50% para empezar y el restante durante el programa.</p>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-push-7">
          <div class="social-icons">
            <a href="https://facebook.com/makeitrealcamp" target="_blank"><%= image_tag "icon-facebook.svg" %></a>
            <a href="https://twitter.com/makeitrealcamp" target="_blank"><%= image_tag "icon-twitter.svg" %></a>
            <a href="http://instagram.com/makeitrealcamp" target="_blank"><%= image_tag "icon-instagram.svg" %></a>
            <a href="https://www.youtube.com/channel/UCcHBDdSPzOaWMsLFyO_HJYw" target="_blank"><%= image_tag "icon-youtube.svg" %></a>
          </div>
        </div>
        <div class="col-sm-7 col-sm-pull-5">
          <div class="rights">
            © Todos los derechos reservados. Make it Real es una marca de La Nueva Educación.
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="modal fade" id="application-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Formulario de aplicación</h4>
        </div>

        <div class="header-step">
          <div class="header-step-1 active"></div>
          <div class="header-step-2"></div>
          <div class="header-step-3"></div>
        </div>

        <form id="application-form" action="/application/top" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

          <div class="modal-body">
            <div class="step-1">
              <p style="margin-bottom: 18px;"><strong>¡Gracias por tu interés en el programa TOP!</strong> Antes de empezar asegúrate que cumples con los siguientes requisitos:</p>
              <ul>
                <li>
                  Sabes lo básico de HTML, CSS y JavaScript.
                  <small>Eres capaz de crear una página Web desde cero y conoces conceptos de programación como variables, condicionales, iteraciones, arreglos y funciones, entre otros.</small>
                </li>
                <li>
                  Dispones del tiempo para realizar el programa.
                  <small>El programa requiere una dedicación mínima de 60 horas por semana durante 12 semanas.</small>
                </li>
                <li>
                  Manejas un nivel intermedio de Inglés.
                  <small>Al menos debes entenderlo hablado y escrito, y puedes defenderte de forma básica.</small>
                </li>
              </ul>
              <p style="margin-top: 25px; margin-bottom: 18px;">Si no puedes pagar la totalidad del programa debes cumplir además con el siguiente requisito:</p>
              <ul>
                <li>
                  Eres residente colombiano(a) mayor de edad.
                  <small>Debes poder trabajar en Colombia y vivir, o poderte trasladar, a alguna de las ciudades principales.</small>
                </li>
              </ul>
              <div class="checkbox" style="margin-top: 30px;">
                <label>
                  <input type="checkbox" id="terms" name="applicant[accepted_terms]"> He leído y afirmo que cumplo con los requisitos para aplicar
                </label>
              </div>
            </div>
            <div class="step-2" style="display: none">
              <p style="margin-bottom: 20px;">Completa la siguiente información:</p>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" id="first-name" name="applicant[first_name]" class="form-control" placeholder="Nombres">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" id="last-name" name="applicant[last_name]" class="form-control" placeholder="Apellidos">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="email" id="email" name="applicant[email]" class="form-control" placeholder="Email" data-epayco="card[email]">
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="birthday">Fecha de nacimiento</label>
                    <input type="text" id="birthday" name="applicant[birthday]" class="form-control" placeholder="dd/mm/aaaa" data-datetimepicker="true">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="gender">Género</label>
                    <select id="gender" class="form-control" name="applicant[gender]">
                      <option value="">Selecciona</option>
                      <option value="male">Hombre</option>
                      <option value="female">Mujer</option>
                      <option value="other">Otro</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="country">País de residencia</label>
                    <select class="form-control" id="country" name="applicant[country]">
                      <option value="" selected>Selecciona</option>
                      <option value="AR" data-code="54">Argentina</option>
                      <option value="BO" data-code="591">Bolivia</option>
                      <option value="CL" data-code="56">Chile</option>
                      <option value="CO" data-code="57">Colombia</option>
                      <option value="CR" data-code="506">Costa Rica</option>
                      <option value="EC" data-code="593">Ecuador</option>
                      <option value="SV" data-code="503">El Salvador</option>
                      <option value="ES" data-code="34">España</option>
                      <option value="US" data-code="1">Estados Unidos</option>
                      <option value="GT" data-code="502">Guatemala</option>
                      <option value="HN" data-code="504">Honduras</option>
                      <option value="MX" data-code="52">México</option>
                      <option value="NI" data-code="505">Nicaragua</option>
                      <option value="PA" data-code="507">Panamá</option>
                      <option value="PY" data-code="595">Paraguay</option>
                      <option value="PE" data-code="51">Perú</option>
                      <option value="PR" data-code="1">Puerto Rico</option>
                      <option value="DO" data-code="1">República Dominicana</option>
                      <option value="UY" data-code="598">Uruguay</option>
                      <option value="VE" data-code="58">Venezuela</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group" id="mobile-wrapper">
                    <label for="mobile">&nbsp;</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="mobile-code">+00</span>
                      <input type="tel" class="form-control" id="mobile" name="applicant[mobile]" placeholder="Número móvil">
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <input type="text" name="applicant[url]" class="form-control" placeholder="LinkedIn URL">
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="payment-method">Esquema de pago</label>
                    <select id="payment-method" class="form-control" name="applicant[payment_method]">
                      <option value="">Selecciona</option>
                      <option value="scheme-1">Esquema 1 - $0 de entrada + 17% de ingresos (2 años)</option>
                      <option value="scheme-2">Esquema 2 - $7.5M de entrada + 17% de ingresos (1 año)</option>
                      <option value="scheme-3">Esquema 3 - $15M de entrada</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="step-3" style="display: none;">
              <p style="margin-bottom: 20px;">Please provide us with answers to the following questions in <strong>English</strong>:</p>
              <div class="form-group">
                <label for="goal">Why are you interested in applying to the program?</label>
                <textarea id="goal" name="applicant[goal]" class="form-control" rows="3" placeholder="What's your motivation? What's your goal?"></textarea>
              </div>
              <div class="form-group">
                <label for="experience">What is your current programming knowledge?</label>
                <textarea id="experience" name="applicant[experience]" class="form-control" rows="3" placeholder="Tell us what is your profession, courses you have completed, previous knowledge, personal projects, etc."></textarea>
              </div>
              <div class="form-group">
                <label for="additional">Is there anything else we should know about you?</label>
                <textarea id="additional" name="applicant[additional]" class="form-control" rows="3" placeholder="A hobby, an anecdote or a personal achivement"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default back">&lt;&lt; Atrás</button>
            <button type="button" class="btn btn-primary btn-lg next">Continuar</button>
            <button type="button" class="btn btn-primary btn-lg finish" style="display: none;">FINALIZAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on("turbolinks:load", function() {
    var topProgramView = new TopProgramView();

    $('.apply-now-btn').on('click', function(e) {
      e.preventDefault();
      topProgramView.render();
    });
  });
</script>
