<% content_for :head do %>
  <meta property="og:title" content="Make It Real TOP" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Un programa en Node.js, Express, MongoDB y React, que puedes tomar sin costo hasta que encuentres un empleo"/>
  <meta property="og:image" content="<%= image_url('top-inclusion-diversidad.png') %>" />
<% end %>

<div class="top-program">
  <div class="intro">
  <%= render "layouts/navbar/pages_white" %>

    <div class="container">
      <div class="row">
        <div class="col-md-6 intro-info">
          <h1>Programa TOP</h1>
          <p>Mejora tus habilidades como desarrollador(a) Web o móvil y <strong>paga cuando encuentres empleo</strong></p>
          <p><small>Clases en vivo, remotas, con mentores de la industria</small></p>
        </div>
        <div class="col-md-6 intro-img">
          <div class="intro-video">
            <script src="https://fast.wistia.com/embed/medias/ixg7rv2y15.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_ixg7rv2y15 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/ixg7rv2y15/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-details">
    <div class="container">
      <div class="row">
        <div>
          <div class="details-wrapper">
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <div class="text-center">
                  <div class="detail-wrapper">
                    <div class="detail-value">92%</div>
                    <div class="detail-label">UBICACIÓN LABORAL</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-4">
                <div class="text-center">
                  <div class="detail-wrapper">
                    <div class="detail-value"><span data-holder="salary-range"/></div>
                    <div class="detail-label">INGRESO MENSUAL PROMEDIO<span style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Incluyendo prestaciones sociales de ley">*</span></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="text-center">
                  <div class="detail-wrapper">
                    <div class="detail-value">6 semanas</div>
                    <div class="detail-label">PROMEDIO UBICACIÓN</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="text-center">
            <h2>¿A quién está dirigido?</h2>
            <p class="lead">Personas con conocimientos básicos en programación que deseen encontrar un empleo o mejorar sus ingresos en la industria tech.</p>
            <button type="button" class="pbtn pbtn-secondary apply-now-btn">Aplica Ahora</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-white section-how-it-works">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 ">
          <%= render "pages/companies2" %>
          <h2>¿Cómo funciona?</h2>
          <div class="steps">
            <div class="row">
              <div class="col-sm-6 step-item">
                <div class="circle">1</div>
                <div class="item-description">
                  <h3>Aplica</h3>
                  <p>Cuéntanos en detalle acerca de ti y las razones por las que quieres convertirte en Full Stack Developer.</p>
                </div>
              </div>
              <div class="col-sm-6 step-item">
                <div class="circle">2</div>
                <div class="item-description">
                  <h3>Prepárate</h3>
                  <p>Si tienes el perfil, te invitaremos al curso de <strong>Aspirantes TOP</strong>, donde pondrás a prueba tu capacidad de aprendizaje para participar en el Programa TOP.</p>
                  <small>No se requiere de conocimientos previos. *</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 step-item">
                <div class="circle">3</div>
                <div class="item-description">
                  <h3>Entrena</h3>
                  <p>Si superas el curso de Aspirantes TOP, <strong>iniciarás tu entrenamieto</strong> para acelerar tu carrera como Full Stack Developer de la mano de los mentores técnicos, de habilidades blandas e inglés.</p>
                </div>
              </div>
              <div class="col-sm-6 step-item">
                <div class="circle">4</div>
                <div class="item-description">
                  <h3>Empléate</h3>
                  <p>Al terminar tu acompañamiento técnico, encuentra tu mejor empleo para ti con el apoyo de expertos de la industria en colocacion laboral y habilidades blandas.</p>
                </div>
              </div>
            </div>
            <div>
              <p>Desde el 2014 Formamos e invertimos en las personas que quieren convertirse en developers profesionales.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-formats">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Modalidades</h2>

          <div class="formats">
            <div class="format">
              <div class="format-header">Tiempo Completo</div>
              <div class="format-body">
                <div class="format-item">
                  <div class="format-label">Fecha Inicio</div>
                  <div class="format-value">Ene 30, 2023</div>
                </div>
                <div class="format-item">
                  <div class="format-label">Duración</div>
                  <div class="format-value">15 semanas</div>
                </div>
                <div class="format-item">
                  <div class="format-label">Horario</div>
                  <div class="format-value">Lunes a Viernes de 8:30am a 6:30pm</div>
                </div>
                <div class="format-item">
                  <div class="format-label"><a href="#" data-toggle="modal" data-target="#format-full">Ver Detalles</a></div>
                </div>
              </div>
              <div class="format-footer">
                <button type="button" class="pbtn apply-now-btn">Aplica Ahora</button>
              </div>
            </div>
            <div class="format">
              <div class="format-header">Tiempo Parcial</div>
              <div class="format-body">
                <div class="format-item">
                  <div class="format-label">Fecha Inicio</div>
                  <div class="format-value">Ene 30, 2023</div>
                </div>
                <div class="format-item">
                  <div class="format-label">Duración</div>
                  <div class="format-value">30 semanas</div>
                </div>
                <div class="format-item">
                  <div class="format-label">Horario</div>
                  <div class="format-value">Lunes a Viernes de 6pm a 8pm</div>
                </div>
                <div class="format-item">
                  <div class="format-label"><a href="#" data-toggle="modal" data-target="#format-partial">Ver Detalles</a></div>
                </div>
              </div>
              <div class="format-footer">
                <button type="button" class="pbtn apply-now-btn">Aplica Ahora</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="application-deadline">
        <p>Fecha límite para aplicar Ene 13, 2023</p>
      </div>
    </div>
  </div>

  <div class="section section-white section-quotes">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Testimonios</h2>

          <div class="owl-carousel">
            <div class="quote">
              <div class="row">
                <div class="col-md-5 col-md-offset-1">
                  <div class="quote-image">
                    <%= image_tag "people/mixer-gutierrez.jpg", alt: "Mixer Gutierrez", class: "img-circle" %>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="quote-data">
                    <div class="quote-name">Mixer Gutierrez</div>
                    <div class="quote-position">Tech Lead</div>
                    <div class="quote-company">en La Haus</div>
                    <div class="quote-text">
                      Desarrollar software literalmente te cambia la vida y Make it Real me brindó la oportunidad de entrar a este mundo. Experiencia inolvidable!
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="quote">
              <div class="row">
                <div class="col-md-5 col-md-offset-1">
                  <div class="quote-image">
                    <%= image_tag "people/miguel-casas.jpg", alt: "Miguel Casas", class: "img-circle" %>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="quote-data">
                    <div class="quote-name">Miguel Casas</div>
                    <div class="quote-position">Full Stack Developer</div>
                    <div class="quote-company">en Auth0</div>
                    <div class="quote-text">
                      Nunca esperé aprender tanto, cambiar la visión de la programación y la orientación de mi vida en tan poco tiempo.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="quote">
              <div class="row">
                <div class="col-md-5 col-md-offset-1">
                  <div class="quote-image">
                    <%= image_tag "people/sebastian-zapata.png", alt: "Sebastián Zapata", class: "img-circle" %>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="quote-data">
                    <div class="quote-name">Sebastián Zapata</div>
                    <div class="quote-position">Full Stack Developer</div>
                    <div class="quote-company">en Zillow Group</div>
                    <div class="quote-text">
                      En Make it Real logré cosas que nunca habría imaginado hacer. Fue una de las experiencias más intensas y desafiantes de toda mi vida.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="quote">
              <div class="row">
                <div class="col-md-5 col-md-offset-1">
                  <div class="quote-image">
                    <%= image_tag "people/alejandro-escobar.jpg", alt: "Alejandro Escobar", class: "img-circle" %>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="quote-data">
                    <div class="quote-name">Alejandro Escobar</div>
                    <div class="quote-position">Full Stack Developer</div>
                    <div class="quote-company">en Docketwise</div>
                    <div class="quote-text">
                      En Make it Real se adquieren los conocimientos necesarios para aprovechar las oportunidades del mundo actual.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-curriculum">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2>Currículo</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="subject">
            <h3>Diseño de aplicaciones y metodologías ágiles</h3>
            <p>PMV (Producto Mínimo Viable), Scrum, historias de usuario, wireframing, Git, GitFlow, diseño de bases de datos.</p>
          </div>
          <div class="subject">
            <h3>HTML y CSS avanzado</h3>
            <p>Mejores prácticas, media queries, sombras, gradientes, transformaciones, transiciones, animaciones, Flexbox y CSS Grids, entre otros.</p>
          </div>
          <div class="subject">
            <h3>JavaScript avanzado</h3>
            <p>Prototipos, uso de this, scopes, closures, hoisting, ES2015, programación funcional, programación asincrónica, librerías y testing, herramientas de desarrollador y canvas, entre otros.</p>
          </div>
          <div class="subject">
            <h3>Node.js y Express</h3>
            <p>Event loop, Node.js internals, HTTP, Express: rutas, vistas, middlewares, manejo de errores, formularios, cookies, sesiones, JSON, Web Sockets.</p>
          </div>
          <div class="subject">
            <h3>MongoDB</h3>
            <p>Mongo Shell, Mongoose, Mongo Atlas.</p>
          </div>
          <div class="subject">
            <h3>React</h3>
            <p>Virtual DOM, JSX, componentes, estado, formularios, peticiones HTTP, router, hooks, Context API, Redux.</p>
          </div>
          <div class="subject">
            <h3>DevOps</h3>
            <p>Docker, Kubernetes, CI/CD con Github Actions, Heroku, Vercel, introducción a AWS.</p>
          </div>
          <div class="subject">
            <h3>GraphQL</h3>
            <p>Schemas, consultas, mutaciones, validación, Apollo Client, integración con React.</p>
          </div>
          <div class="subject">
            <h3>React Native</h3>
            <p>Instalación, componentes, navegación, formularios, cámara, mapas y GPS, HTTP, App Stores, entre otros.</p>
          </div>
          <div class="subject">
            <h3>Inglés técnico y coaching profesional </h3>
            <p>Recibirás acompañamiento especializado para fortalecer tu nivel de inglés y las habilidades no técnicas necesarias para conseguir los mejores trabajos como desarrollador(a)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="mentors"></a>
  <div class="section section-bordered section-white section-mentors">
    <div class="container">
      <h2>Nuestros mentores</h2>

      <div class="mentors-wrapper owl-carousel">
        <%= render "pages/full_stack_js_mentors" %>

        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="profile-image text-center">
              <%= image_tag "people/cristian-moreno-gray.jpg" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="profile">
              <h3>Cristian Moreno</h3>
              <p>JavaScript Developer y community builder. Co-organizador y speaker del <a href="https://www.meetup.com/MedellinJS/" target="_blank">Meetup MedellinJS</a>, Lead Mentor en <a href="https://makeitreal.camp/" target="_blank">Make It Real</a>.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="profile-image text-center">
              <%= image_tag "people/german-escobar.png" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="profile">
              <h3>Germán Escobar</h3>
              <p>Programador y emprendedor. Fundador de <a href="http://www.makeitreal.camp/" target="_blank">Make it Real</a> y co-fundador de <a href="http://masiv.com/?ref=makeitreal" target="_blank">Elibom (ahora Masivian)</a>.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section section-schemes">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Esquema de pago</h2>
          <p class="payment-options">Una vez seas aceptado(a) al programa, puedes escoger el esquema de pago que prefieras.</p>
        </div>
      </div>
      <div class="row">
        <div class="schemes">
          <div class="scheme">
            <div class="scheme-body">
              <div class="initial"><strong>Paga al inicio</strong></div>
              <div class="shared-income"><strong><span data-holder="scheme-3-value"></strong>
                <p class="scheme-max-payment">No realizarás pagos adicionales después de finalizar el programa</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="schemes">
            <div class="scheme">
              <div class="scheme-body">
                <div class="initial"><strong>Paga por cuotas</strong></div>
                <div class="shared-income">
                  <p class="scheme-max-payment">Difiere tu pago de 2 a 24 cuotas. Consulta las opciones con nuestros asesores académicos.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="schemes">
            <div class="scheme">
              <div class="scheme-body">
                <div class="initial"><strong>Paga cuando encuentres empleo</strong></div>
                <div class="shared-income">
                  <p class="scheme-max-payment">Empiezas a pagar con el 17% de tu salario mensual cuando consigas empleo</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section section-faq">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Preguntas frecuentes</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="question">
            <h3>¿Cómo es el proceso de selección?</h3>
            <p>Primero debes llenar el formulario de aplicación en <a href="#" class="apply-now-btn">este enlace</a>.</p>
            <p>Si cumples los requisitos y el perfil te enviaremos una prueba de programación que podrás resolver en tu lenguaje de preferencia (JavaScript, Ruby, Python, PHP, Java, C++ o C#).</p>
            <p>Luego tendrás una llamada no técnica, entre otras cosas para medir tu nivel de Inglés. Por último, deberás presentar una prueba técnica en vivo para validar tus conocimientos.</p>
          </div>

          <div class="question">
            <h3>¿En qué lugar se dictan las clases?</h3>
            <p>El programa es completamente remoto y las clases se realizan a través de video llamada.</p>
          </div>

          <div class="question">
            <h3>¿Cuánto puedo aspirar a ganar cuando termine el programa?</h3>
            <p>Depende de tus conocimientos previos. El salario promedio de un egresado está en <span data-holder="salary-range"> incluyendo prestaciones sociales de ley.</p>
          </div>

          <div class="question">
            <h3>¿Puedo volver a aplicar si no soy aceptado(a)?</h3>
            <p>Si. Puedes volver a aplicar.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="question">
            <h3>¿Cuáles son los requisitos para aplicar al TOP?</h3>
            <ul>
              <li>Tener conocimientos básicos de programación. Debes saber conceptos como variables, ciclos, condicionales, arreglos y funciones (en cualquier lenguaje), y entender cómo funcionan.</li>
              <li>Disponer del tiempo para dedicar al programa en la modalidad que elijas.</li>
              <li>Manejar un nivel básico de Inglés.</li>
              <li>Contar con un computador personal y conexión a Internet.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render "pages/footer" %>

  <div class="modal fade format-modal" id="format-full" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modalidad Tiempo Completo</h4>
        </div>
        <div class="modal-body learn-more">
          <p>Esta modalidad se divide en tres fases:</p>

          <div class="formats">
            <h3>
              1. Onboarding
              <small>DURACIÓN: 3 semanas</small>
            </h3>
            <p>En esta fase de preparación realizarás retos y avanzarás en el contenido con el apoyo de mentores.</p>

            <h3>
              2. Fase Principal
              <small>DURACIÓN: 12 semanas</small>
            </h3>
            <p>En esta fase profundizarás en cada uno de los temas con la guía y el apoyo de mentores experimentados, empezarán los proyectos grupales e individuales. Además tendrás dos horas de inglés a la semana y una hora de coaching (habilidades blandas, preparación para entrevistas, etc.) a la semana.</p>

            <h3>
            3. Postprograma
              <small>DURACIÓN: 2 años</small>
            </h3>
            <p>Te compartiremos las ofertas de trabajo disponibles para que apliques y te acompañaremos con asesoría en la negociación y apoyo técnico para que consigas el mejor empleo para ti. Además seguirás teniendo apoyo de mentores y acompañamiento cuando pierdas o quieras cambiar el empleo.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade format-modal" id="format-partial" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modalidad Tiempo Parcial</h4>
        </div>
        <div class="modal-body learn-more">
          <p>Esta modalidad se divide en tres fases:</p>

          <div class="formats">
            <h3>
              1. Onboarding
              <small>DURACIÓN: 6 semanas</small>
            </h3>
            <p>En esta fase de preparación realizarás retos y avanzarás en el contenido con el apoyo de mentores.</p>

            <h3>
              2. Fase Principal
              <small>DURACIÓN: 24 semanas</small>
            </h3>
            <p>En esta fase profundizarás en cada uno de los temas con la guía y el apoyo de mentores experimentados, empezarán los proyectos grupales e individuales. Además tendrás dos horas de inglés cada 15 días y una hora de coaching (habilidades blandas, preparación para entrevistas, etc.) cada 15 días.</p>

            <h3>
            3. Postprograma
              <small>DURACIÓN: 2 años</small>
            </h3>
            <p>Te compartiremos las ofertas de trabajo disponibles para que apliques y te acompañaremos con asesoría en la negociación y apoyo técnico para que consigas el mejor empleo para ti. Además seguirás teniendo apoyo de mentores y acompañamiento cuando pierdas o quieras cambiar el empleo.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="application-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Formulario de aplicación</h4>
        </div>

        <div class="modal-wrapper">
          <div class="accept-terms-step">
            <div class="modal-body">
              <div class="roadmap">
                <div class="roadmap-item">
                  <div class="circle">1</div>
                  <div class="item-description">
                    <h4>Aplica</h4>
                    <p>Cuéntanos en detalle acerca de ti y las razones por las que quieres convertirte en Full Stack Developer.</p>
                  </div>
                </div>
                <div class="roadmap-item">
                  <div class="circle">2</div>
                  <div class="item-description">
                    <h4>Prepárate</h4>
                    <p>Si tienes el perfil, te invitaremos al curso de <strong>Aspirantes TOP</strong>, donde pondrás a prueba tu capacidad de aprendizaje para participar en el Programa TOP.</p>
                    <small>No se requiere de conocimientos previos. *</small>
                  </div>
                </div>
                <div class="roadmap-item">
                  <div class="circle">3</div>
                  <div class="item-description">
                    <h4>Entrena</h4>
                    <p>Si superas el curso de Aspirantes TOP, <strong>iniciarás tu entrenamieto</strong> para acelerar tu carrera como Full Stack Developer de la mano de los mentores técnicos, de habilidades blandas e inglés.</p>
                  </div>
                </div>
                <div class="roadmap-item">
                  <div class="circle">4</div>
                  <div class="item-description">
                    <h4>Empléate</h4>
                    <p>Al terminar tu acompañamiento técnico, encuentra tu mejor empleo para ti con el apoyo de expertos de la industria en colocacion laboral y habilidades blandas.</p>
                  </div>
                </div>
              </div>
              <div class="checkbox" style="margin-top: 50px;">
                <label>
                  <input type="checkbox" id="terms" name="applicant[accepted_terms]"> Autorizo el uso de mis datos de acuerdo a la <a href="<%= privacy_policy_path %>">Política de Tratamiento de Información</a>
                </label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary btn-lg accept-terms-btn">Siguiente</button>
            </div>
          </div>
            
          <%= form_for TopInvitation.new, html: { class: "enter-email-step", style: "display:none" }, remote: true do |f| %>
            <div class="modal-body">
              <p style="margin-bottom: 20px;">Para empezar ingresa tu email:</p>
              <div class="form-group">
                <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-lg send-email-btn">Siguiente</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if params[:video] %>
  <script src="https://fast.wistia.com/embed/medias/ixg7rv2y15.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_ixg7rv2y15 popover=true popoverShowOnLoad=true popoverContent=link" style="display:inline;position:relative"><a href="#">&nbsp;</a></span>
<% end %>


<script type="text/javascript">
  $(document).on("turbolinks:load", function() {
    new TopProgramView();
  });
</script>
