<div class="new-site web-developer-guide">
  <%= render "layouts/navbar/pages_dark", hide_login: true %>
  <section class="section section-book">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center col-md-push-6">
          <%= image_tag "image-libro.png", srcset: { "image-libro@2x.png" => "2x", "image-libro@3x.png" => "3x" } %>
        </div>
        <div class="col-md-6 col-md-pull-6">
          <% if @email_sent %>
            <div class="alert alert-info" role="alert"><strong>¡Muchas gracias! Tu libro va en camino</strong> En unos minutos recibirás un correo con el link de descarga. Esperamos que lo disfrutes y lo aproveches al máximo!</div>
            <div class="text-center"><%= link_to "Volver a la página principal", root_path %></div>
          <% else %>
            <p class="description">Conoce qué hace un Desarrollador Web, qué tecnologías debe aprender, cómo consigue su primer empleo y por dónde empieza su aprendizaje. <strong>Descarga este e-book completamente gratis</strong>!</p>

            <%= form_tag do %>
              <%= render "capture_email_form", autofocus: true %>
              <div>
                <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Descargar e-book</button>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <%= render "footer" %>
</div>
