<p>Hola Nico,</p>

<p>Una persona aplicó a la beca <strong>Mujeres Full Stack</strong>. Sus datos son los siguientes:</p>

<ul>
  <li><strong>Nombre:</strong> <%= @data[:person][:first_name] %></li>
  <li><strong>Apellido:</strong> <%= @data[:person][:last_name] %></li>
  <li><strong>Email:</strong> <%= @data[:person][:email] %></li>
  <li><strong>Fecha de nacimiento:</strong> <%= @data[:person][:birthday] %></li>
  <li><strong>País:</strong> <%= @data[:person][:country_code] %></li>
  <li><strong>Móvil:</strong> <%= @data[:person][:mobile] %></li>
  <li><strong>Razón para aplicar:</strong> <%= @data[:metadata][:application_reason] %></li>
  <li><strong>URL:</strong> <%= @data[:metadata][:more_info_url] %></li>
  <li><strong>Fuente:</strong> <%= @data[:person][:source] %></li>
</ul>

<p>&nbsp;</p>
<p>Cordial Saludo,</p>

<p class="signature">Plataforma de Aprendizaje<br>
makeitreal.camp</p>
