<p>Hola Nico,</p>

<p>Un nuevo lead se registró en el programa <strong><%= @program %></strong>. Sus datos son los siguientes:</p>

<ul>
  <li><strong>Nombre:</strong> <%= @first_name %></li>
  <li><strong>Apellido:</strong> <%= @last_name %></li>
  <li><strong>Email:</strong> <%= @email %></li>
  <li><strong>País:</strong> <%= @country %></li>
  <li><strong>Móvil:</strong> <%= @mobile %></li>
  <li><strong>Fuente:</strong> <%= @source %></li>
</ul>

<p>&nbsp;</p>
<p>Cordial Saludo,</p>

<p class="signature">Plataforma de Aprendizaje<br>
makeitreal.camp</p>
