<% breadcrumb :project, @project %>

<div class="container-fluid project default-top-padding">
  <div class="row">
    <div class="col-xs-12 col-md-6 expand">
      <div class="project-info">
        <div class="project-header">
          <%= @project.name %>
          <span class="label label-default points-label"><%= @project.point_value %> puntos</span>
        </div>
        <div class="project-body">
          <% unless @project.explanation_video_url.blank? %>
            <div class="video-wrapper">
              <%= embedded_video(@project.explanation_video_url, user: current_user) %>
            </div>
          <% end %>
          <div class="project-explanation">
            <%= markdown @project.explanation_text %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 expand">
      <div class="solution-form">
        <%= render "project_solutions/form" %>
      </div>

      <% unless @project_solution.new_record? %>
        <%= render "comments/embedded", commentable: @project_solution, questions: [""] %>
      <% end %>
    </div>
  </div>
</div>
