<div class="container-fluid project">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to course_path(@project.course, anchor: "projects"), class: "btn btn-link" do %>
        <span class='glyphicon glyphicon-arrow-left'></span>
        <span class='hidden-xs'>Volver a <strong><%= @project.course.name %></strong></span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 expand">
      <h1><%= @project.name %></h1>
      <% unless @project.explanation_video_url.blank? %>
        <div class="video-wrapper">
          <%= embedded_video(@project.explanation_video_url) %>
        </div>
      <% end %>
      <div class="project-explanation">
        <%= markdown @project.explanation_text %>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 expand">
      <%= render "project_solutions/form" %>
      <% unless @project_solution.new_record? %>
        <hr />
        <div class="comments-title">
          <h4>Aquí podrás discutir con la comunidad acerca de tu solución:</h4>
        </div>
        <%= render "comments/embedded", commentable: @project_solution, questions: [""] %>
      <% end %>
    </div>
  </div>
</div>
