<div class="container login">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_for @user, url: reset_password_path(t: params[:t]), method: 'PUT' do |f| %>
        <%= render 'shared/flash_messages_form', object: @user  %>
        <div class="form-group">
          <%= f.label :password, "Contraseña"  %>
          <%= f.password_field :password, class: 'form-control input-lg' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmar contraseña" %>
          <%= f.password_field :password_confirmation, class: 'form-control input-lg' %>
        </div>

        <div class="text-right"><%= f.submit("Cambiar Contraseña", class: 'btn btn-primary btn-lg btn-block') %></div>
      <% end %>
    </div>
  </div>
</div>
