<div class="container admin-challenges">
  <h1>Retos</h1>
  <ul class="nav nav-tabs" role="tablist">
    <% @paths.each_with_index do |path,i| %>
      <li class="<%= 'active' if i == 0 %>" role="presentation">
        <a href="#path-<%= path.id %>" role="tab" data-toggle="tab"><%= path.name %></a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% @paths.each_with_index do |path, i| %>
      <div role="tabpanel" class="path tab-pane <%= 'active' if i == 0 %>" id="path-<%= path.id %>">
        <% path.phases.published.order(:row).each do |phase| %>
          <div class="phase">
            <% phase.subjects.published.order(:row).each do |subject| %>
              <div class="panel panel-default subject">
                <div class="panel-heading">
                  <div><%= subject.name %></div>
                  <%= link_to "<span class='glyphicon glyphicon-plus'></span> Nuevo Reto".html_safe, new_admin_subject_challenge_path(subject), class: "btn btn-success btn-xs" %>
                </div>
                <table class="table challenges">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th class="text-center">Usuarios</th>
                      <th class="text-center">Efectividad</th>
                      <th class="text-center">Promedio de intentos</th>
                      <th class="text-center"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% subject.challenges.order(:row).each do |challenge| %>
                      <tr id="challenge-<%= challenge.id %>" class="<%= challenge.published? ? "" : "unpublished"%> challenge" data-sortable="true" draggable="true" data-resource-id="<%=challenge.id %>" data-update-url="<%= update_position_admin_challenge_path(id: challenge.id) %>">
                        <td><%= challenge.name %></td>
                        <td class="text-center"><span class="challenge-users"><%= challenge.solutions.where("attempts > ?", 0).count %></span></td>
                        <td class="text-center"><%= challenge_effectiveness(challenge) %></td>
                        <td class="text-center"><%= challenge_attempts_average(challenge) %></td>
                        <td class="text-right"><%= render '/shared/challenge_actions', challenge: challenge %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



<script type="text/javascript">
  new Sortable('.challenges', { items: " .challenge", handle: ".challenge-move" });
</script>
