<div class="container admin-challenges">
  <h1>Retos</h1>
  <ul class="nav nav-tabs" role="tablist">
    <% @paths.each_with_index do |path,i| %>
      <li class="<%= 'active' if i == 0 %>" role="presentation">
        <a href="#path-<%= path.id %>" role="tab" data-toggle="tab"><%= path.name %></a>
      </li>
    <% end %>
  </ul>

    <div class="tab-content">
      <% @paths.each_with_index do |path, i| %>
        <div role="tabpanel" class="path tab-pane <%= 'active' if i == 0 %>" id="path-<%= path.id %>">
          <% path.phases.published.order(:row).each do |phase| %>
            <div class="phase">
              <% phase.subjects.published.order(:row).each do |subject| %>
                <div class="panel panel-default subject">
                  <div class="panel-heading"><%= subject.name %>
                    <% if current_user.is_admin?%>
                      <%= link_to new_subject_challenge_path(subject), class: "btn btn-success btn-xs edit-course-btn" do %>
                      <span class="glyphicon glyphicon-plus"> Nuevo Reto</span>
                      <% end%>
                      <%= link_to edit_subject_path(subject), class: "btn btn-success btn-xs edit-course-btn pull-right" do %>
                      <span class="glyphicon glyphicon-pencil"> Editar curso</span>
                      <% end%>
                    <%end%>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th class="text-center">Usuarios</th>
                        <th class="text-center">Efectividad</th>
                        <th class="text-center">Promedio de intentos</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% subject.challenges.order(:row).each_with_index do |challenge, percentage| %>
                        <tr class="<%= challenge.published? ? "" : "unpublished" %>">
                          <td><%= challenge.name %></td>
                          <td class="text-center"><span class="challenge-users"><%= challenge.solutions.where("attempts > ?", 0).count %></span></td>
                          <td class="text-center"><%= challenge_effectiveness(challenge) %></td>
                          <td class="text-center"><%= challenge_attempts_average(challenge) %></td>
                        <% if current_user.is_admin?%>
                          <td class="text-center"><%= link_to '<span class="glyphicon glyphicon-pencil action action-edit"></span>'.html_safe, edit_subject_challenge_path(challenge.subject, challenge) %></td>
                          <td class="text-center"><%= link_to '<span class="glyphicon glyphicon-remove action action-remove"></span>'.html_safe, challenge_path(challenge), remote: true, data: { confirm: "Are you sure you want to delete this?" }, method: :delete %></td>
                        <%end%>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
