<div class="container admin-challenges">
  <h1>Retos</h1>
  <ul class="nav nav-tabs" role="tablist">
    <% @paths.each_with_index do |path,i| %>
      <li class="<%= 'active' if i == 0 %>" role="presentation">
        <a href="#path-<%= path.id %>" role="tab" data-toggle="tab"><%= path.name %></a>
      </li>
    <% end %>
  </ul>

    <div class="tab-content">
      <% @paths.each_with_index do |path, i| %>
        <div role="tabpanel" class="path tab-pane <%= 'active' if i == 0 %>" id="path-<%= path.id %>">
          <% path.phases.published.order(:row).each do |phase| %>
            <div class="phase">
              <% phase.subjects.published.order(:row).each do |subject| %>
                <div class="panel panel-default subject">
                  <div class="panel-heading"><%= subject.name %></div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th class="text-center">Usuarios</th>
                        <th class="text-center">Efectividad</th>
                        <th class="text-center">Promedio de intentos</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% subject.challenges.order(:row).each_with_index do |challenge, percentage| %>
                      <tr class="<%= challenge.published? ? "" : "unpublished" %>">
                        <td><%= challenge.name %></td>
                        <td class="text-center"><span class="challenge-users"><%= challenge.solutions.where("attempts > ?", 0).count %></span></td>
                        <td class="text-center"><%= challenge_effectiveness(challenge) %></td>
                        <td class="text-center"><%= challenge_attempts_average(challenge) %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>


                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
