<% if @subject.challenges.count > 0 || current_user.is_admin? %>
  <div class="row challenges-list">
    <div class="col-sm-10 col-sm-offset-1">
      <p class="text-center tab-exp"><%= challenges_msg(@subject) %></p>

      <% @subject.challenges.published.rank(:row).each do |challenge| %>
        <div id="challenge_<%= challenge.id %>" class="challenge clearfix <%= challenge_class(challenge) %>" data-location="<%= url_for([@subject, challenge]) %>">
          <div class="challenge-status">
            <span class="glyphicon glyphicon-ok"></span>
          </div>
          <div class="challenge-title">
            <%= link_to challenge.name, [@subject, challenge] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
