<tr id="resource_<%= resource.id %>" data-index="index" data-sortable="true" data-resource-id="<%= resource.id %>">
  <td class="resource-own">
    <% if resource.own? %>
      <span class="label label-mir resource-tag" data-toggle="tooltip" data-placement="top" title="Recurso creado por Make it Real">
        <div class="icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 113.6 158.5" enable-background="new 0 0 113.6 158.5"><style type="text/css">.st0{fill:#FFFFFF;} .st1{fill:#F04500;}</style><g id="XMLID_1709_"><path id="XMLID_2_" class="st0" d="M44 118.7l-23.4-101.1h-.9c1.1 7.8 1.6 14.9 1.6 21.4v79.6h-21.3v-118.6h35.2l21.1 93.3h.7l20.9-93.3h35.7v118.7h-21.7v-80.5c0-6.7.4-13.5 1.2-20.5h-.7l-23.4 101h-25z"/><path class="st1" d="M.1 139.6h113.4v18.9h-113.4z" id="XMLID_1512_"/></g>
          </svg>
        </div>
      </span>
    <% end %>
  </td>

  <td class="resource-info">
    <%= link_to (resource.title + (resource.url? ? '&nbsp;<span class="glyphicon glyphicon-new-window"></span>' : '')).html_safe, [@subject, resource] %>
    <% if current_user.is_admin? %>
      &nbsp; &nbsp;
      <% if !resource.published %><span class="glyphicon glyphicon-exclamation-sign action action-warn" data-toggle="tooltip" data-placement="bottom" title="No publicado"></span><% end %>
      <%= link_to '<span class="glyphicon glyphicon-pencil action action-edit"></span>'.html_safe, edit_subject_resource_path(@subject, resource) %>
      <%= link_to '<span class="glyphicon glyphicon-remove action action-remove"></span>'.html_safe, subject_resource_path(@subject, resource),  remote: true, data:{ confirm: "Are you sure you want to delete this?"},
      method: :delete %>
    <% end %>
    <div class="description"><%= resource.description %></div>
  </td>
  <td class="resource-additional">
    <%= link_to_toggle_completed resource if resource.self_completable? %>
    <span class="time-estimate"><%= resource.time_estimate %></span>
    <% if resource.category %>
      <span class="label label-default resource-tag <%=resource.category%> hidden-xs"><i class="fa <%=resource.category%>"></i><%= t("resources.categories.#{resource.category}") %></span>
    <% end %>
  </td>
</tr>
