<% breadcrumb :subject, @subject %>

<div class="container course-page default-top-padding">
  <div class="row">
    <div class="col-sm-12 header">
      <% if current_user.is_admin? %>
      <div class="actions">
        <%= link_to "<span class='glyphicon glyphicon-pencil'></span> &nbsp;Editar Curso".html_safe, edit_subject_path(@subject), class: "btn btn-success btn-xs edit-course-btn" %>
      </div>
      <% end %>
      <div class="course-header">
        <h1><%= @subject.name %></h1>
        <div style="margin-bottom: 20px;"><%= markdown @subject.excerpt %></div>
        <span>Progreso:</span>
        <%= progress_bar(progress: current_user.stats.progress_by_subject(@subject)) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <% if current_user.is_admin? || @subject.challenges.for(current_user).count > 0 %>
            <li role="presentation" class="<%= "active" if @tab == :challenges %>"><a href="#challenges" aria-controls="challenges" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-fire hidden-xs" aria-hidden="true"></span> Retos</a></li>
          <% end %>
          <li role="presentation" class="<%= "active" if @tab == :resources %>"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-folder-open hidden-xs" aria-hidden="true"></span> Recursos</a></li>
          <% if current_user.is_admin? || @subject.projects.for(current_user).count > 0 %>
            <li role="presentation" class="<%= "active" if @tab == :projects %>"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-road hidden-xs" aria-hidden="true"></span> Proyectos</a></li>
          <% end %>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane <%= "active" if @tab == :challenges %> challenges" id="challenges">
            <%= render 'challenges_section' %>
          </div><!-- /challenges tab -->

          <div role="tabpanel" class="tab-pane resources <%= "active" if @tab == :resources %>" id="resources">
            <%= render 'resources_section' %>
          </div><!-- tab resources -->
          <% if current_user.is_admin? || @subject.projects.for(current_user).count > 0 %>
            <div role="tabpanel" class="tab-pane projects <%= "active" if @tab == :projects %>" id="projects">
              <%= render 'projects_section' %>
            </div><!-- /projects tab -->
          <% end %>
        </div><!-- /tab content -->

        </div>
      </div>
    </div>
  </div>
</div>

<% if current_user.is_admin? %>
  <script>
    (function() {
      var sortables = [
        new SortableView({el: ".challenges",resource:"challenges"}),
        new SortableView({el: ".resources",resource:"resources"}),
        new SortableView({el: ".projects",resource:"projects"}),
        new SortableView({el: ".quizzes",resource:"quizzes"})
      ];
      $(document).on("turbolinks:click", function() {
        _.each(sortables, function(sortable) {
          sortable.remove();
        })
      });
    })()
  </script>
<% end %>

<script>
  $('.challenge').click(function(e) {
    var target = $(e.target);
    if (target.closest('.actions').length > 0) {
      return;
    }

    e.preventDefault();
    if ($(this).attr('data-location')) {
      window.location = $(this).data('location');
    }
  });

  $(function(){
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');

    $('.nav-tabs a').click(function (e) {
      $(this).tab('show');
      var scrollmem = $('body').scrollTop();
      window.location.hash = this.hash;
      $('html,body').scrollTop(scrollmem);
    });
  });
</script>
