<hr>
<div class="activity">
  <div class="activity-date"><%= activity.created_at.strftime("%b %d %I:%M %p") %></div>
  <div class="activity-detail"><%= generate_activity_detail(activity) %></div>
  <% if activity.type == "ChangeStatusApplicantActivity" && activity.rejected_reason %>
    <div class="activity-comment"><%= ChangeStatusApplicantActivity.get_substatus_to_human(activity.rejected_reason) %></div>
  <% end %>
  <% if activity.type == "ChangeStatusApplicantActivity" && activity.second_interview_substate %>
    <div class="activity-comment"><strong><%= ChangeStatusApplicantActivity.get_substatus_to_human(activity.second_interview_substate) %></strong></div>
  <% end %>
  <% if activity.type == "NoteApplicantActivity" && activity.body %>
    <div class="activity-comment"><%= markdown activity.body %></div>
  <% elsif activity.type == "ChangeStatusApplicantActivity" && activity.comment %>
    <div class="activity-comment"><%= markdown activity.comment %></div>
  <% end %>  
</div>
