<div class="applicant-detail">
  <div class="detail-label">Convocatoria:</div>
  <div class="detail-value"><%= applicant.cohort.name %></div>
</div>

<div class="applicant-detail">
  <div class="detail-label">Fecha de aplicación:</div>
  <div class="detail-value"><%= applicant.created_at %></div>
</div>

<div class="applicant-detail">
  <div class="detail-label">Última actualización:</div>
  <div class="detail-value"><%= applicant.updated_at %></div>
</div>

<div class="applicant-detail">
  <div class="detail-label">País:</div>
  <div class="detail-value"><%= applicant.country %></div>
</div>

<div class="applicant-detail">
  <div class="detail-label">Fecha de nacimiento:</div>
  <div class="detail-value"><%= applicant.birthday %></div>
</div>

<div class="applicant-detail">
  <div class="detail-label">Género:</div>
  <div class="detail-value"><%= applicant.gender %></div>
</div>

<div class="applicant-detail">
  <div class="detail-label">Movil:</div>
  <div class="detail-value"><%= applicant.mobile %></div>
</div>

<div class="applicant-detail">
  <div class="detail-label">Url:</div>
  <div class="detail-value"><%= applicant.url %></div>
</div>