<!-- Modal Cambiar Estado-->



<!-- Modal Envíar Email-->
<div class="modal fade" id="send_email" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
          <%= form_tag admin_applicant_activities_path do%>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Envíar Correo</h5>
        <div class="form-group">
          <%= content_tag :div, class: "data-information", data: {templates: EmailTemplate.all} do %><% end %>
        </div>
      </div>
      <div class="modal-body">
        <%= hidden_field_tag :applicant_id, @applicant.id%>
        <%= hidden_field_tag :comment_type, 2%>
        <div class="form-group">
          <%=select_tag :email_template_id, options_from_collection_for_select(EmailTemplate.all, :id, :title),id:"template_selector", class:" form-control btn btn-lg"%>
        </div>
        <% if EmailTemplate.first%>
          <div class="form-group">
            <%=text_field_tag(:subject, EmailTemplate.first.subject, class: "form-control", id:"email_subject_selector")%>
          </div>
          <div class="form-group">
            <%=text_area_tag(:body, EmailTemplate.first.body, class: "form-control",id:"email-body-selector",rows:"10")%>
          </div>
        <% else %>
          <div class="form-group">
            <%=text_field_tag(:subject, "Asunto", class: "form-control", id:"email-subject-selector")%>
          </div>
          <div class="form-group">
            <%=text_area_tag(:body, "Mensaje", class: "form-control",id:"email-body-selector",rows:"10")%>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <%=submit_tag "Envíar correo", class: "btn btn-primary"%>
      </div>
      <%end%>
    </div>
  </div>
</div>

<script>
  $( "#template_selector" ).change(function() {
    var template_name = $("#template_selector :selected").text()
    var templates = $('.data-information').data('templates')
    new_template = templates.find(function(element){
      return template_name == element.title
    })
    $("#email-subject-selector").val(new_template.subject)
    $("#email-body-selector").val(new_template.body)
  });
</script>
