<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 expand">
      <h2><%= @lesson.name %></h2>
      <p><%= @lesson.description %></p>
      <div class="video-wrapper">
        <%= embedded_video(@lesson.video_url) %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 expand">
      <%= render "comments/embedded", commentable: @lesson %>
    </div>
  </div>
</div>


<%= link_to "<span class='glyphicon glyphicon-ok'></span> <span class='hidden-xs'>Completar y Continuar</span>".html_safe,"#", class: "btn btn-primary", method: :post %>

<div class="resource-page-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> <span class='hidden-xs'>Volver a  curso #{@lesson.resource.title}</span>".html_safe, course_resource_path(@course, @resource) , class: "btn btn-link" %>
      </div>

      <div class="col-xs-6 text-right">
        <div class="finish">
          <%= link_to "<span class='glyphicon glyphicon-ok'></span> <span class='hidden-xs'>Completar y Continuar</span>".html_safe, complete_course_resource_section_lesson_path(@course, @resource, @lesson.section, @lesson), class: "btn btn-primary", method: :post %>
        </div>
      </div>
    </div>
  </div>
</div>

