<div class="container-fluid lesson-page">
  <div class="row" style="background: black;">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="video-wrapper">
        <%= embedded_video(@lesson.video_url, user: current_user) %>
      </div>
    </div>
  </div>
  <div class="row lesson-details">
    <div class="col-md-8">
      <h1><%= @lesson.name %></h1>
      <p><%= @lesson.description %></p>
      <div class="lesson-info"><%= markdown @lesson.info if @lesson.info %></div>
    </div>

    <div class="col-xs-12 col-md-4 expand">
      <%= render "comments/embedded", commentable: @lesson %>
    </div>
  </div>
</div>

<div class="resource-page-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> <span class='hidden-xs'>Volver a  curso #{@lesson.resource.title}</span>".html_safe, course_resource_path(@course, @resource) , class: "btn btn-link" %>
      </div>

      <div class="col-xs-6 text-right">
        <div class="finish">
          <%= button_to complete_course_resource_section_lesson_path(@course, @resource, @lesson.section, @lesson), class: "btn btn-primary" do %>
            <span class='glyphicon glyphicon-ok'></span> <span class='hidden-xs'>Completar y Continuar</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('a').filter(function() {
    return this.hostname != window.location.hostname;
  }).attr('target', '_blank');
</script>