<div class="container-fluid project_solutions">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to course_project_path(@project.course,@project), class: "btn btn-link push-left" do %>
        <span class='glyphicon glyphicon-arrow-left'></span>
        <span class='hidden-xs'>Volver a <strong><%= @project.name %></strong></span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h2>Soluciones para <%= @project.name %></h2>
        <p>Ayúdale a los demás a mejorar sus soluciones dándoles tu opinión</p>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render "project_solutions/project_box", solution: @own_project_solution, own_solution: true %>
    <% @project_solutions.each do |solution| %>
      <%= render "project_solutions/project_box", solution: solution %>
    <% end %>

  </div>
</div>
