<% breadcrumb :project_solution, @project_solution %>

<div class="container-fluid project-solution">
  <div class="row">
    <div class="col-xs-12 col-md-7 expand">
      <div class="media title-wrapper">
        <div class="media-left">
          <img src="<%= Gravatar.new("#{@project_solution.user.email}").image_url %>" class="img-circle avatar" />
        </div>
        <div class="media-body">
          <h1 class="media-heading">Solución de <%=link_to "#{@project_solution.user.first_name}", user_profile_path(@project_solution.user.nickname) %></h1>
        </div>
      </div>

      <div class="links-box">
        <%= link_to "https://github.com/#{@project_solution.repository}", class: "link" do %>
          <i class="fa fa-github"></i>
          <%= @project_solution.repository %>
        <% end %>
        <br>
        <% unless @project_solution.url.blank? %>
          <%= link_to @project_solution.url do %>
            <i class="fa fa-globe"></i>
            <%= @project_solution.url %>
          <% end %>
        <% end %>
      </div>
      <div class="points-box">
        <% if @project_solution.pending_review? %>
          <span class="label label-warning">Revisión pendiente</span>
        <% else %>
          <span class="label label-success">Revisado</span>
        <% end %>
        <span class="label label-info"><%= @project_solution.point_value %> puntos</span>
        <% if current_user.is_admin? %>
          <%= form_for(:point, url: assign_points_admin_project_solution_path(@project_solution), html: { class: "form-inline add-points-form"}) do |f| %>
            <%= f.number_field :points, value: @project_solution.project.point_value, class: "form-control" %>
            <%= f.submit "Agregar puntos", class: "btn btn-primary" %>
          <% end %>
        <% end %>
        <% if @project_solution.user == current_user %>
          <div class="request-revision">
            <% request_path = request_revision_subject_project_project_solution_path(@project_solution.project.subject, @project_solution.project, @project_solution) %>
            <%= button_to request_path, class: "btn btn-success", method: :patch do %>
              Solicitar Revisión
              <i class="fa fa-hand-o-up"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <p>
        <%= markdown @project_solution.summary %>
      </p>

      <% if current_user.is_admin? %>
        <div class="instructions">
          <header>Instrucciones</header>
          <div class="instructions-body">
            <% unless @project.explanation_video_url.blank? %>
              <div class="video-wrapper">
                <%= embedded_video(@project.explanation_video_url, user: current_user) %>
              </div>
            <% end %>

            <%= markdown @project.explanation_text %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-md-5 expand">
      <%= render "comments/embedded", commentable: @project_solution, questions: ["¿Qué opinas de la solución implementada por #{@project_solution.user.first_name}?"] %>
    </div>
  </div>
</div>
