<%# require: resource %>
<div class="col-sm-6 col-md-8 text-left">
  <h1>
    <%= resource.title %>
    <% if current_user.is_admin? %>
      <%= link_to edit_course_resource_path(resource.course,resource), nil do %>
        <%= content_tag(:span, nil, class: "glyphicon glyphicon-pencil action action-edit" )%>
      <% end %>
    <% end %>
  </h1>

  <p><%= resource.description %></p>
  <div class="sections">

    <% if current_user.is_admin? %>
      <div class="row">
        <div class="col-sm-12 text-center new-lesson-btn">
          <%= link_to '<span class="glyphicon glyphicon-plus"></span> Nueva Sección'.html_safe, new_resource_section_path(resource), remote: true, class: "btn btn-success" %>
        </div>
      </div>
    <% end %>

    <% resource.sections.each_with_index do |section, i| %>
      <%= render partial: 'sections/section_row', locals: { resource: resource, section: section, i: i } %>
    <% end %>
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <% if current_user.has_access_to?(resource) %>
    <%= render "comments/embedded", commentable: resource, questions:["Déjanos saber tu opinion"] %>
  <% else %>
    <div class="price-box-container text-center">
      <%= render '/shared/banner' if current_user.free_account? %>
    </div>
  <% end %>
</div>

<% if current_user.is_admin? %>
  <script>
    (function() {
      var sortables = [];
      <% resource.sections.each do |section| %>
        sortables.push(new SortableView({el: "#section_<%= section.id %>", resource:"lessons"}))
      <% end %>
      $(document).on("page:before-change", function() {
        _.each(sortables, function(sortable) {
          sortable.remove();
        })
      });
    })()
  </script>
<% end %>
