<%# require: resource %>
<div class="col-sm-6 col-md-8 text-left">
  <h1>
    <%= resource.title %>
    <% if current_user.is_admin? %>
      <%= link_to edit_course_resource_path(resource.course,resource), nil do %>
        <%= content_tag(
          :span,nil,class:"glyphicon glyphicon-pencil action action-edit"
          )%>
      <% end %>
    <% end %>
  </h1>

  <p><%= resource.description %></p>
  <% resource.sections.each_with_index do |section,i| %>
    <div class="list-group">
      <div href="#" class="list-group-item list-group-item-info">
        <%= "Secci贸n #{i} - #{section.title}" %>
      </div>

      <% section.lessons.each_with_index do |lesson,j| %>
        <%= link_to "Lecci贸n #{j} - #{lesson.name}",
          course_resource_section_lesson_path(resource.course,resource,section,lesson),
          class: "list-group-item" %>
      <% end %>
    </div>
  <% end %>
  </a>
</div>
<div class="col-sm-6 col-md-4 text-center sidebar-outer">
  <div class="fixed-container">
    <div class="course-info text-center fixed">
      <button class="btn btn-default btn-buy btn-buy-course btn-lg btn-block btn-info">
        Toma este curso
        por <h2><%= number_to_currency(resource.price,unit: "$COP")%></h2>
      </button>
      <p>o adquiere la suscripci贸n anual con acceso a <strong><u>todos los cursos</u></strong>,
         <strong><u>retos adicionales</u></strong> y <strong><u>material exclusivo</u></strong>.</p>
      <button class="btn btn-default btn-buy btn-buy-anual-subscription btn-lg btn-block btn-primary">
        Suscripci贸n anual
      </button>
    </div>

  </div>
</div>
