<%# require: resource %>
<div class="col-sm-6 col-md-8 text-left">
  <h1>
    <%= resource.title %>
    <% if current_user.is_admin? %>
      <%= link_to edit_course_resource_path(resource.course,resource), nil do %>
        <%= content_tag(
          :span,nil,class:"glyphicon glyphicon-pencil action action-edit"
          )%>
      <% end %>
    <% end %>
  </h1>

  <p><%= resource.description %></p>
  <% resource.sections.each_with_index do |section,i| %>
    <div class="list-group">
      <div href="#" class="list-group-item resource-section-title">
        <%= "Sección #{i} - #{section.title}" %>
      </div>
      <% if current_user.is_enrolled_in?(resource) %>

        <% section.lessons.each_with_index do |lesson,j| %>
          <%= link_to(course_resource_section_lesson_path(resource.course,resource,section,lesson),
            class: "list-group-item") do %>
            <%="Lección #{j} - #{lesson.name}"%>
          <% end %>
        <% end %>

      <% else %>

        <% section.lessons.each_with_index do |lesson,j| %>
          <% if lesson.free_preview? %>
            <%= link_to(course_resource_section_lesson_path(resource.course,resource,section,lesson),
              class: "list-group-item") do %>
              <%="Lección #{j} - #{lesson.name}"%>
              <span class="label-free">¡Gratis!</span>
            <% end %>
          <% else %>
            <div class="list-group-item disabled">
              <%="Lección #{j} - #{lesson.name}"%>
              <span class="glyphicon glyphicon-lock pull-right"></span>
            </div>
          <% end %>
        <% end %>

      <% end %>
    </div>
  <% end %>
  </a>
</div>
<div class="col-sm-6 col-md-4">
  <% if current_user.is_enrolled_in?(resource) %>
    <%= render "comments/embedded", commentable: resource, questions:["Déjanos saber tu opinion"] %>
  <% elsif current_user.has_access_to?(resource) %>
    <div class="start-course-container text-center">
      <div class="course-info text-center">
        <%= form_for :enrollment, url: course_resource_enrollments_path(resource.course,resource) do |f| %>
          <%= f.submit "Inicia este curso", class: "btn btn-default btn-start-course btn-lg btn-block" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="price-box-container text-center">
      <div class="course-info text-center">
        <p>Acceso a este curso de por vida</p>
        <button class="btn btn-default btn-buy btn-buy-course btn-lg btn-block">
          <%= number_to_currency(resource.price,unit: "$COP")%>
        </button>
      </div>

      <div class="course-info text-center">
        <p>O adquiere la suscripción anual con acceso a <strong><u>todos los cursos</u></strong>,
           <strong><u>retos adicionales</u></strong> y <strong><u>material exclusivo</u></strong>.</p>
        <button class="btn btn-default btn-buy btn-buy-anual-subscription btn-lg btn-block">
          Suscripción anual
        </button>
      </div>
    </div>
  <% end %>
</div>
