<div class="container resource-form-page">
  <div class="row">
    <%= form_for [@resource.course, @resource]  do |f| %>
      <div class="col-sm-10 col-sm-offset-1">
        <%= render 'shared/flash_messages_form', object: @resource  %>

        <h1><%= @resource.new_record? ? "Nuevo Recurso" : "Editar Recurso" %></h1>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, rows: 2, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :type %>
          <%= f.select :type, types_resources, {}, { class: 'form-control' } %>
        </div>

        <div class="form-group">
          <%= f.check_box :own %>
          <%= f.label :own %>
          <small>(Recurso creado por Make it Real)</small>
        </div>

        <div class="form-group">
          <%= f.label :category %>
          <%= f.select :category, resource_categories, {:include_blank => true}, { class: 'form-control' } %>
        </div>

        <!-- url form -->
        <div class="form-group resource-type-form url-field type-url-form">
          <%= f.label :url %>
          <%= f.text_field :url, class: "form-control" %>
        </div>
        <!--/ url form -->

        <!-- markdown form -->
        <div class="resource-type-form content-field type-markdown-form">
          <div class="form-group">
            <%= f.label :video_url %>
            <%= f.text_field :video_url, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :content %>
            <%= f.text_area :content, rows: 25, class: "form-control" %>
          </div>
        </div>
        <!--/ markdown form -->

        <div class="form-group">
          <%= f.label :time_estimate %>
          <%= f.text_field :time_estimate, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.check_box :published %>
          <%= f.label :published %>
        </div>

        <div class="actions text-right">
          <%= link_to "Cancelar", @course, class: "btn btn-default" %>
          <%= f.submit class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  (function() {
    var resourceView = new ResourceView();

    $(document).on("page:fetch", function() {
      resourceView.remove();
    });
  })();
</script>
