<div class="container resource-form-page">
  <div class="row">
    <%= form_for [@resource.course, @resource]  do |f| %>
      <div class="col-sm-10 col-sm-offset-1">
        <%= render 'shared/flash_messages_form', object: @resource  %>

        <h1><%= @resource.new_record? ? "Nuevo Recurso" : "Editar Recurso" %></h1>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, rows: 2, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :type %>
          <%= f.select :type, types_resources, {}, { class: 'form-control' } %>
        </div>


        <div class="form-group resource-type-form url-field type-url-form">
          <%= f.label :url %>
          <%= f.text_field :url, class: "form-control" %>
        </div>

        <div class="form-group resource-type-form content-field type-markdown-form">
          <%= f.label :content %>
          <%= f.text_area :content, rows: 25, class: "form-control" %>
        </div>

        <div class="form-group resource-type-form type-course-form">
          <%= f.label :sections %>
          <%= f.add_nested_fields_link :sections, content_tag(
            :span,nil,class:"glyphicon glyphicon-plus action action-add"
          ) %>

          <div class="form-group sections">
            <!-- Section form -->
            <%= f.nested_fields_for :sections do |ff| %>
              <%= ff.remove_nested_fields_link(
                content_tag(:span,nil,class:"glyphicon glyphicon-remove action action-remove")) %>
              <%= ff.text_field :title, class: "form-control section-title", placeholder: "Section Title" %>

              <!-- Lesson form -->
              <div class="form-group lessons">
                <%= ff.label :lessons, class:"lessons-label" %>
                <%= ff.add_nested_fields_link :lessons, content_tag(
                  :span,nil,class:"glyphicon glyphicon-plus action action-add"
                ) %>
                <%= ff.nested_fields_for :lessons do |fff| %>
                  <%= fff.remove_nested_fields_link(
                    content_tag(:span,nil,class:"glyphicon glyphicon-remove action action-remove")) %>

                  <%= fff.text_field :name, class: "form-control lesson-name", placeholder: "Lesson name" %>

                  <%= fff.label :video_url %>
                  <%= fff.text_field :video_url, class: "form-control" %>
                  <%= fff.label :description %>
                  <%= fff.text_area :description, class: "form-control" %>
                  <%= fff.label :free_preview %>
                  <%= fff.check_box :free_preview %>
                <% end %>
                <%= ff.add_nested_fields_link :lessons, content_tag(
                  :span,"Lesson",class:"glyphicon glyphicon-plus action action-add add-lesson"
                ) %>
              </div> <!-- /Lesson form -->
            <% end %>

            <%= f.add_nested_fields_link :sections, content_tag(
              :span,"Section",class:"glyphicon glyphicon-plus action action-add"
            ) %>
          </div><!-- /Section form -->
        </div>

        <div class="form-group">
          <%= f.label :time_estimate %>
          <%= f.text_field :time_estimate, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.check_box :published %>
          <%= f.label :published %>
        </div>

        <div class="actions text-right">
          <%= link_to "Cancelar", @course, class: "btn btn-default" %>
          <%= f.submit class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  (function() {
    var resourceView = new ResourceView();

    $(document).on("page:fetch", function() {
      resourceView.remove();
    });
  })();
</script>
