<%# require: resource %>
<div class="container quiz-page">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="quiz-info-container">
        <% if current_user.is_admin? %>
          <div class="actions"><%= link_to "Editar preguntas", subject_resource_questions_path(resource.subject, resource), class: "btn btn-success action" %></div>
        <% end %>
        <h1><%= resource.title %></h1>
        <div><%= quiz_summary(resource).html_safe %></div>
        <div class="text-right" style="margin-top: 40px;">
          <% if resource.is_being_attempted_by_user?(current_user) %>
            <%= link_to "Reiniciar", reset_subject_resource_quiz_attempts_path(resource.subject, resource), method: :post, class: "btn btn-default" %>
            <%= link_to "Continuar", ongoing_quiz_attempt_for_user_path(resource, current_user), class: "btn btn-primary" %>
          <% else %>
            <%= button_to "Iniciar", subject_resource_quiz_attempts_path(resource.subject, resource), method: :post, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
