<div class="container charge-page">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= link_to root_path do %>
        <%= image_tag "logo-black.png", width: 160 %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="charge-wrapper">
        <div class="charge-header">
          <%= charge_header_tag(@charge) %>
        </div>

        <div class="charge-body">
          <div class="row">
            <div class="col-sm-6">
              <h1><%= @charge.description %></h1>
            </div>
            <div class="col-sm-6 text-right">
              <span class="charge-amount"><%= @charge.currency %> <%= number_to_currency @charge.amount, precision: 0 %></span>
            </div>
          </div>

          <hr>

          <div class="row charge-details">
            <div class="col-sm-6">
              <div class="field">
                <span class="field-label">Referencia</span>
                <span class="field-value"><%= @charge.uid %></span>
              </div>
              <div class="field">
                <span class="field-label">Medio de Pago</span>
                <span class="field-value">
                  <% if @stripe_transaction %>
                    Stripe
                  <% else %>
                    Payu
                  <% end %>
                </span>
              </div>
              <div class="field">
                <span class="field-label">Estado</span>
                <span class="field-value"><%= @charge.status %></span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="field">
                <span class="field-label">Fecha</span>
                <span class="field-value"><%= @charge.created_at.strftime("%d/%m/%Y") %></span>
              </div>
              <div class="field">
                <span class="field-label">Hora</span>
                <span class="field-value"><%= @charge.created_at.strftime("%H:%M") %></span>
              </div>
            </div>
          </div>

          <hr>

          <div class="row charge
                </span>
              </div>
            </div>
            <div class="col-sm-6 text-right">
              <div class="field">
                <span class="field-label">Fecha de Creación</span>
                <span class="field-value"><%= l @charge.created_at, format: "%d / %m / %Y" %></span>
              </div>
              <div class="field">
                <span class="field-label">Última Actualización</span>
                <span class="field-value"><%= l @charge.updated_at.in_time_zone("Bogota"), format: "%d / %m / %Y %I:%M %p" %></span>
              </div>
            </div>
          </div>

          <hr>

          <% if @charge.created? || @charge.pending? %>
            <h3>Detalles</h3>
            <% if @charge.cash? || @charge.referenced? || @charge.transfer? %>
              <p>La transacción se encuentra pendiente de pago. Al realizar el pago puedes enviarnos el soporte a <a href="mailto:info@makeitreal.camp">info@makeitreal.camp</a> si quieres agilizar el proceso. La entidad toma un tiempo en notificarnos.</p>
            <% else %>
              <p>La transacción se encuentra pendiente por confirmar. Este proceso puede tomar entre algunos minutos y varias horas dependiendo del método de pago. Estaremos pendientes y te informaremos cualquier actualización por correo electrónico.</p>
            <% end %>
            <hr>
          <% elsif @charge.rejected? %>
            <h3>Detalles</h3>
            <p>¡Lo sentimos! La transacción fue rechazada con el siguiente mensaje de error:</p>
            <pre><code><%= @charge.error_message %></code></pre>
            <p>Puedes intentarlo nuevamente <a href="/courses/nodejs-mongodb/medellin">haciendo click acá</a>.</p>
            <hr>
          <% elsif @charge.error? %>
            <h3>Detalles</h3>
            <p>¡Lo sentimos! Ocurrió el siguiente error en la transacción:</p>
            <pre><code><%= @charge.error_message %></code></pre>
            <p>Puedes intentarlo nuevamente <a href="/courses/nodejs-mongodb/medellin">haciendo click acá</a>.</p>
            <hr>
          <% elsif @charge.paid? %>
            <p><strong>¡Tu cupo está reservado!</strong> Muchas gracias por confiar en nosotros, trabajamos cada día para brindarte la educación de la mejor calidad.</p>
            <hr>
          <% end %>

          <p>Si tienes alguna pregunta o inquietud no dudes en comunicarte con nosotros a <a href="mailto:info@makeitreal.camp">info@makeitreal.camp</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
