<div class="container course-form-page">
  <div class="row">
    <%= form_for @course do |f| %>
      <div class="col-sm-10 col-sm-offset-1">
        <%= render 'shared/flash_messages_form', object: @course %>
        <h1>Editar Curso</h1>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, rows: 2, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :excerpt %>
          <%= f.text_area :excerpt, rows: 2, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :time_estimate %>
          <%= f.text_field :time_estimate, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :phases %>
          <%= f.nested_fields_for :course_phases, wrapper_options: { class: 'row margin-bottom'} do |ff| %>
            <div class="col-xs-11">
              <%= ff.collection_select(:phase_id, Phase.all, :id, ->(phase){ "#{phase.path.name} - #{phase.name}" }, {},{class: "form-control"}) %>
            </div>
            <div class="col-xs-1 text-right">
              <%= ff.remove_nested_fields_link '<span class="glyphicon glyphicon-trash"></span>'.html_safe, class: "btn btn-danger" %>
            </div>
          <% end %>
          <%= f.add_nested_fields_link :course_phases, '<span class="glyphicon glyphicon-plus"></span>'.html_safe, class: "btn btn-primary" %>
        </div>

        <div class="form-group">
          <%= f.check_box :published %>
          <%= f.label :published %>
        </div>

        <div class="actions text-right">
          <%= link_to "Cancelar", admin_courses_path, class: "btn btn-default" %>
          <%= f.submit class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
