<div class="container courses-page">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <blockquote><%= @quote[:text] %> <span class="author">&nbsp; <%= @quote[:author] %></span></blockquote>
    </div>
  </div>
  <% if current_user.is_admin? %>
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= link_to "<span class='glyphicon glyphicon-plus'></span> &nbsp;Nuevo Curso".html_safe, new_course_path, class: "btn btn-success new-course-btn" %>
      </div>
    </div>
  <% end %>
  <% @courses.each_with_index do |course, i| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="course">
          <% if current_user.is_admin? %>
          <div class="actions">
            <% if !course.published %><span class="glyphicon glyphicon-exclamation-sign action action-warn" data-toggle="tooltip" data-placement="bottom" title="No publicado"></span><% end %>
            <%= link_to "<span class='glyphicon glyphicon-pencil action action-edit'></span>".html_safe, edit_course_path(course) %>
            <a href="#"><span class='glyphicon glyphicon-remove action action-remove'></span></a>
          </div>
          <% end %>
          <div class="title"><%= course.name %></div>
          <%= progress_bar(progress: current_user.progress(course)) %>
          <p><%= course.description %></p>
          <div class="row info">
            <div class="col-xs-6 info-item">
              <span class="info-item-value"><%= course.challenges.published.count %></span>
              <span class="info-item-label">Retos</span>
            </div>
            <div class="col-xs-6 info-item">
              <span class="info-item-value"><%= course.resources.published.count %></span>
              <span class="info-item-label">Recursos</span>
            </div>
          </div>
          <div class="text-center"><%= link_to "Entrar", course, class: "btn btn-primary btn-block" %></div>
        </div>
      </div>
    </div>
    <% if i != @courses.size - 1 %>
      <div class="course-divider"><div></div></div>
    <% end %>
  <% end %>
</div>

<%= render 'profile_questions' unless current_user.active? %>