<div class="container-fluid course-page">
  <div class="row">
    <div class="col-sm-12 header">
      <%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> Volver al Inicio".html_safe, root_path %>
      <% if current_user.is_admin? %>
      <div class="actions">
        <%= link_to "<span class='glyphicon glyphicon-pencil'></span> &nbsp;Editar Curso".html_safe, edit_course_path(@course), class: "btn btn-success btn-xs edit-course-btn" %>
      </div>
      <% end %>
      <div class="course-header">
        <h1><%= @course.name %></h1>
        <div style="margin-bottom: 20px;"><%= markdown @course.excerpt %></div>
        <%= progress_bar(progress: current_user.progress(@course)) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <% if current_user.is_admin? || @course.challenges.for(current_user).count > 0 %>
          <li role="presentation" class="<%= "active" if @tab == :challenges %>"><a href="#challenges" aria-controls="challenges" role="tab" data-toggle="tab">Retos</a></li>
          <% end %>
          <li role="presentation" class="<%= "active" if @tab == :resources %>"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">Recursos</a></li>
          <li role="presentation" class="<%= "active" if @tab == :projects %>"><a href="#projects" aria-controls="resources" role="tab" data-toggle="tab">Proyectos</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane <%= "active" if @tab == :challenges %> challenges" id="challenges">
            <% if current_user.is_admin? %>
              <div class="row ">
                <div class="col-sm-12 text-center new-challenge-btn">
                  <%= link_to "<span class='glyphicon glyphicon-plus'></span> Nuevo Reto".html_safe, new_course_challenge_path(@course), class: "btn btn-success" %>
                </div>
              </div>
            <% end %>

            <% if @course.challenges.for(current_user).count > 0 || current_user.is_admin? %>
            <div class="row challenges-list">
              <div class="col-sm-8 col-sm-offset-2">
                <p class="text-center tab-exp"><%= challenges_msg(@course) %></p>
                <% @course.challenges.for(current_user).each_with_index do |challenge, index| %>
                  <div id="challenge_<%= challenge.id %>" class="challenge clearfix <%= challenge_class(challenge) %>" data-index="<%= index %>" data-location="<%= url_for([@course, challenge]) %>" data-sortable="true" data-resource-id="<%=challenge.id%>">
                    <div class="challenge-status">
                      <span class="glyphicon glyphicon-ok"></span>
                    </div>
                    <div class="challenge-title">
                      <%= link_to challenge.name, [@course, challenge] %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <% end %>
            <% if @course.challenges.where(restricted: true).count > 0 && current_user.free_account?  %>
              <div class="alert alert-info" role="alert">
                Este curso contiene <span class="badge"><%= @course.challenges.where(restricted: true).count  %></span>
                retos adicionales. si lo quiere ver pásate a la cuenta pago.
              </div>
            <% end %>
          </div><!-- /challenges tab -->

          <div role="tabpanel" class="tab-pane resources <%= "active" if @tab == :resources %>" id="resources">
            <% if current_user.is_admin? %>
            <div class="row">
              <div class="col-sm-12 text-center new-resource-btn">
                <%= link_to '<span class="glyphicon glyphicon-plus"></span> Nuevo Recurso'.html_safe, new_course_resource_path(@course), class: "btn btn-success" %>
              </div>
            </div>
            <% end %>

            <div class="row resources-list">
              <div class="col-sm-8 col-sm-offset-2">
                <p class="tab-exp text-center">Todo el conocimiento está en Internet. Es por eso que hemos seleccionado los mejores recursos para tu aprendizaje.</p>
                <table class="table">
                  <% @course.resources.for(current_user).each_with_index do |resource, index| %>
                    <tr id="resource_<%= resource.id %>" data-index="index" data-sortable="true" data-resource-id="<%= resource.id %>">
                      <td class="resource-info">
                        <%= link_to (resource.title + (resource.url? ? '&nbsp;<span class="glyphicon glyphicon-new-window"></span>' : '')).html_safe, [@course, resource] %>
                        <% if current_user.is_admin? %>
                          &nbsp; &nbsp;
                          <% if !resource.published %><span class="glyphicon glyphicon-exclamation-sign action action-warn" data-toggle="tooltip" data-placement="bottom" title="No publicado"></span><% end %>
                          <%= link_to '<span class="glyphicon glyphicon-pencil action action-edit"></span>'.html_safe, edit_course_resource_path(@course, resource) %>
                          <%= link_to '<span class="glyphicon glyphicon-remove action action-remove"></span>'.html_safe, course_resource_path(@course, resource),  remote: true, data:{ confirm: "Are you sure you want to delete this?"},
                          method: :delete %>
                        <% end %>
                        <div class="description"><%= resource.description %></div>
                      </td>
                      <td class="resource-additional">
                        <%= link_to_toggle_completed resource if resource.self_completable? %>
                        <span class="time-estimate"><%= resource.time_estimate %></span>
                      </td>
                    </tr>
                    </div>
                  <% end %>
                </table>
              </div>
            </div>
          </div><!-- /resources tab -->

          <div role="tabpanel" class="tab-pane projects <%= "active" if @tab == :projects %>" id="projects">
            <% if current_user.is_admin? %>
            <div class="row">
              <div class="col-sm-12 text-center new-project-btn">
                <%= link_to '<span class="glyphicon glyphicon-plus"></span> Nuevo Proyecto'.html_safe, new_course_project_path(@course), class: "btn btn-success" %>
              </div>
            </div>
            <% end %>

            <div class="row projects-list projects">
              <div class="col-sm-8 col-sm-offset-2">
                <p class="tab-exp text-center">
                  <%= projects_msg(@course) %>
                </p>

                <% if current_user.is_admin? || @course.projects.for(current_user).count > 0 %>
                  <% @course.projects.for(current_user).each_with_index do |project, index| %>
                    <% if current_user.has_access_to?(project) %>
                      <div id="project_<%= project.id %>" class="project clearfix" data-sortable="true" data-resource-id="<%= project.id %>">
                        <%= link_to [@course, project] do %>
                          <div class="btn-project-go">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                          </div>
                        <% end %>
                        <div class="project-title">
                          <%= link_to project.name, [@course, project] %>
                          <% if current_user.is_admin? %>
                            <div class="actions">
                              <% unless project.published %>
                                <span class="glyphicon glyphicon-exclamation-sign action action-warn" data-toggle="tooltip" data-placement="bottom" title="No publicado"></span>
                              <% end %>
                              <%= link_to "<span class='glyphicon glyphicon-pencil action action-edit'></span>".html_safe, edit_course_project_path(@course,project) %>
                              <%= link_to "<span class='glyphicon glyphicon-remove action action-remove'></span>".html_safe, course_project_path(@course,project), method: :delete, remote: true %>
                            </div>
                          <% end %>
                        </div>

                      </div>
                    <% else %>
                      <div id="project_<%= project.id %>" class="project project-locked clearfix">
                        <div class="btn-project-locked">
                          <span class="glyphicon glyphicon-lock"></span>
                        </div>
                        <div class="project-title"><%= project.name %></div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>

            </div>
          </div><!-- /projects tab -->


        </div>

      </div>
    </div>
  </div>
</div>


<% if current_user.is_admin? %>
  <script>
    (function() {
      var sortables = [
        new SortableView({el: ".challenges",resource:"challenges"}),
        new SortableView({el: ".resources",resource:"resources"}),
        new SortableView({el: ".projects",resource:"projects"})
      ];
      $(document).on("page:before-change", function() {
        _.each(sortables, function(sortable) {
          sortable.remove();
        })
      });
    })()
  </script>
<% end %>

<script>
  $('.challenge').click(function(e) {
    e.preventDefault();
    if ($(this).attr('data-location')) {
      window.location = $(this).data('location');
    }
  });

  $(function(){
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');

    $('.nav-tabs a').click(function (e) {
      $(this).tab('show');
      var scrollmem = $('body').scrollTop();
      window.location.hash = this.hash;
      $('html,body').scrollTop(scrollmem);
    });
  });
</script>
