<div class="container course-page">
  <div class="row">
    <div class="col-sm-12 header">
      <h1><%= @course.name %></h1>
      <p>HTML es un lenguaje que nos permite definir la estructura de un documento que los navegadores interpretan y muestran en la pantalla. Un archivo CSS es un lenguaje que nos permite definir el formato (los estilos) de los elementos HTML.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5" style="margin-bottom: 40px;">
      <h2>Retos</h2>
      <% @course.challenges.each do |challenge| %>
        <div class="challenge clearfix">
          <div class="challenge-status"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="challenge-title"><a href="#"><%= challenge.name %></a></div>
        </div>
      <% end %>
    </div>

    <div class="col-md-7">
      <h2>Recursos</h2>
      <table class="table resources">
      <% @course.resources.each do |resource| %>
        <tr>
          <td class="resource-info">
            <a href="<%= resource.url %>" target="_blank"><%= resource.title %> &nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
            <div class="description"><%= resource.description %></div>
          </td>
          <td class="resource-additional">
            <span class="glyphicon glyphicon-ok-circle"></span>
            <span class="time-estimate"><%= resource.time_estimate %></span>
          </td>
        </div>
      <% end %>
      </table>
    </div>
  </div>
</div>