<% breadcrumb :challenge_discussion, @challenge %>

<div class="container-fluid challenge-discussion default-top-padding">
  <div class="row">
    <div class="col-sm-9"><h1>Discusión: <%= @challenge.name %></h1></div>
    <div class="col-sm-3 text-right"><%= link_to "Siguiente reto <span class='glyphicon glyphicon-chevron-right'></span>".html_safe,
        [@challenge.subject, current_user.next_challenge], class: "btn btn-primary" %></div>

  </div>
  <div class="row">
    <div class="col-xs-12 col-md-7 expand">
    <% unless @challenge.solution_video_url.blank? %>
      <div class="video-wrapper">
        <%= embedded_video(@challenge.solution_video_url, user: current_user)%>
      </div>
    <% end %>
    <% unless @challenge.solution_text.nil? %>
      <div class="text-wrapper">
        <%= markdown(@challenge.solution_text) unless @challenge.solution_text.nil? %>
      </div>
    <% end %>
    </div>
    <div class="col-xs-12 <%= 'col-md-5' unless @challenge.solution_video_url.nil? && @challenge.solution_text.nil? %>">
      <%= render "comments/embedded", commentable: @challenge, questions: [
        "¿Qué aprendiste de este reto?",
        "¿Qué fue lo más difícil de este reto?",
        "¿Qué fue lo que más te gustó de este reto?",
        "¿Qué fue lo más divertido de este reto?"
        ] %>
    </div>
  </div>
</div>
<script>
  $('a').filter(function() {
    return this.hostname != window.location.hostname;
  }).attr('target', '_blank');
</script>
