<div class="container-fluid challenge-discussion">
  <div class="row">
    <div class="col-xs-6 text-left">
      <%= link_to "<span class='glyphicon glyphicon-chevron-left'></span> Volver al reto ".html_safe,
        [@challenge.course, @challenge], class: "btn btn-link" %>
    </div>
    <div class="col-xs-6 text-right">
      <%= link_to "Siguiente reto <span class='glyphicon glyphicon-chevron-right'></span>".html_safe,
        [@challenge.course, @challenge.next_for(current_user)], class: "btn btn-success" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"><h1>Discusión: <%= @challenge.name %></h1></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-7 expand">
    <% unless @challenge.solution_video_url.blank? %>
      <div class="video-wrapper">
        <%= embedded_video(@challenge.solution_video_url)%>
      </div>
    <% end %>
    <% unless @challenge.solution_text.nil? %>
      <div class="text-wrapper">
        <%= markdown(@challenge.solution_text) unless @challenge.solution_text.nil? %>
      </div>
    <% end %>
    </div>
    <div class="col-xs-12 <%= 'col-md-5' unless @challenge.solution_video_url.nil? && @challenge.solution_text.nil? %>">
      <%= render "comments/embedded", commentable: @challenge, questions: [
        "¿Qué aprendiste de este reto?",
        "¿Qué fue lo más difícil de este reto?",
        "¿Qué fue lo que más te gustó de este reto?",
        "¿Qué fue lo más divertido de este reto?"
        ] %>
    </div>
  </div>
</div>
<script>
  $('a').filter(function() {
    return this.hostname != window.location.hostname;
  }).attr('target', '_blank');
</script>
