<div class="container expand challenge-page">
  <div class="row expand">
    <div class="col-md-5 expand overflow instructions">
      <%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> Volver a #{@challenge.course.name}".html_safe, @challenge.course %>
      <h1><%= @challenge.name %></h1>

      <%= markdown @challenge.instructions %>
    </div>

    <div class="col-md-7 expand solution" data-solution-id="<%= @solution.id %>">
      <%= form_tag submit_solution_path(@solution.id), id: 'submit-solution', class: 'expand', remote: true do %>
        <% if @challenge.ruby_embedded? || @challenge.phantomjs_embedded? %>
          <%= render 'embedded_files' %>
        <% else %>
          <%= render 'github_repo' %>
        <% end %>

        <!-- preview and submit button -->
        <div class="solution-buttons">
          <div class="text-right">
            <% if @challenge.preview? %><a href="#" class="btn btn-default btn-preview" target="_blank">Preview</a><% end %>
            <%= submit_tag "Evaluar Solución", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal to zoom images -->
<div id="zoom-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<script type="x/template" id="solution-eval-template">
  <div class="solution-eval">
    <div class="glyphicon glyphicon-cloud"></div>
    Estamos evaluando tu solución
    <span>Por favor espera unos segundos (o minutos)</span>
  </div>
</script>

<script type="x/template" id="notification-template">
  <div class="modal notification-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">{{= title }}</h4>
        </div>
        <div class="modal-body">
          <p class="text-center icon" style="color: {{= color }}"><span class="glyphicon glyphicon-{{= icon }}" aria-hidden="true"></span></p>
          <p class="text-center">{{= message }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</script>

<script>
  (function() {
    var instructionsView = new InstructionsView();
    var solutionView = new SolutionView();

    $(document).on("page:before-change", function() {
      instructionsView.remove();
      solutionView.remove();
    });
  })();
</script>