<div class="container expand challenge-page">
  <div class="row expand">
    <div class="col-md-5 expand overflow instructions">
      <%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> Volver a #{@challenge.course.name}".html_safe, @challenge.course %>
      <h1><%= @challenge.name %></h1>

      <%= markdown @challenge.instructions %>
    </div>

    <div class="col-md-7 expand solution" data-solution-id="<%= @solution.id %>">
      <%= form_tag submit_solution_path(@solution.id), id: 'submit-solution', class: 'expand', remote: true do %>
        <% if @challenge.ruby_embedded? || @challenge.phantomjs_embedded? %>
          <%= render 'embedded_files' %>
        <% else %>
          <%= render 'github_repo' %>
        <% end %>

        <!-- preview and submit button -->
        <div class="solution-buttons">
          <div style="float: left;">
            <% if  current_user.is_admin? || current_user.already_solved?(@challenge) %>
              <%= link_to "<span class='glyphicon glyphicon-blackboard'></span> Ir a la discusión".html_safe, discussion_course_challenge_path(@challenge.course, @challenge), class: "btn btn-success" %>
            <% end %>
          </div>
          <div class="text-right">
            <% if @challenge.preview? %><a href="#" class="btn btn-default btn-preview" target="_blank">Preview</a><% end %>
            <%= submit_tag "Evaluar Solución", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal to zoom images -->
<div id="zoom-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<script type="x/template" id="solution-eval-template">
  <div class="solution-eval">
    <div class="solution-eval-body">
      <span class="glyphicon glyphicon-cloud icon"></span>
      <h3>Estamos evaluando tu solución</h3>
      <p>Por favor espera unos segundos (o minutos)</p>
    </div>
  </div>
</script>

<script type="x/template" id="notification-template">
  <div class="solution-eval">
    <div class="solution-eval-body">
      <span class="glyphicon glyphicon-{{= icon }} icon" style="color: {{= color }}" aria-hidden="true"></span>
      <h3>{{= title }}</h3>
      <p>{{= message }}</p>
    </div>

    <div class="solution-eval-footer">
      <button type="button" class="btn btn-transparent close-overlay" data-dismiss="modal">Cerrar</button>
      {{ if (status == "completed") { }}
      <%= link_to "Continuar <span class='glyphicon glyphicon-chevron-right'></span>".html_safe,
        discussion_course_challenge_path(@challenge.course, @challenge), class: "btn btn-success" %>
      {{ } }}
    </div>
  </div>
</script>

<script>
  (function() {
    var instructionsView = new InstructionsView();
    var solutionView = new SolutionView();

    $(document).on("page:before-change", function() {
      instructionsView.remove();
      solutionView.remove();
    });
  })();
</script>
