<% breadcrumb :challenge, @challenge %>

<div class="container-fluid challenge-page">
  <div class="row">
    <div class="col-md-5 col-lg-6">
      <div class="instructions">
        <header>
          <span class="challenge-title"><%= @challenge.name %></span>
          <span class="challenge-points label <%= @solution.try(:completed?) ? "label-success" : "label-default" %>"><%= @challenge.point_value %> puntos</span>
        </header>
        <div class="instructions-text" ><%= markdown @challenge.instructions %></div>
      </div>
    </div>

    <div class="col-md-7 col-lg-6">
      <div class="solution-wrapper">
        <% if @solution.blank? %>
          <div class="pre-solution">
            <div class="accept-text">
              ¿Aceptas trabajar en este reto?
            </div>
            <div class="text-center">
              <%= link_to '¡Sí, empezar a trabajar!', subject_challenge_solutions_path(@challenge.subject, @challenge),  method: :post, class: "btn btn-primary" %>
            </div>
          </div>
        <% else %>
          <div class="solution" data-solution-id="<%= @solution.id %>">
            <%= form_tag submit_solution_path(@solution.id), id: 'submit-solution', class: 'expand', remote: true do %>
              <div class="solution-entry">
                <% if @challenge.ruby_embedded? || @challenge.phantomjs_embedded? || @challenge.async_phantomjs_embedded? || @challenge.nodejs_embedded? || @challenge.puppeteer_embedded? %>
                  <%= render 'embedded_files' %>
                <% elsif @challenge.ruby_git_pr? %>
                  <%= render 'github_pr' %>
                <% else %>
                  <%= render 'github_repo' %>
                <% end %>
              </div>

              <!-- preview and submit button -->
              <div class="solution-buttons">
                <div>
                  <% if  current_user.is_admin? || @solution.completed_at.present? %>
                    <%= link_to "<span class='glyphicon glyphicon-blackboard'></span> Ir a la discusión".html_safe, discussion_subject_challenge_path(@challenge.subject, @challenge), class: "btn btn-secondary" %>
                  <% end %>
                </div>
                <div class="text-right">
                  <% if @challenge.preview? %><a href="#" class="btn btn-info" id="btn-preview" target="_blank">Preview</a><% end %>
                  <%= submit_tag "Evaluar Solución", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="artificial-tutor-chat hide">
    <header class="main">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </header>
    <div class="messages">
      <div class="message">
        <header>
          <div class="role">Hashy (Tutor Virtual)</div>
        </header>
        <div class="text">Hola, en qué te puedo ayudar?</div>
      </div>
    </div>
    <div class="input">
      <div class="tutor-typing">Hashy está escribiendo ... </div>
      <span placeholder="Ingresa tu pregunta" id="chat-input" contenteditable>
    </div>
  </div>

  <div class="robo-tutor"><%= image_tag 'robo-tutor.png' %></div>
</div>

<!-- Modal to zoom images -->
<div id="zoom-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<script type="x/template" id="solution-eval-template">
  <div class="solution-eval">
    <div class="solution-eval-body">
      <span class="glyphicon glyphicon-cloud icon"></span>
      <h3>Estamos evaluando tu solución</h3>
      <p>Por favor espera unos segundos (o minutos)</p>
    </div>
  </div>
</script>

<script type="x/template" id="success-template">
  <div class="solution-eval">
    <div class="solution-eval-body">
      <span class="glyphicon glyphicon-ok-sign icon" style="color: #4DFF62;" aria-hidden="true"></span>
      <h3>Reto Superado</h3>
      <p><strong>¡Felicitaciones!</strong> Lo lograste.</p>
      <div class="won-points">Has ganado <strong><%=  @challenge.point_value %></strong> puntos.</div>
      <%= render 'users/level_js' %>
    </div>

    <div class="solution-eval-footer">
      <button type="button" class="btn btn-transparent close-overlay" data-dismiss="modal">Cerrar</button>
      <%= link_to "Continuar <span class='glyphicon glyphicon-chevron-right'></span>".html_safe,
        discussion_subject_challenge_path(@challenge.subject, @challenge), class: "btn btn-success" %>
    </div>
  </div>
</script>

<script type="x/template" id="failed-template">
  <div class="solution-eval">
    <div class="solution-eval-body">
      <span class="glyphicon glyphicon-exclamation-sign icon" style="color: #FF4242;" aria-hidden="true"></span>
      <h3>Intenta Nuevamente</h3>
      <pre><code>{{= message }}</code></pre>
    </div>

    <div class="solution-eval-footer">
      <button type="button" class="btn btn-transparent close-overlay" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</script>

<script>
  (function() {
    var instructionsView = new InstructionsView();
    var solutionView = new SolutionView();

    var pusher = new Pusher('<%= Pusher.key %>', {
      encrypted: true
    });
    $(document).on("turbolinks:click", function() {
      pusher.disconnect();
    });

    // refresh editors when tab changes
    $('a[data-toggle="tab"]').on('shown.bs.tab', editors.refresh);

    $(document).on("turbolinks:click", function() {
      instructionsView.remove();
      solutionView.remove();
    });

    var chatId
    function addMessage(message) {
      var role = message.role === "user" ? "You" : "Hashy (Tutor Virtual)"
      var id = message.id ? 'id="msg-' + message.id + '"' : ''
      $('.messages').append('<div class="message" ' + id + '><header><div class="role">' + role + '</div></header><div class="text">' + message.content + '</div></div>')
      var lastMessage = $('.messages .message:last-child')[0]
      $('.messages').scrollTop($('.messages')[0].scrollHeight - lastMessage.scrollHeight - 35)
      $('#chat-input').html('')
    }

    function sendMessage(question) {
      var csrfToken = document.querySelector("[name='csrf-token']").content
      fetch('/chats/' + chatId + '/chat_messages', {
        method: "POST",
        headers: {
          "X-CSRF-Token": csrfToken,
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ request: question })
      }).then(function(response) {
        return response.json()
      }).then(function(message) {
        var channel = pusher.subscribe('chat-message-' + message.id);
        // channel.bind('chat-message:chunk', function(data) {
        //   updateMessage(data.message_id, data.chunk)
        // });
        channel.bind('chat-message:end', function(data) {
          addMessage({ id: message.id, role: "assistant", content: data.text })
          $('.tutor-typing').hide()
          $('#chat-input').attr('contenteditable', true).focus()
          pusher.unsubscribe('chat-message-' + message.id)
        });
        channel.bind('chat-message:error', function(data) {
          alert("Ocurrió un error con Hashy (Tutor Virtual), inténtalo nuevamente.")
          $('#chat-input').attr('contenteditable', true)
          $('.tutor-typing').hide()
          pusher.unsubscribe('chat-message-' + message.id)
        });
      })
    }

    $('.robo-tutor').on('click', function(e) {
      if ($('.artificial-tutor-chat').hasClass('hide')) {
        $('.artificial-tutor-chat').removeClass('hide')
        $('.artificial-tutor-chat #chat-input').focus()
      } else {
        $('.artificial-tutor-chat').addClass('hide')
      }
    })

    $('.artificial-tutor-chat .close').on('click', function(e) {
      $('.artificial-tutor-chat').addClass('hide')
    })

    $('#chat-input').on('keypress', function(e) {
      if (e.keyCode === 13) {
        var question = $(this).html()
        var csrfToken = document.querySelector("[name='csrf-token']").content
        addMessage({ role: "user", content: question })
        $('.tutor-typing').show()
        $('#chat-input').removeAttr('contenteditable').blur()

        if (!chatId) {
          var data = { challenge_id: <%= @challenge.id %> }
          fetch('/chats', {
            method: "POST",
            headers: {
              "X-CSRF-Token": csrfToken,
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          }).then(function(response) {
            return response.json()
          }).then(function(chat) {
            chatId = chat.id
            sendMessage(question)
          })
        } else {
          sendMessage(question)
        }

        return false
      }
    })
  })();
</script>
