<div id="create-user-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Nuevo Usuario</h4>
      </div>

      <div class="alerts-container">
      </div>

      <%= form_for [:admin, @user], remote: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :first_name, "Nombres" %>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :last_name, "Apellidos" %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email, "Correo electrónico" %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :account_type, "tipo de cuenta" %>
            <%= f.select :account_type, options_for_select(User.account_types.keys,"paid_account"),{},class: "form-control" %>
          </div>
          <div class="form-group">
            <span class="radio-caption">Sexo:</span>
            <label class="radio-inline">
              <%= f.radio_button(:gender, :male) %>
              <%= f.label(:true, "Masculino", class: "txt-bold") %>
            </label>
            <label class="radio-inline">
              <%= f.radio_button(:gender, :female) %>
              <%= f.label(:false, "Femenino", class: "txt-bold") %>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.button "Crear Usuario", class: 'btn btn-primary'  %>
        </div>
      <% end %>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div>
