<div id="user-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= @user.new_record? ? "Nuevo Usuario" : "Editar Usuario" %></h4>
      </div>

      <div class="alerts-container">
      </div>

      <%= form_for [:admin, @user], remote: true do |f| %>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :first_name, "Nombres" %>
                <%= f.text_field :first_name, class: "form-control" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :last_name, "Apellidos" %>
                <%= f.text_field :last_name, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :email, "Email" %>
            <%= f.text_field :email, class: "form-control" %>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :account_type, "Tipo de cuenta" %>
                <%= f.select :account_type, account_types, {}, class: "form-control" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :access_type, "Forma de acceso" %>
                <%= f.select :access_type, access_types, {}, class: "form-control" %>
              </div>
            </div>
          </div>

          <% unless @user.new_record? %>
            <div class="form-group">
              <%= f.label :status, "Estado" %>
              <%= f.select :status, user_statuses, {}, class: "form-control" %>
            </div>
          <% end %>
          <div class="form-group">
            <span class="radio-caption">Sexo:</span>
            <label class="radio-inline">
              <%= f.radio_button(:gender, :male) %>
              <%= f.label(:true, "Hombre", class: "txt-bold") %>
            </label>
            <label class="radio-inline">
              <%= f.radio_button(:gender, :female) %>
              <%= f.label(:false, "Mujer", class: "txt-bold") %>
            </label>
          </div>
          <div class="form-group">
            <%= f.label :paths, "Programas" %>
            <%= f.nested_fields_for :path_subscriptions, wrapper_options: { class: 'row margin-bottom'} do |ff| %>
              <div class="col-xs-10">
                <%= ff.collection_select(:path_id, Path.all, :id, ->(path){ "#{path.name}" + (path.published ? "": " (NO publicado)") }, {},{class: "form-control"}) %>
              </div>
              <div class="col-xs-2 text-right">
                <%= ff.remove_nested_fields_link '<span class="glyphicon glyphicon-trash"></span>'.html_safe, class: "btn btn-danger" %>
              </div>
            <% end %>
            <%= f.add_nested_fields_link :path_subscriptions, '<span class="glyphicon glyphicon-plus"></span>'.html_safe, class: "btn btn-primary" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.button @user.new_record? ? "Crear Usuario" : "Actualizar Usuario", class: 'btn btn-primary'  %>
        </div>
      <% end %>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div>
