<div id="users-list" class="container users">
  <div class="row">
    <div class="col-sm-6">
      <h1>Estudiantes</h1>
      <%= link_to "Nuevo usuario", new_admin_user_path,  remote: true, class: "btn btn-primary margin-bottom" %>
    </div>
    <div class="col-sm-6">
      <%= form_tag(admin_users_path, method: "get",
        class: "form-inline pull-right user-search-form") do %>
        <div class="form-group">
          <%= text_field_tag(:q, @q, class: "form-control", placeholder: "Email") %>
        </div>
        <%= button_tag(nil, class: "btn btn-primary", name: nil) do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-sm-6">
      <div id="account-type-filter" class="btn-group">
        <% @account_types.each do |a| %>
          <%= account_type_filter_link(a) %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <%= will_paginate @users, previous_label: "< Anterior",
        next_label: "Siguiente >", class:"pull-right pagination" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table users" id="table-users">
        <thead>
        <tr>
          <th><span class="glyphicon glyphicon-user"></span></th>
          <th>Tipo De Usuario</th>
          <th class="text-center">Fecha Registro</th>
          <th class="text-center">Última Actividad</th>
          <th class="text-center">Retos</th>
          <th class="text-center">Recursos</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
        <tr id="user-<%= user.id %>">
          <td><%= link_to name(user), user_profile_path(user.nickname) %></td>
          <td><%= user.str_account_type %> (<%= user.str_status %>)</td>
          <td class="text-center"><%= l user.created_at, format: '%d %b %Y' %></td>
          <td class="text-center"><%= distance_of_time_in_words_to_now(user.last_active_at) unless user.last_active_at.nil? %></td>
          <td class="text-center"><%= user.solutions.completed.count %></td>
          <td class="text-center"><%= user.resource_completions.count %></td>
          <td class="text-right"><%= link_to "Show", admin_user_path(user) %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div id="account-type-filter" class="btn-group">
        <% @account_types.each do |a| %>
          <%= account_type_filter_link(a) %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <%= will_paginate @users, previous_label: "< Anterior",
        next_label: "Siguiente >", class:"pull-right pagination" %>
    </div>
  </div>
</div>
