<div class="container users-list">
  <div class="row">
    <div class="col-sm-12">
      <div class="users-list-header">
        <h1>Alumnos</h1>
        <div class="users-list-header-actions">
          <%= link_to "<span class='glyphicon glyphicon-plus'></span> Nuevo alumno".html_safe, new_admin_user_path, remote: true, class: "btn btn-primary new-user" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="users-list-subheader">
        <%= form_tag(admin_users_path, method: "get",
          class: "form-inline users-list-search-form") do %>
          <div class="form-group">
            <%= text_field_tag(:q, @q, class: "form-control", placeholder: "Email") %>
          </div>
          <%= button_tag(nil, class: "btn btn-secondary", name: nil) do %>
            <span class="glyphicon glyphicon-search"></span>
          <% end %>
        <% end %>
        <%= will_paginate @users, previous_label: "&laquo;".html_safe, next_label: "&raquo;".html_safe, class:"pagination" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table users" id="table-users">
        <thead>
          <tr>
            <th>Alumno</th>
            <th>Estado</th>
            <th>Programa</th>
            <th class="text-center">Última Actividad</th>
            <th class="text-center">Avance</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr id="user-<%= user.id %>">
            <td>
              <span class="name"><%= link_to full_name(user), user_profile_path(user.nickname) %></span>
              <span class="email"><%= user.email %></span>
            </td>
            <td><%= status(user) %></td>
            <td><%= user.paths.pluck(:name).join(", ") %></td>
            <td class="text-center"><%= distance_of_time_in_words_to_now(user.last_active_at) unless user.last_active_at.nil? %></td>
            <td class="text-center">
              <span class="points"><%= user.stats.total_points %></span>
              <span class="level"><%= user.level.name %></span>
            </td>
            <td class="text-right"><%= link_to '<span class="glyphicon glyphicon-user"></span>'.html_safe, admin_user_path(user) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="users-list-footer">
        <%= will_paginate @users, previous_label: "&laquo;".html_safe, next_label: "&raquo;".html_safe, class:"pagination" %>
        <div class="users-list-footer-records"><%= @users.size %> registros</div>
      </div>
    </div>
  </div>
</div>
