<div class="container phases-page">
  <% if current_user.is_admin? %>
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= link_to "<span class='glyphicon glyphicon-plus'></span> &nbsp;Nueva Fase".html_safe, new_phase_path, class: "btn btn-success new-course-btn" %>
      </div>
    </div>
  <% end %>
  <% if current_user.is_admin? %>
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= link_to "<span class='glyphicon glyphicon-plus'></span> &nbsp;Nuevo Curso".html_safe, new_course_path, class: "btn btn-success new-course-btn" %>
      </div>
    </div>
  <% end %>
  <div class="row phases-list phases">

    <div class="col-md-6 col-md-offset-3">
      <%= quote %>
    </div>

    <% @phases.each_with_index do |phase,i| %>
      <div id="phase_<%=phase.id%>" class="col-xs-12 col-md-offset-3 col-md-6" data-sortable="true" data-resource-id="<%= phase.id %>">
        <% if current_user.is_admin? %>
          <div class="actions">
            <% if !phase.published %>
              <span class="glyphicon glyphicon-exclamation-sign action action-warn" data-toggle="tooltip" data-placement="bottom" title="No publicado"></span>
            <% end %>
            <%= link_to edit_phase_path(phase) do %>
              <span class="glyphicon glyphicon-pencil action action-edit"></span>
            <% end %>
          </div>
        <% end %>
        <%= link_to phase_path(phase), class: "phase-box phase-#{i+1}", style:"border-color:#{phase.color}" do %>
          <span class="phase-number" style="background-color:<%=phase.color%>;">Fase <%= i+1 %></span>
          <h2 class="phase-name">
            <%= phase.name %>
          </h2>
          <p class="phase-description">
            <%= phase.description %>
          </p>
        <% end %>
      </div>
      <div class="clearfix"></div>
    <% end %>

  </div>
</div>

<% if current_user.is_admin? %>
  <script>
    (function() {
      var sortable_phases = new SortableView({el: ".phases",resource:"phases"});
      $(document).on("page:before-change", function() {
        sortable_phases.remove();
      });
    })()
  </script>
<% end %>
