<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#right-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("logo-white-app.png", style: "width: 150px; margin-left: 10px; margin-top: 3px;"), signed_in_root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="right-menu">
        <% if signed_in? %>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Inicio", dashboard_path %></li>
            <li><%= link_to "Temas", subjects_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.is_admin? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Dashboard", admin_dashboard_path %></li>
                  <li><%= link_to "Pagos", admin_charges_path %></li>
                  <li><%= link_to "Usuarios", admin_users_path %></li>
                  <li><%= link_to "Insignias", admin_badges_path %></li>
                  <li><%= link_to "Niveles", admin_levels_path %></li>
                  <li><%= link_to "Retos", admin_challenges_path %></li>
                  <li><%= link_to "Soluciones", admin_solutions_path %></li>
                  <li><%= link_to "Comentarios", admin_comments_path %></li>
                  <li><%= link_to "Soluciones de proyectos", admin_project_solutions_path(status: "pending_review") %></li>
                  <li><%= link_to "Programas y Fases", admin_paths_path %></li>
                  <li><%= link_to "Cursos", admin_subjects_path %></li>
                </ul>
              </li>
            <% end %>
            <li class="nav-user-level">
              <a href="http://blog.makeitreal.camp/2015/09/15/niveles-make-it-real/" target="_blank">
                <%= @current_user.current_points %> <span class="txt-small">pts.</span>
                <%= image_tag @current_user.level.image_url, class: "user-badge" %>
              </a>
            </li>
            <%= render "notifications/widget", user: current_user %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                <img src="<%= Gravatar.new("#{current_user.email}").image_url %>" class="img-circle" />
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Mi Perfil", user_profile_path(current_user.nickname) %></li>
                <li><%= link_to "Editar Perfil", edit_user_path(current_user) %></li>
                <% if current_user.password? %>
                  <li><%= link_to "Cambiar Contraseña", edit_password_path, remote: true %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to "<span class='glyphicon glyphicon-book'></span> <span class='hidden-xs'>Guía del estudiante</span>".html_safe, handbook_path %></li>
                <li><a href="http://blog.makeitreal.camp/" target="_blank"><span class='glyphicon glyphicon-link'></span> Blog</a></li>
                <li class="divider"></li>
                <li><%= link_to "Salir", logout_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Ingresar", login_path %></li>
          </ul>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
