<% hide_login ||= false %>
<% show_apply ||= false %>

<header>
  <nav class="navbar navbar-static-top <%= class_name %>">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("#{logo_path}", width: 180, alt: "Logo Make it Real"), root_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Programas <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li role="separator" class="divider"></li>
              <li class="program-menu-divider"><span>ONLINE</span></li>
              <li class="<%= 'active' if params[:action] == 'full_stack_online' %>">
                <%= link_to full_stack_online_path do %>
                  <span class="icon-menu"><%= image_tag "full-stack-blue.png", height: 28 %></span>
                  <span class="text-menu">Full Stack Web Developer</span>
                <% end %>
              </li>
              <li class="<%= 'active' if params[:action] == 'front_end_online' %>">
                <%= link_to front_end_online_path do %>
                  <span class="icon-menu"><%= image_tag "front-end-blue.png", height: 25 %></span>
                  <span class="text-menu">Front End Web Developer</span>
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li class="program-menu-divider"><span>PRESENCIALES</span></li>
              <li class="<%= 'active' if params[:action] == 'full_stack_bogota' %>">
                <%= link_to full_stack_bogota_path do %>
                  <span class="icon-menu"><%= image_tag "full-stack-red.png", height: 25 %></span>
                  <span class="text-menu">Full Stack en <strong>Bogotá</strong></span>
                <% end %>
              </li>
              <li class="<%= 'active' if params[:action] == 'full_stack_medellin' %>">
                <%= link_to full_stack_medellin_path do %>
                  <span class="icon-menu"><%= image_tag "full-stack-red.png", height: 25 %></span>
                  <span class="text-menu">Full Stack en <strong>Medellín</strong></span>
                <% end %>
              </li>
              <li class="<%= 'active' if params[:action] == 'full_stack_barranquilla' %>">
                <%= link_to full_stack_barranquilla_path do %>
                  <span class="icon-menu"><%= image_tag "full-stack-red.png", height: 25 %></span>
                  <span class="text-menu">Full Stack en <strong>Barranquilla</strong></span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="<%= 'active' if params[:action] == 'makers' %>"><%= link_to "Alumnos", makers_path %></li>
          <li class="<%= 'active' if params[:action] == 'faq' %>"><%= link_to "FAQ", faq_path %></li>
          <li><a href="http://blog.makeitreal.camp/">Blog</a></li>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if !hide_login %>
            <li><%= link_to "Ingresar", login_path %></li>
          <% end %>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
</header>
