<% hide_login ||= false %>
<% hide_programs ||= false %>
<% show_apply ||= false %>

<header>
  <nav class="navbar navbar-static-top <%= class_name %>">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("#{logo_path}", alt: "Logo Make it Real"), root_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <% if !hide_programs %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Programas <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="<%= 'active' if params[:action] == 'top' %>">
                <%= link_to top_path do %>
                  <span class="icon-menu"><%= image_tag "full-stack-blue.png", height: 28 %></span>
                  <span class="text-menu">Top (Full Stack Developer)</span>
                <% end %>
              </li>
              <li class="<%= 'active' if params[:action] == 'ruby_on_rails' %>">
                <%= link_to ruby_on_rails_path do %>
                  <span class="icon-menu"><span class="glyphicon glyphicon-stats" aria-hidden="true" style="font-size: 21px; margin-left: 7px; color: #3877ba; margin-top: -3px;"></span></span>
                  <span class="text-menu">Ruby on Rails (Backend)</span>
                <% end %>
              </li>
              <li class="<%= 'active' if params[:action] == 'introduccion_a_javascript' %>">
                <%= link_to introduccion_a_javascript_path do %>
                  <span class="icon-menu"><%= image_tag "front-end-blue.png", height: 28 %></span>
                  <span class="text-menu">Introduccion a Javascript</span>
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
          <li><a href="http://blog.makeitreal.camp/">Blog</a></li>
          <li><%= link_to "Eventos", webinars_path, data: { turbolinks: false } %></li>
          <% if !hide_login %>
            <li><%= link_to "Ingresar", login_path, class: "btn-login navbar-btn", data: { turbolinks: false } %></li>
          <% end %>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
</header>
