<div class="container aplication">
  <ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Top program</a>
  </li>
  </ul>
  <div class="row first_row">
    <div class="col-sm-3 left_ list">
      <ul class="list-group">
        <% TopApplicant.statuses.each do |status| %>
          <li class="list-group-item statuses_list"><%= status[0] %><span class="badge badge-primary badge-pill"><%= count_application_status(status[0]) %></span></li>
        <% end %>
      </ul>
       <div class="new_email_template">
        <%= link_to "<span class='glyphicon glyphicon-plus'> PLANTILLA DE CORREO</span> ".html_safe, admin_email_templates_path,class:"btn btn-primary"%> 
      </div>
    </div>
    <div class="col-sm-9" >
      <div class="row">
        <div class="col-md-5">
          <form action="/admin/applicants" class="search-form">
          <div class="form-group has-feedback">
            <label for="search" class="sr-only">Buscar</label>
            <input type="text" class="form-control" name="search" id="search" placeholder="Buscar por nombre o email">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div> 		  
          </form>
        </div>

        <div class="col-md-3 col-md-offset-3">
          <div class="dropdown">
          <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">Filtrar por estado <span class="caret"></span> </a>
          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <li><a href="/admin/applicants" class="list-group-item"> Todos </a></li>
            <li>
              <% TopApplicant.statuses.each do |status| %>
                <a href="/admin/applicants?status=<%= status[0] %>" class="list-group-item"><%=status[0]%></a>
              <% end %>
            </li>
          </ul>
          </div>
        </div>
      </div>

      <%@topApplicants.each do |topApplicant|%>
      <div class="row aplication_names">
        <div class="col-sm-4">
          <ul>
            <li class="medium_size_element_aplication"><%=topApplicant.first_name%> <%=topApplicant.last_name%></li>
            <li class="small_size_element_aplication"><%=topApplicant.email%></li>
            <li class="small_size_element_aplication"><%=topApplicant.created_at.strftime("%B %d at %I:%M %p")%></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-offset-1" >
          <ul>
            <li class="medium_size_element_aplication"><%=topApplicant.status%></li>
            <li class="small_size_element_aplication"><%=topApplicant.updated_at.strftime("%B %d at %I:%M %p")%></li>
            <li class="small_size_element_aplication"> <%= ApplicantActivity.where(applicant_id:topApplicant.id).count %></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class=" btn_detail_aplicants btn btn-primary" data-target="#" href="admin/applicants/<%= topApplicant.id %>.html">Ver Detalle <span class="caret"></span></a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="">
              <%=link_to "ver aplicación", admin_applicant_path(topApplicant.id)%>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
