<div class="container top_applicant_test">
  <div class="col-sm-3">
    <div class="row top_applicant_info">
      <div class="">
        <h1 class="top_applicant_name"><%=@topApplicant.first_name%> <%=@topApplicant.last_name%></h1>
      </div>
      <div class="">
        <p><%=@topApplicant.email%></p>
      </div>
      <br>
      <div class="top_applicant_block1">
        <h4><strong>Fecha de Aplicación:</strong></h4>
        <h6><%=@topApplicant.created_at%></h6>
      </div>
      <div class="top_applicant_block1">
        <h4><strong>Última Actualización:</h4>
        <h6><%=@topApplicant.updated_at%></h6>
      </div>
      <div class="top_applicant_block1">
        <h4><strong>País:</strong></h4>
        <h5.9><%=@topApplicant.country%></h6>
      </div>
      <div class="top_applicant_block1">
        <h4><strong>Fecha de Nacimiento:</strong></h4>
        <h6><%=@topApplicant.info["birthday"]%></h6>
      </div>
      <div class="top_applicant_block1">
        <h4><strong>Género:</strong></h4>
        <h6><%=@topApplicant.info["gender"]%></h6>
      </div>
      <div class="top_applicant_block1">
        <h4><strong>Celular:</strong></h4>
        <h6><%=@topApplicant.mobile%></h6>
      </div>
      <div class="top_applicant_block1">
        <h4><strong>Skype:</strong></h4>
        <h6><%=@topApplicant.info["skype"]%></h6>
      </div>
      <div class="top_applicant_block1">
        <h4><strong>Twitter:</strong></h4>
        <h6><%=@topApplicant.info["twitter"]%></h6>
      </div>
      <div class="top_applicant_block1">
        <h4><strong>Url:</strong></h4>
        <h6><%=@topApplicant.info["url"]%></h6>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-9">
        <p id="topApplicant_status"><%= @topApplicant.status %></p>
      </div>
    </div>
      <div class="row top_applicant_texts">
        <div class="col-sm-12 col-sm-offset-2">
          <div>
            <h3><strong>Motivación:</strong></h3>
            <h5><%=@topApplicant.info["goal"]%></h5>
          </div>
          <div>
            <h3><strong>Experiencia:</strong></h3>
            <h5><%=@topApplicant.info["experience"]%></h5>
          </div>
          <div>
            <h3><strong>Info Adicional:</strong></h3>
            <h5><%=@topApplicant.info["additional"]%></h5>
          </div>
          <hr style="border: solid 1px grey">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#change_state">
          Cambiar estado:
          </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#send_email">
          Enviar email:
          </button>
          <%= render "top_application_modals", { topApplicant: @topApplicant }%>

          <div class="form_comment_application">
            <%= form_tag ("/admin/applicant_activities") do%>
            <div class="form-group">
              <%= hidden_field_tag :applicant_id, @topApplicant.id%>
              <%= hidden_field_tag :comment_type, 1%>
              <%= text_area_tag :comment,nil, class:"form-control input-lg", placeholder:"Ingresa un comentario"%>
            </div>
            <%= submit_tag "Agrega tu comentario", class:"btn btn-primary btn-block" %>
            <% end %>
            <div class="comments_applicant">
              <ul class="top_applicant_ul">
              <% @comments.each do |comment| %>
              <% user= User.find(comment.user_id) %>

               <% if comment.comment_type =="texto" %>
                  <li><p class="topApplicant_date"> <%= comment.created_at.strftime("%B %d at %I:%M %p") %></p>
                      <p><%=user.profile["first_name"] %> <%=user.profile["last_name"]%> dejo el siguiente comentario: </p>
                      <p class="topApplicant_message"><%= comment.comment %></p>
                      <hr style="border: solid 1px #dbdee1">
                  </li>
                      <% end %>
                      <% if comment.comment_type =="cambio_de_estado" %>
                  <li><p class="topApplicant_date"> <%= comment.created_at.strftime("%B %d at %I:%M %p") %></p>
                      <p><%=user.profile["first_name"] %> <%=user.profile["last_name"]%> cambio el estado de: <strong> <%= comment.info["past_status"] %></strong> a: <strong>   <%= comment.info["current_status"] %></strong> </p>
                      <p class="topApplicant_message"><%= comment.comment %></p>
                      <hr style="border: solid 1px #dbdee1">
                  </li>
                      <% end %>
                      <% if comment.comment_type =="correo" %>
                  <li><p class="topApplicant_date"> <%= comment.created_at.strftime("%B %d at %I:%M %p") %></p>
                      <p><%=user.profile["first_name"] %> <%=user.profile["last_name"]%> envío un correo con asunto: <%=comment.info["subject"]%> </p>
                      <p class="topApplicant_message"><%= comment.comment %></p>
                      <hr style="border: solid 1px #dbdee1">
                  </li>
                <% end %>
              <% end %>
                    <li><p class="topApplicant_date"> <%= @topApplicant.created_at.strftime("%B %d at %I:%M %p") %></p>
                       <p> Se creo la aplicación. </p>
                       <hr style="border: solid 1px #dbdee1">
                   </li>
              </ul> 
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
