<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'makeit<strong>real</strong><span class="camp">.camp</span><span class="start">START</span>'.html_safe, root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.is_admin? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Usuarios", users_path %></li>
                </ul>
              </li>
            <% end %>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                <img src="<%= Gravatar.new("#{current_user.email}").image_url %>" class="img-circle" />
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Editar Perfil</a></li>
                <li><a href="#">Cambiar Contraseña</a></li>
                <li class="divider"></li>
                <li><%= link_to "Salir", logout_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Ingresar", login_path %></li>
          </ul>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
