<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("logo-dark.png", size: "150x48"), root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.paid_account? || current_user.is_admin? %>
              <li><%= link_to "<span class='glyphicon glyphicon-book'></span> <span class='hidden-xs'>Handbook</span>".html_safe, handbook_path %></li>
            <% end %>
            <li><a href="http://makeitreal.camp/blog" target="_blank">Blog</a></li>
            <% if current_user.is_admin? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Dashboard",    admin_dashboard_path %></li>
                  <li><%= link_to "Usuarios",     admin_users_path %></li>
                  <li><%= link_to "Soluciones",   admin_solutions_path %></li>
                  <li><%= link_to "Comentarios", admin_comments_path %></li>
                </ul>
              </li>
            <% end %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                <img src="<%= Gravatar.new("#{current_user.email}").image_url %>" class="img-circle" />
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Editar Perfil", edit_user_path(current_user) %></li>
                <li><%= link_to "Cambiar Contraseña", edit_password_path, remote: true %></li>
                <li class="divider"></li>
                <li><%= link_to "Salir", logout_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Ingresar", login_path %></li>
          </ul>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
