<!DOCTYPE html>
<html class="expand" lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<head>

  <title><%= @title || "Make it Real - Transformando la educación" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Language" content="<%= I18n.locale.to_s %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Open+Sans+Condensed:300,700|Karla:400,700' rel='stylesheet' type='text/css'>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>
  !function(t,c,e,n){
    t.ChatConfigFn=n,t.ch=t.ch||function(){(t.ch.q=t.ch.q||[]).push(arguments)};
    var h=c.createElement("script"),a=c.getElementsByTagName("script")[0];
    h.async=1,h.src="https://masterchat.co/v1/chat.js",a.parentNode.insertBefore(h,a)
  }(window,document,0,"ch");
</script>

  <%= yield :head %>
</head>
<body class="expand">
  <%= render "layouts/navbar/app" %>
  <div class="content-wrapper expand">
    <%= breadcrumbs style: :bootstrap %>
    <%= render "utils/alerts" %>
    <%= yield %>
  </div>

  <div class="overlay"></div>

  <% if signed_in? && current_user.has_chat_access %>
    <script>
      function configureChat() {
        ch("configure", { uid: "e86e789a", email: "<%= current_user.email%>", firstName: "<%= current_user.first_name %>", lastName: "<%= current_user.last_name %>" });
      }
      $(document).ready(configureChat);
      $(document).on("page:load", configureChat);
    </script>
  <% end %>
</body>
</html>
