<!DOCTYPE html>
<html class="expand">
<head>

  <title><%= @title || "Make it Real - Transformando la educación" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render "utils/google_analytics" %>
  <%= render "utils/support_chat" %>

  <%= yield :head %>
</head>
<% if @home %>
  <%= yield %>
<% else %>
<body class="expand">
  <%= render "layouts/navbar" %>
  <div class="content-wrapper expand">
    <% flash.each do |name, msg| -%>
      <div class="alert-top alert-top-<%= name %> fade in">
        <%= msg.html_safe %>
      </div>
    <% end -%>

    <%= yield %>
  </div>

  <div class="overlay"></div>

  <%= render "layouts/content_navigation" %>
  <%= render "utils/sign_up_analytics" %>

</body>
<% end %>
</html>
