<!DOCTYPE html>
<html class="expand">
<head>
  <title>Make it Real - Start</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="expand">
  <%= render "layouts/navigation" %>
  <div class="content-wrapper expand">
  <% flash.each do |name, msg| -%>
    <div class="alert-top alert-top-<%= name %> fade in">
      <%= msg.html_safe %>
    </div>
  <% end -%>

  <%= yield %>
  </div>

</body>
</html>
