<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<head>
  <title><%= @title || "Conviértete en Web Developer con programas presenciales u online" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Language" content="<%= I18n.locale.to_s %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Open+Sans+Condensed:300,700|Karla:300,400,700' rel='stylesheet' type='text/css'>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render "utils/fb_pixel" %>
  <%= render "utils/google_analytics" %>
  <%= render "utils/ab_testing_optimizely" %>
  <%= render "utils/crazyegg" %>
  <%= render "utils/convertloop" %>

  <%= yield :head %>
</head>
<body class="pages-layout">
  <%= render "utils/google_tagmanager" %>
  <%= render "utils/alerts" %>
  <%= yield %>
</body>
</html>
